// 初始化
body{
    height: max-content;
    min-height: 100vh;

    margin: 0px ;
    padding: 0px;

    background-image: url(../img/背景.png);
}

*{
    box-sizing: border-box;
}

// a標籤初始化
a{
    display: block;
    color: unset;
    text-decoration: none;
}

// img初始化
img{
    display: block;
}

// 滾軸樣式 
// 寬度
::-webkit-scrollbar {
    width: 15px;
    @media all and (max-width: 1250px) {
       width: 10px;
    }
    @media all and (max-width: 800px) {
        width: 8px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(151, 151, 151, 0.829); 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D5D5D5; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #A9B7C0; 
} 

// ul li初始化
ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    li{
        padding: 0px;
        margin: 0px;
    }
}

// container 若套用bootstrap不可使用container命名
.mycontainer{
    width: 1600px;

    padding: 8px;
    margin: auto;
    @media all and (max-width: 1700px) {
        width: 100%;

        padding: 0px 32px;
    }
    @media all and (max-width: 1250px) {
        padding: 0px 16px;
    }
    @media all and (max-width: 800px) {
        padding: 0px 8px;
    }
}

// nav 導覽列
nav{
    width: 100%;

    display: flex;
    margin:0px auto;
    justify-content: center;

    // 釘選在最上面
    position: sticky;
    top: 0px;
    z-index: 80;

    padding: 10px 0px;

    background-image: url(../img/背景.png);
 
    overflow: hidden;
    .nav{
        width: 1600px;
        height: max-content;

        display: flex;     
        align-items: center;

        position: relative;
        @media all and (max-width: 1700px) {
            width: 100%;
            padding: 0px 30px;
        }
        @media all and (max-width: 861px) {
            width: 100%;
            padding: 0px 8px;
        }
    
        // nav大標
        .title{
            width: max-content;

            margin:0px auto;

            font-size: 48px;
            font-weight: 600;
            letter-spacing: 5px;
            // 假如英文用這個
            font-family:-apple-system;

            color: rgb(64, 85, 110);
            // 調整字體大小 字距
            @media all and (max-width: 1700px) {
                font-size:42px;
            }
            @media all and (max-width: 1200px) {
                font-size: 36px;
                letter-spacing: 4px;
            }
            @media all and (max-width: 800px) {
               font-size: 32px;
               letter-spacing: 3px;
            }
            @media all and (max-width: 600px) {
                font-size: 28px;
                letter-spacing: 2px;
            }
            @media all and (max-width: 500px) {
                font-size: 24px;
                letter-spacing: 1px;
            }
            @media all and (max-width: 400px) {
                font-size: 20px;
                letter-spacing: 1px;
            }
            @media all and (max-width: 350px) {
                font-size: 18px;
                letter-spacing: 1px;
            }
        }
        // 按鈕固定兩側
        .nav-btn{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        // 回上頁
        .back-btn{
            left: 8px;
        }
        // 回主頁
        .home-btn{
            right: 8px;
        }
        a{
            width: max-content;
            display: block;
            .btn{
                max-width: 150px;
                width: 150px;
                height: max-content;

                outline: none;
                background-color: #a3c8df;
                color: #1D2731;
                box-shadow: 5px 5px 10px  #595b5e60;
                -webkit-box-shadow: 3px 3px 8px  #595b5e60;       

                padding: 8px 25px;

                border-radius: 3px;

                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1.5px;
                text-align: center;
                // 調整按鈕大小
                @media all and (max-width: 1700px) {
                    font-size: 18px;
                }
                @media all and (max-width: 1000px) {
                    font-size: 16px;
                }
                @media all and (max-width: 800px) {
                    font-size: 14px; 
                    letter-spacing: 1px;

                    padding: 5px 10px;
                }
                @media all and (max-width: 500px) {
                    max-width: 70px;
                    width: 70px;

                    font-size: 12px; 

                    padding: 5px 8px;
                }
                span{
                    width: max-content;
                    height: max-content;
                }
                &:hover{
                    background-color: #235470;
                    color: white;

                    transition: .6s;
                }
            }
        }
    }
}

// 麵包屑
.breadcrumb  {
    max-width: 100%;

    //    釘選在nav後
    position: sticky;
    top: 84px;
    z-index: 80;

    padding-bottom: 15px;
    // 調整距離
    @media all and (max-width: 1700px) {
        top: 76px;
    }
    @media all and (max-width: 1200px) {
        top: 68px;
    }
    @media all and (max-width: 800px) {
        top: 62px;
    }
    @media all and (max-width: 600px) {
        top: 57px;
    }
    @media all and (max-width: 500px) {
        top: 47px;
    }
    @media all and (max-width: 400px) {
        top: 45px;
    }

    // 麵包屑內容
   .mycontainer{
        display: flex;
        align-items: center;

        padding: 0px 8px;
        padding-top: 48px;
        padding-bottom: 10px;
     
        position: relative;

        border-bottom: 1px solid gainsboro;
        @media all and (max-width: 1620px) {
            width: 98%;
        }
        @media all and (max-width: 700px) {
            padding-bottom: 8px;
        }
        @media all and (max-width: 500px) {
            padding-bottom: 5px;
        }
      
        // 搜尋欄
        .search{
            width: max-content;
            width: 500px;

            display: flex;
            margin: 0px auto;

            position: absolute;
            left: 50%;
            top: 0px;
            transform: translate(-50%,0%);
            @media all and (max-width: 700px) {
                width: calc(50% - 30px);

                top: 10px;
                left: 0px;
                transform: translate(0%,0%);

                font-size: 14px;
            }
            @media all and (max-width: 500px) {
                width: calc(50% - 5px);

                font-size: 12px;
            }
            // 搜尋框 input
            input{
                width: 100%;
                height: 36px;

                outline: none;
                border: 1px solid gainsboro;
                border-radius: 30px;

                text-align: center;
                font-size: 14px;
                @media all and (max-width: 700px) {
                    height: 31px;
                }
            }
            // 搜尋框icon
            .fa-search{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);

                font-size: 20px;

                color: gray;
                @media all and (max-width: 700px) {
                    font-size: 18px;
                }
                @media all and (max-width: 500px) {
                    display: none;
                }
            }
        }
        // 查價清單按鈕
        .check-price{
            margin-left: auto;
            padding: 3px 6px;

            background-color: darkred;
            border: 2px solid darkred;
            border-radius: 3px;
            box-shadow: 3px 3px 10px rgba(85, 4, 4, 0.356);
            
            letter-spacing: 1.5px;
            font-weight: 600;
            color: white;   
            &:hover{
                background-color: white;
                color: darkred;

                transition: .6s;
            }
            @media all and (max-width: 700px) {
                width: calc(50% - 30px);

                position: absolute;
                top: 10px;
                right: 0px;
                transform: translate(0%,0%);
               
                font-size: 14px;
                text-align: center;

                border-radius: 15px;
            }
            @media all and (max-width: 500px) {
                width: calc(50% - 5px);

                // border-radius: 5px;

                font-size: 12px;
            }
        }
        // 麵包屑路徑
        ul{
            margin: 0px;
            padding: 0px;
            padding-left: 8px;

            margin-right: auto;

            list-style: none;
           
            display: flex;
            flex-wrap: wrap;
            // li跟a標籤字體大小必須同步，因為最後一個li沒有包a標籤
            li{
                display: flex;

                font-size: 16px;
                letter-spacing: 1.5px;
                font-weight: 600;
                color: gray;
                // 調整麵包屑字體大小 與a標籤同步
                @media all and (max-width: 700px) {
                    font-size: 14px;
                }
                @media all and (max-width: 500px) {
                    font-size: 12px;
                }
                @media all and (max-width: 400px) {
                    font-size: 10px;
                }
                // 麵包屑路徑連結
                a{
                    display: initial;
                    color: gray;

                    text-decoration: none;
                    font-size: 16px;
                    // 調整麵包屑字體大小 與li同步
                    @media all and (max-width: 700px) {
                        font-size: 14px;
                    }
                    @media all and (max-width: 500px) {
                        font-size: 12px;
                    }
                    @media all and (max-width: 400px) {
                        font-size: 10px;
                    }
                }
                // 最後一個路徑不必點擊連結
                &:nth-last-child(1){
                    color: #235470;
                    a{
                        color: #235470;
                    }
                }
                // 針對首頁設定顏色
                &:nth-child(1){
                    color: gray !important;
                }
            }
            // 路徑的 、
            li+li:before {
                padding-left: 5px;

                font-size: 20px;
                color: black;

                content: "/\00a0";
            }
        }
    } 
}