// 彈跳提示視窗
.messagebox-lists{
    // 黑色背景 釘選在body
    .messagebox-contents{
        width: 100vw;
        max-width: 1920px;
        height: 100vh;
        max-height: 100vh;

        background-color: rgba(0, 0, 0, 0.651);

        position: fixed;
        top: 0px;
        z-index: 90;

        display: none;
        &.show{
            display: block;

            transition: .6s;
        }
        // 彈跳視窗內容
        .messagebox-content{
            width: 40%;
            height: 60vh;
            max-height: 50vh;

            position: absolute;
            left: 50%;
            bottom: 50%;
            transform: translate(-50%,50%);
           
            background-color: white;
            border-radius: 5px;

            overflow-y: auto;
            // 調整內容大小
            @media all and (max-width: 1400px) {
               width: 60%;
            }
            @media all and (max-width: 1000px) {
                width: 80%;
            }
            @media all and (max-width: 861px) {
                height: 70vh;
            }
            @media all and (max-width: 500px) {
                width: 90%;
                height: 90vh;
            }
            // 關閉按鈕
            .messagebox-close-btn{
                font-size: 42px;
                color: darkred;

                position: -webkit-sticky;
                position: -moz-sticky;
                position: -o-sticky;
                position: -ms-sticky;
                position: sticky;                
                top: 0px;
                left: 100%;
                transform: translateY(-3px);

                cursor: pointer;
                // 調整大小間距
                @media all and (max-width: 1000px) {
                    font-size: 32px;
                }
                @media all and (max-width: 861px) {
                    font-size: 28px;
                    margin-bottom: 15px;
                }
                @media all and (max-width: 500px) {
                    font-size: 24px;
                    margin-bottom: 10px;
                }
            }
            // 彈跳視窗標題
            .messagebox-title{
                margin-bottom: 15px;

                font-size: 24px;
                font-weight: 600;
                text-align: center;
                letter-spacing: 1.5px;
                @media all and (max-width: 861px) {
                    font-size: 22px;
                }
                @media all and (max-width: 500px) {
                    font-size: 20px;
                }
            }
            // 彈跳視窗內容
            .messagebox-texts{
                width: 90%;
                margin: 0px auto;

                padding: 30px;

                border: 3px solid sandybrown;
                border-radius: 10px;

                @media all and (max-width: 861px) {
                    padding: 20px;
                }
                @media all and (max-width: 500px) {
                    padding: 10px;
                }
            }

            //按鈕們
            .messagebox-btns{
                display: flex;
                justify-content: center;

                padding: 30px 0px;
                @media all and (max-width: 861px) {
                    padding: 20px 0px;
                }
                
                // 下方確認按鈕
                .messagebox-btn{
                    width:30%;
                    min-width: 200px;

                    padding: 10px 5px;
                    background-color: salmon;
                    border: 2px solid salmon;
                    border-radius: 5px;

                    font-weight: 600;
                    letter-spacing: 1.5px;
                    font-size: 18px;
                    text-align: center;
                    color: white;

                    cursor: pointer;
                    @media all and (max-width: 861px) {
                        font-size: 16px;
                        padding: 5px 5px;
                    }
                    @media all and (max-width: 500px) {
                        font-size: 14px;
                        padding: 3px 5px;
                    }
                    &:hover{
                        background-color: white;
                        color:salmon ;
                        transition: .6s;
                    }

                }
            }
        }
    }
}