body{
    margin: 0px ;
    padding: 0px;
    height: 3000px;
    background-image: url(/img/背景.png);
}

*{
    box-sizing: border-box;
}

// 滾軸樣式
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #D5D5D5; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #A9B7C0; 
} 

.container{
    width: 1600px;
    padding: 8px;
    margin: auto;
    @media all and (max-width: 1700px) {
        width: 100%;
        padding: 0px 32px;
    }
    @media all and (max-width: 500px) {
        padding: 0px 16px;
    }
}

// 反回上一頁按鈕
nav{
    background-image: url(/img/背景.png);
    opacity: 0.9;

    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: transparent;

    padding: 20px 0px;
    overflow-x: hidden;
    @media all and (max-width: 800px) {
        width: 100%;
        padding-top: 60px;
    }
    .nav{
        display: flex;
        width: 1600px;
        height: max-content;
        @media all and (max-width: 1700px) {
            width: 100%;
            padding: 0px 50px;
        }
        @media all and (max-width: 800px) {
            width: 100%;
            padding: 0px 20px;
        }
        .title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 64px;
            font-weight: 600;
            letter-spacing: 5px;
            font-family:-apple-system;
            color: rgb(64, 85, 110);
            @media all and (max-width: 1700px) {
                font-size:52px;
            }
            @media all and (max-width: 800px) {
               top: 25%;
               font-size: 48px;
            }
            @media all and (max-width: 600px) {
                top: 25%;
                font-size: 42px;
             }
        }
        a{
            width: max-content;
            display: block;
            .btn{
                color: #1D2731;
                -webkit-box-shadow: 5px 5px 10px  #595b5e60;
                // background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);  
                outline: none;
                background-color: #a3c8df;
                padding: 8px 25px;
                border-radius: 3px;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1.5px;
                @media all and (max-width: 1700px) {
                    -webkit-box-shadow: 3px 3px 8px  #595b5e60;
                    padding: 6px 20px;
                    font-size: 18px;
                }
                @media all and (max-width: 100px) {
                    -webkit-box-shadow: 3px 3px 8px  #595b5e60;
                    padding: 6px 20px;
                    font-size: 16px;
                }
                @media all and (max-width: 800px) {
                    font-size: 16px; 
                    padding: 5px 15px;
   
                }
                @media all and (max-width: 400px) {
                    font-size: 14px; 
                    padding: 5px 12px;
   
                }
                &:hover{
                    background-color: orange;
                    color: white;
                    transition: .6s;
                    .fa-angle-double-left{
                        transform: translateX(-8px);
                        transition: .2s;
                        @media all and (max-width: 1700px) {
                            transform: translateX(-6px);
                        }
                    }
                    .fa-angle-double-up{
                        transform: translatey(-2px);
                        font-size: 20px;
                        transition: .2s;
                    }
                }
                .fa-angle-double-left{
                    font-size: 22px;
                    margin-right: 5px;
                    @media all and (max-width: 1700px) {
                        font-size: 18px;    
                    }
                   
                }
                .fa-angle-double-up{
                    font-size: 22px;
                    margin-left: 5px;
                    @media all and (max-width: 1700px) {
                        font-size: 18px;    
                    }
                }
            }
        }
        .back_btn{
            margin-right: auto;
        }
        .home_btn{
            margin-left: auto;
        }
    }
}

// 麵包屑
.breadcrumb  {
   max-width: 100%;
   margin: auto;
   ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        padding-left: 8px;
        padding-bottom: 12px;
        border-bottom: 1px solid gainsboro;
        display: flex;
        flex-wrap: wrap;
        li{
            color: gray;
            font-size: 14px;
            letter-spacing: 1.5px;
            @media all and (max-width: 500px) {
                font-size: 12px;
            }
            a{
                color: gray;
                text-decoration: none;
            }
            &:nth-last-child(1){
                color: #1D2731;
                a{
                    color: #1D2731;
                }
            }
            &:nth-child(1){
                color: gray !important;
            }
        }
        li+li:before {
            padding: 8px;
            color: black;
            content: "/\00a0";
        }
    }
}
  
main{
  
    max-width: 1920px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
   padding-bottom: 20px;
   .search{
       display: flex;
       justify-content: center;
       margin-top: 30px;
       margin: 24px auto;
       position: relative;
       width: max-content;
       max-width:700px;
        width: calc(100% - 20px);
        
       input{
            width: 100%;
            height: 45px;
            outline: none;
            border: 1px solid gainsboro;
            border-radius: 30px;
            padding-left: 16px;
            font-size: 16px;
            @media all and (max-width: 700px) {
                height: 40px;
            }
       }
       .fa-search{
           position: absolute;
           right: 50px;
           top: 50%;
           transform: translateY(-50%);
           font-size: 20px;
           color: gray;
       }
   }
  
//    類別簡介
    .description{
        // margin-top: 8px;
        @media all and (max-width: 1600px) {
            padding: 0px 10vw;
        }
        @media all and (max-width: 1291px) {
            padding: 0px 8vw;
        }
        .description_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            padding: 30px 45px;
            background-color: rgb(207, 205, 201);
            background-color: rgba(255, 235, 205, 0.3);
            // border: 1px solid rgba(255, 235, 205, 0.4);
            box-shadow: 0px 3px 15px rgba(255, 235, 205, 0.5);
            border-radius: 15px;
            margin: auto;
            color: rgb(75, 75, 75);
            .title{
                width: max-content;
                font-size:28px ;
                font-weight: 600;
                letter-spacing: 2.5px;
                color: rgb(75, 75, 75);
                @media all and (max-width: 861px) {
                    font-size: 24px;
                }
                @media all and (max-width: 480px) {
                    font-size: 20px;
                }
            }
            .text{
                margin: auto;
                ul{
                    width: 100%;
                    margin: 0px auto;
                    padding: 0px;
                    justify-content: center;
                    margin-top: 8px;
                    li{
                        margin: 0px;
                        padding-top: 16px;
                        line-height: 32px;
                        font-size: 18px;
                        letter-spacing: 1.5px;
                        margin-left: 18px;
                        &:nth-child(1){
                            font-size: 22px;
                            font-weight: 600;
                            list-style: none;
                            padding-left: 0px;
                            margin-left: 0px;
                           
                        }
                        @media all and (max-width: 861px) {
                            font-size: 16px;
                            line-height: 28px;
                            padding-top: 12px;
                        }
                        @media all and (max-width: 480px) {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }

    // 階層樣式
    .types{
        max-width: 1600px;
        width: 1600px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        margin: auto;
        @media all and (max-width: 380px) {
            padding: 0px 24px;
            padding-top: 20px;
        }
        a{
            color: #1D2731;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1.5px;
           
            display: block;
        }
        .type {
            width: calc(20% - 24px);
            box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.178);
            padding: 16px 24px;
            border-radius: 20px;
            margin-right: 30px;
            margin-bottom: 30px;
            background-color: #fffefe;
            &:nth-child(5n){
                margin-right: 0px;
            }
            @media all and (max-width: 1400px) {
                width: calc(25% - 22.5px);
              
                &:nth-child(5n){
                    margin-right: 30px;
                }
                &:nth-child(4n){
                    margin-right: 0px;
                }
            }
            @media all and (max-width: 1000px) {
                width: calc(33.33% - 20px);
                
                &:nth-child(4n){
                    margin-right: 30px;
                }
                &:nth-child(3n){
                    margin-right: 0px;
                }
            }
            @media all and (max-width: 769px) {
                width: calc(50% - 15px);
                
                &:nth-child(3n){
                    margin-right: 30px;
                }
                &:nth-child(2n){
                    margin-right: 0px;
                }
            }
            @media all and (max-width: 580px) {
                width: calc(50% - 10px);
                margin-right: 20px;
                margin-bottom: 20px;
                
                &:nth-child(3n){
                    margin-right: 20px;
                }
                &:nth-child(5n){
                    margin-right: 20px;
                }
                &:nth-child(2n){
                    margin-right: 0px;
                }
            }
            @media all and (max-width: 380px) {
                width: calc(50% - 10px);
                width: 100%;
                margin-right: 0px;
                
                &:nth-child(3n){
                    margin-right: 0px;
                }
                &:nth-child(5n){
                    margin-right: 0px;
                }
                &:nth-child(2n){
                    margin-right: 0px;
                }
            }
            
            .typebtn{
                align-items: center;

                .pic{
                    width: 100%;
                    height: 180px;
                    margin: auto;
                    @media all and (max-width: 1600px) {
                        height: 10.65vw;
                    }
                    @media all and (max-width: 1000px) {
                        height: 14vw;
                    }
                    @media all and (max-width: 769px) {
                        height: 18vw;
                    }
                    @media all and (max-width: 380px) {
                        height: 28vw;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }
                .name{
                    padding-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    padding-bottom: 0px;
                    .text{
                        width: 100%;
                        width: max-content;
                        height: auto;
                        font-size: 20px;
                        color: rgb(94, 94, 94);
                        @media all and (max-width: 580px) {
                            font-size: 18px;
                        }
                        @media all and (max-width: 500px) {
                            font-size: 16px;
                        }
                    }
                }
            } 
        }
    }


    .content{
        padding-top: 20px;
        margin: auto;
        display: flex;
    
        @media all and (max-width: 700px) {
           flex-direction: column;   
        }
        @media all and (max-width: 340px) {
            padding: 0px 8px;
            padding-top: 16px;
        }
        @media all and (max-width: 321px) {
            // padding: 15px 30px;  
            // width: 100%;
            padding: 0px 0px;
            padding-top: 15px;
            // justify-content: center;
        }


       

        .last_types{
            width: max-content;
            display: flex;
            flex-direction: column;

            display: flex;
            height: max-content;
            @media all and (max-width: 700px) {
                width: 100%;
             
                display: flex;
                flex-direction: column;
                justify-self: center;
            }
           
            .search{
                margin-bottom: 20px;
                position: relative;
                max-width:300px;
                width:300px;
                margin-top: 0px;
                @media all and (max-width: 861px) {
                    width: 250px;
                }
                @media all and (max-width: 700px) {
                    margin: 0px auto;
                    margin-bottom: 20px;
                    width: 300px;
                }
                @media all and (max-width: 319px) {
                    width: 260px;
                    padding-left: 0px;
                }
                input{
                    width: 100%;
                    height: 45px;
                    outline: none;
                    border: 1px solid gainsboro;
                    border-radius: 30px;
                    padding-left: 16px;
                    font-size: 16px;
                    @media all and (max-width: 700px) {
                        height: 40px;
                    }
                    @media all and (max-width: 319px) {
                        width: 260;
                        padding-left: 8;
                    }
         
                }
                .fa-search{
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 20px;
                    color: gray;
                }
            }
            .all_types{
                width: 300px;
                margin-right: auto;
                position: relative;
                @media all and (max-width: 861px) {
                    width: 250px;
                }
               
                @media all and (max-width: 700px) {
                    // width: 100vw;
                    width: 100%;
                    // width: max-content;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-self: center;
                }
                @media all and (max-width: 319px) {
                    width: 260;
                    
                }
                     /* Dropdown Button */
                .dropbtn {
                    background-color: #457392;
                    
                    font-weight: 600;
                    border-radius: 3px;
                    color: white;
                    padding: 10px 16px;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    letter-spacing: 2px;
                    display: none;

                    @media all and (max-width: 700px) {
                    display: block;
                    width: 300px;
                    margin: auto;

                    //    margin: auto;
                        
                    }
                    
                }
  
                .all-types-title{
                    width: 100%;
                    height: max-content;
                    height: auto;
                    max-height: 200px;
                    text-align: center;
                    background-color: #457392;
                    color: white;

                    font-weight: 600;
                    border-radius: 3px;
                    color: white;
                    padding: 10px 16px;
                    font-size: 16px;
                    margin-bottom: 8px;
                    letter-spacing: 2px;
                    @media all and (max-width: 700px) {
                        display: none;  
                        }
                }
               
                .dropdown-content{
                    width: 100%;
                    height: max-content;
                    height: auto;
                    max-height: 200px;
                    max-height: 70vh;
                    overflow-y: auto;
                   
                    @media all and (max-width: 700px) {
                        
                        width: 300px;
                        display: none;
                      
                        background-image: url(/img/背景.png);
                        
                        justify-content: center;
             
                        z-index: 1;
                        padding-top: 10px;
                        overflow-x: hidden;
                        max-height: 40vh;

                    }
                    &.show{
                        display: block;
                        z-index: 80;
                        background-color: none ;
                        margin: auto;
                       
                    }
                    a{
                        display: block;
                        text-decoration: none;
                        color: rgb(46, 45, 45);
                        color: #1D2731;
                        // color: #806920;
                        
                    }
                    .small-type{
                        font-size: 18px;
                        padding: 8px 16px;
                        padding-right: 8px;
                        text-align: left;
                        letter-spacing: 1.5px;
                        font-weight: 600;
                        background-color: #b2cee0;
                        border: 1px solid ghostwhite;
                        border-radius: 5px;
                        margin-bottom: 5px;
                        &.active{
                            background-color: #67a0c2;
                            color: white;
                            transition: .6s;
                        }
                        @media all and (max-width: 861px) {
                            font-size: 16px;

                        }
                        @media all and (max-width: 700px) {
                            font-size: 16px;
                            width: 300px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: initial;
                        }
                    }
                }
                /* width */
            }
        }

   
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    // padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {
      display:block;
    }


    // 產品詳細頁  
    .product{
        width: 1300px;
        width: calc(100% - 300px);
        position: relative;
        // margin: auto;
        // padding-top: 15px;
        // padding-bottom: 60px;
        display: flex;
        margin-left: 45px;

        // width: 60vw;
        // @media all and (max-width: 1600px) {
        //      width: 100%;
        // }
        @media all and (max-width: 1400px) {
            // padding: 15px 30px;  
            display: flex;
            flex-direction: column;
            margin-left: 0px;
            width: 100%;
        }
        @media all and (max-width: 861px) {
            // width: calc(100% - 250px);
            padding-left: 30px;

        }
        @media all and (max-width: 700px) {
            // padding: 15px 30px;  
            // width: 100%;
            padding-left: 0px;
        }
       
       
        .swiper-container {
            width: 560px;
            
            
            // width: 80%; 
            // width: 500px; 
            // height: max-content;
            // margin: 0px 45px;
            // margin-left: 60px;
  
            // @media all and (max-width: 1400px) {
            //     width: 500px;  
            //     // margin: 0px 30px;
            // }
            @media all and (max-width: 1400px) {
                // padding: 15px 30px;
                width: 100%;
                max-width: 560px;
                min-width: 300px;
                height: unset;
                width: 40vw; 
                margin: auto;
            }
            @media all and (max-width: 700px) {
                // padding: 15px 30px;  
                // width: 80%;
                min-width: 300px;
                padding-left: 0px;
            }
            @media all and (max-width: 319px) {
                width: 280px;
                padding-left: 0px;
            }
          
        
            .swiper-wrapper{
                // width: 100%;
               
              
                .swiper-slide{
                    width: 560px;
                    img{
                        width: 100%;
                        height: 100%;
                        width: 560px;
                        height: auto;
                        display: block;
                        border-radius: 5px;
                        // height: 30vw;
                        @media all and (max-width: 1400px) {
                            // padding: 15px 30px;
                            width: 100%;
                            max-width: 560px;
                            height: unset;
                            width: 40vw; 
                            margin: auto;
                        }
                        @media all and (max-width: 1400px) {
                            // padding: 15px 30px;
                            width: 100%;
                            max-width: 560px;
                            min-width: 300px;
                            height: unset;
                            width: 40vw; 
                            margin: auto;
                        }
                        @media all and (max-width: 700px) {
                            // padding: 15px 30px;  
                            // width: 80%;
                            width: 300px;
                            max-width: 300px;
                            padding-left: 0px;
                        }
                    }
                }
            }
            .swiper-pagination{
                font-size: 15px;
                font-weight: 600;
            }
            .swiper-pagination-bullet{
                background-color: rgb(36, 49, 71);
            }
            .swiper-pagination-bullet-active{
                background-color: white;
            }
            .color{
                color: rgb(255, 255, 255);
                background-color: white;
            } 
        }
        // 產品文字
        .product_content{
            width: calc(100% - 600px);
            margin-left: 30px;
            @media all and (max-width: 1400px) {
                // padding: 15px 30px; 
                width: 38vw; 
                margin: auto;
                padding: 0px 8px;
            }
            @media all and (max-width: 700px) {
                // padding: 15px 30px;  
                width: 80%;
            }
            @media all and (max-width: 360px) {
                // padding: 15px 30px;  
                width: 100%;
                padding:0px 8px;
            }
          
            .texts{
                
                padding-top: 15px;
            
                .text{
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    padding-bottom: 5px;
                    @media all and (max-width: 860px) {
                        font-size: 18px;
                    }
                    @media all and (max-width: 580px) {
                        font-size: 16px;
                    }
                }  
            }
            // 產品規格
            ul{
                margin: 0px;
                padding: 0px;
                // list-style: none;
                // padding-left: 8px;
              
                li{
                    font-size: 16px;
                    padding-bottom: 10px;
                    // padding-left: 16px;
                    transform: translateX(20px);
                
                    &:nth-child(1){
                        transform: translateX(0px);
                        padding-left:0px ;
                        list-style: none;
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 1.5px;
                        padding-bottom: 10px;      
                        @media all and (max-width: 860px) {
                            font-size: 18px;
                        }    
                        @media all and (max-width: 580px) {
                            font-size: 16px;
                        }          
                    }
                }
            }
            .btns{
                display: flex;
                padding-top: 10px;
                @media all and (max-width: 700px) {
                    justify-content: center;
                }
                .btn{
                    font-size: 16px;
                    padding: 8px 18px;
                    background-color: #2980B9;
                    margin-left: 15px;
                    color: white;
                    font-weight: 600;
                    border-radius: 3px;
                }

            }
        }
     
        // 下載按鈕
        .download_btn{
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2px;
            padding: 10px 30px;
            border-radius: 5px;
            background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); 
            -webkit-box-shadow: 5px 5px 10px  #595b5e60;
            &:hover{
                background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
                color: orange;  
                color: white;
                transition: .6s;
                .fa-file-download{
                    font-size: 22px;
                }
            }
            .fa-file-download{
                font-size: 20px;
                margin-left: 12px;
            }
        } 
    }
   
    }

    // 確認清單
    .check_list{
        background-color: rgb(162, 190, 201);
        padding: 60px 120px;
        margin-top: 30px;
        @media all and (max-width: 1700px) {
            width: 94%;
        }
        @media all and (max-width: 1000px) {
            padding: 60px 60px;
            width: 96%;

        }
        @media all and (max-width: 867px) {
            padding: 45px 45px;
            width: 96%;
        }
        @media all and (max-width: 750px) {
            padding: 20px 20px;
        }
        @media all and (max-width: 520px) {
            padding: 0px 0px;
            background-color: initial;
        }
        .check_list_information{
            padding: 45px 30px;
            background-color: white;
            @media all and (max-width: 867px) {
                padding:40px 20px;
            }
            @media all and (max-width: 750px) {
                padding: 20px 15px;
            }
            @media all and (max-width: 520px) {
                border: 1px solid gainsboro;
                border-radius: 8px; 
            }
            @media all and (max-width: 380px) {
                padding: 20px 8px;
            }
            @media all and (max-width: 350px) {
                padding: 20px 4px;
            }
            ul{
                display: flex;
                list-style: none;
                margin: 0px;
                padding:15px  0px;
                width: 100%;
                margin: auto;
                // justify-content: space-between;
                border-bottom: 1px solid gainsboro;
                color: rgb(87, 87, 87);
                // &:nth-last-child(1){
                //     border-bottom: 0px solid transparent;
                // }
                &:nth-child(1){
                    padding: 8px 0px;
                    background-color: tan;
                    background-color: #F8EEE7;
                    // background-color: #F7F5E6;
                    // margin-bottom: 15px;
                    border-radius: 3px;
                    border-bottom: 0px;

                    li{
                       
                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 2px;
                        @media all and (max-width: 750px) {
                            font-size: 18px;
                        }
                        @media all and (max-width: 520px) {
                            font-size: 16px;
                        }
                        @media all and (max-width: 480px) {
                            font-size: 14px;
                        }
                        @media all and (max-width: 370px) {
                            font-size: 12px;
                        }
                       
                      
        
                    }
                }
              
                li{
                    width: 33.333%;
                    width: 15%;
                    text-align: center;
                    font-size: 16px;
                    letter-spacing: 1.5px;
                    font-size: 16px;
                    line-height: 21px;
                    @media all and (max-width: 750px) {
                        font-size: 14px;
                    }
                    @media all and (max-width: 500px) {
                        font-size: 12px;
                    }
                    @media all and (max-width: 380px) {
                        font-size: 10px;
                    }
                    @media all and (max-width: 350px) {
                        font-size: 9px;
                        letter-spacing: 1px;
                    }
                    &:nth-child(1){
                        width:20%;
                    }
                    &:nth-child(2){
                        width: 45%;
                    }
                    &:nth-child(3){
                        width: 20%;
                    }
                    &:nth-child(4){
                        width: 15%;
                        // text-align: right;
                        // width: max-content;
                        // padding-right: 20px;
                        // background-color: yellowgreen;
                    }
                   
    
                }
            }
            .check_btn{
                display: flex;
                justify-content: center;
                margin-top: 45px;
                @media all and (max-width: 500px) {
                    margin-top: 30px;
                }
                .btn{
                    font-size: 18px;
                    font-weight: 600;
                    color: white;
                    padding: 8px 25px;
                    background-color: gray;
                    background-color: orange;
                    border-radius: 5px;
                    @media all and (max-width: 500px) {
                        padding: 6px 20px;
                    }
                }
            }
        }

       
    }


  
   

   
}