body{
    margin: 0px;
    padding: 0px;
    width: 1920px;
    height: 2000px;
    position: relative;
}

*{
    box-sizing: border-box;
}

// 反回上一頁按鈕
nav{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 99;
    background-color: transparent;

    padding: 20px 0px;
    background-color: rgba(255, 255, 255, 0.795);
    .nav{
        display: flex;
        width: 1600px;
        height: max-content;
        
        .title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%   );
            font-size: 64px;
            font-weight: 600;
            letter-spacing: 5px;
            font-family:-apple-system;
            color: rgb(64, 85, 110);
        }
        a{
            width: max-content;
            display: block;
            .btn{
                color: #1D2731;
                -webkit-box-shadow: 5px 5px 10px  #595b5e60;
                background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);  
                outline: none;
                background-color: gainsboro;
                padding: 8px 25px;
                border-radius: 3px;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1.5px;
                &:hover{
                    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
                    color: orange;  
                    color: white;
                    transition: .6s;
                    .fa-angle-double-left{
                        transform: translateX(-8px);
                        transition: .2s;
                    }
                    .fa-angle-double-up{
                        transform: translatey(-2px);
                        font-size: 20px;
                        transition: .2s;
                    }
                }
                .fa-angle-double-left{
                    font-size: 22px;
                    margin-right: 5px;
                }
                .fa-angle-double-up{
                    font-size: 22px;
                    margin-left: 5px;
                }
            }
        }
        .back_btn{
            margin-right: auto;
        }
        .home_btn{
            margin-left: auto;
        }
    }
   
   
  
}
.mask{
    width: 1600px;
    // height: 73px;
    margin: auto;
    transform: translateY(73px);
}

// 麵包屑
.toast{
    width: 1600px;
    margin: auto;
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-left: 8px;
    border-bottom: 1px solid gainsboro;
    color: gray;
}
main{
    max-width: 1920px;
    width: 100%;
    position: relative;

    // 階層樣式
    .types{
        width: 1600px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        margin: auto;
        a{
            color: #1D2731;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1.5px;
            width: calc(16.6666% - 16.666px);
            height: 120px;
            display: block;
        }
        .type {
            justify-content: center;
            align-items: center;
            display: flex;
            background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
           
            -webkit-box-shadow: 5px 5px 8px  #595b5e60;
            border-radius: 30px;
            margin-right: 20px;
            margin-bottom: 20px;

            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            overflow: hidden;
            padding: 0px 20px;
            &:hover{
                background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
                color: rgb(64, 85, 110);
                transition: .3s;
                font-size: 22px;
                padding: 0px 18px;
            }
            &:nth-child(6n){
                margin-right: 0px;
            }
            &:before {
                content: "";
                position: absolute;
                opacity: 0;
                z-index: -1;
                left: 50%;
                right: 50%;
                bottom: 0;
                background: #2980b9;
                background-color: #3a5072ce;
                height: 10px;
                -webkit-transition-property: left right;
                transition-property: left right;
                -webkit-transition-duration: 0.4s;
                transition-duration: 0.4s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
            }
            &:hover:before {
                // background-color: white;
                background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
                background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
                
                opacity: 1;
                left: 0;
                right: 0;
            }
            .typebtn{
               
                align-items: center;
            } 
        }
    }

    // 產品詳細頁  
    .product{
        width: 500px;
        position: relative;
        margin: auto;
        padding-top: 15px;
        padding-bottom: 60px;

        // width: 60vw;

        &:nth-child(3n){
            margin-right: 0px;
        }
        .swiper-container {
            width: 100%;     
            .swiper-wrapper{
                width: 90%;
                // height: max-content;
                .swiper-slide{
                    width:100% ;
                    height: auto;
                    img{
                        width: 100%;
                        height: 100%;
                        height: auto;
                        display: block;
                        border-radius: 5px;
                        // height: 30vw;
                    }
                }
            }
            .swiper-pagination{
                font-size: 15px;
                font-weight: 600;
            }
            .swiper-pagination-bullet{
                background-color: rgb(36, 49, 71);
            }
            .swiper-pagination-bullet-active{
                background-color: white;
            }
            .color{
                color: rgb(255, 255, 255);
                background-color: white;
            } 
        }
        // 產品文字
        .texts{
            padding: 0px 8px;
            padding-top: 15px;
            .text{
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 1.5px;
                padding-bottom: 5px;
            }  
        }
        // 產品規格
        ul{
            margin: 0px;
            padding: 0px;
            // list-style: none;
            padding-left: 8px;
            li{
                font-size: 16px;
                padding-bottom: 10px;
                // padding-left: 16px;
                transform: translateX(20px);
                &:nth-child(1){
                    transform: translateX(0px);
                    padding-left:0px ;
                    list-style: none;
                    font-size: 20px;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    padding-bottom: 10px;                    
                }
            }
        }
        // 下載按鈕
        .download_btn{
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2px;
            padding: 10px 30px;
            border-radius: 5px;
            background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); 
            -webkit-box-shadow: 5px 5px 10px  #595b5e60;
            &:hover{
                background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
                color: orange;  
                color: white;
                transition: .6s;
                .fa-file-download{
                    font-size: 22px;
                }
            }
            .fa-file-download{
                font-size: 20px;
                margin-left: 12px;
            }
        } 
    }
}