*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

nav{
    max-width: 1920px;
    width: 100%;
    // background-color: azure;
    height: max-content;
    padding: 15px 0px;
    background-color: rgba(211, 211, 211, 0.678);

    
    .nav{
        width: 85%;
        height: max-content;
        margin: auto;
        display: flex;
        justify-content: space-between;
        a{
            font-size: 24px;
            font-weight: 600;
            color: black;
            text-decoration: none;
            line-height: 90px;
            height: 90px;
            img{
                width: auto;
                height: 90px;
                
            }
        }
    }
    
}


main{
    max-width: 1920px;
    width: 100%;
    .banner{
        max-width: 100%;
        width: 100%;
        height: 40vw;
        background-color: blanchedalmond;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .articles{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        
        
        padding: 30px 0px;
        .article_type{
            width:max-content;
            margin: auto;
            margin: 15px auto 30px;
            // display: flex;
            // flex-direction: row;
            // background-color: burlywood;
            ul{
                display: flex;
                justify-content: center;
                li{
                    color: lightgrey;
                    font-size: 24px;
                    padding: 10px  15px;
                    margin: 0px 10px;
                    margin-bottom:10px ;

                    background-color: firebrick;
                    list-style: none;
                    border:2px solid darkred ;
                    border-radius: 3%;
                }
            }
        }
        .allarticle{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            a{
                // width: 30%;
                color: black;
                text-decoration: none;
                font-size: 24px;
                font-weight: 600;
                position: relative;
                margin-bottom: 30px;

                .article{
                    

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background-color: rgba(255, 255, 255, 0.596);
                    padding: 10px 15px;
                    border-radius: 5%;
                    color: dimgray;
    

    
                }
                img{
                    width: 16vw;
                    height: 16vw;
                    border-radius: 50%;


                }
            }
        }
            
    }
}


footer{
    width: 100%;
    max-width: 1920px;
    // height: 300px;
    // background-color: rgb(165, 116, 42);
    display: flex;
    padding: 20px 0px;
    background-color: rgba(211, 211, 211, 0.678);

    .content{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        // border-top: 2px solid dimgray;

        ul{
            width:24%;
            font-size: 24px;
            font-weight: 600;
            padding: 10px  0px;
            text-align: center;
            margin: 10px 0px;
            
            li{
                list-style: none;
                padding: 10px 0px;
                a{
                    font-size: 20px;
                    // padding: 10px 0px;
                    color: dimgray;
                    text-decoration: none;
               
                }
                
            }

        }
    }
    
}