* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 20px 0px;
  width: 1000px;
  margin: auto;
}

main .now_page {
  font-size: 12px;
  letter-spacing: 2px;
  color: gray;
  padding-bottom: 10px;
  border-bottom: 1px  solid gainsboro;
  margin-bottom: 20px;
  padding-left: 8px;
}

main .brand_pic img {
  width: 100%;
  height: 400px;
}

main .brand_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px  0px;
}

main .brand_title .text {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 2px  12px;
  color: #5e5b5b;
}

main .brand_title .fa-paper-plane {
  font-size: 14px;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

main .band_text {
  padding-bottom: 15px;
  margin-bottom: 30px;
}

main .band_text p {
  font-size: 16px;
  letter-spacing: 1.5px;
  padding-bottom: 15px;
  text-align: center;
  margin: 0 auto;
}

main .band_text p:nth-child(1) {
  padding-top: 15px;
}

main .contents {
  padding: 0px  8px;
}

main .contents .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

main .contents .content:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .contents .content:nth-child(2n) .pic {
  margin-left: 20px;
}

main .contents .content:nth-child(2n) .texts .small_title {
  margin-left: auto;
}

main .contents .content .big_pic {
  margin-right: 15px;
  position: relative;
}

main .contents .content .big_pic img {
  width: 100%;
  height: 250px;
  width: 320px;
  height: 320px;
  border-radius: 50%;
}

main .contents .content .big_pic .pic {
  position: relative;
  position: absolute;
  top: 70%;
  left: 50%;
}

main .contents .content .big_pic .pic img {
  width: 280px;
  height: 120px;
  display: block;
}

main .contents .content .big_pic .pic .pic_text {
  position: absolute;
  color: #f3ecde;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
  letter-spacing: 2px;
}

main .contents .content .texts {
  width: calc(50% - 15px);
  width: 50%;
  padding-top: 15px;
  padding-top: 120px;
}

main .contents .content .texts .small_title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 15px;
  font-size: 28px;
  font-weight: 600;
}

main .contents .content .texts .small_title .pic {
  position: relative;
}

main .contents .content .texts .small_title .pic img {
  width: 280px;
  height: 120px;
  display: block;
}

main .contents .content .texts .small_title .pic .pic_text {
  position: absolute;
  color: #f3ecde;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
  letter-spacing: 2px;
}

main .contents .content .texts .text {
  padding: 0px  15px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  padding-top: 10px;
}
/*# sourceMappingURL=brand.css.map */