*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
}

main{
    padding: 20px 0px;
    width: 1000px;
    margin: auto;
    .now_page{
        font-size: 12px;
        letter-spacing: 2px;
        // font-weight: 600;
        color: gray;
        padding-bottom: 10px;
        border-bottom: 1px  solid gainsboro;
        margin-bottom: 20px;
        padding-left: 8px;
    }
    .brand_pic{
        img{
            width: 100%;
            height: 400px;
        
        }
    }
    .brand_title{
        display: flex;
        // flex-direction: column;
        margin: auto;
        width: 100%;
        justify-content: center;
        padding: 20px  0px;
        .text{
           

            // width: max-content;
            // margin: auto;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 3px;
            padding: 2px  12px;
            // border-left: 2px  solid rgb(139, 135, 135);
            // border-right: 2px  solid rgb(139, 135, 135);
            color:rgb(94, 91, 91) ;
        }
        .fa-paper-plane{
            font-size: 14px;
            // line-height: 32px;
            // margin-left: 10px;
            transform: translateY(15px);
        }
    }
    .band_text{
        padding-bottom: 15px;
        margin-bottom: 30px;
        // border-bottom: 1px  solid gainsboro;
        p{
            font-size: 16px;
            letter-spacing: 1.5px;
            padding-bottom: 15px;
            text-align: center;
            margin: 0 auto;
            &:nth-child(1){
                padding-top: 15px;
            }
        }
    }
    .contents{
        padding: 0px  8px;
        .content{
            display: flex;
            justify-content: space-between;
            justify-content: center;
            margin-bottom:15px;
            
            .big_pic{
                // width: calc(50% - 15px);
                // margin-right:15px ;
                padding: 15px;
                margin-right: 15px;
                position: relative;
               
                img{
                    width: 100%;
                    height: 250px;
                    width: 320px;
                    height: 320px;
                    border-radius: 50%;
                    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.226);
                }
            }
            .texts{
                width: calc(50% - 15px);
                width: 50%;
                padding-top: 50px;
                // padding-top: 120px;
                .small_title{
                    width: max-content;
                    // margin: auto;
                    margin-left: 20px;
                    padding: .5px  10px;
                    padding-left:10px;

                    border-left: 8px solid rgb(230, 168, 168);
                    // border-bottom:4px solid rgb(221, 178, 178);
                    font-size: 28px;
                    font-weight: 600;
                    // border-radius: 50%;
                    // padding: 4.5px 9px;
                    // border: 2px  solid rgb(143, 60, 60);
                    margin-bottom: 15px;
                    // text-align: center;
                   
                    .pic{
                        position: relative;
                        img{
                            width: 280px;
                            height: 120px;
                            display: block;
                        }
                        .pic_text{
                            // position: absolute;
                            color: rgb(138, 135, 128);
                            top: 50%;
                            left: 50%;
                            // transform: translate(-50%,-50%);
                            font-size: 34px;
                            letter-spacing: 5px;
                        }
                    }
                }
                .text{
                    padding: 20px  25px;
                    background-color:rgb(229, 245, 252);
                    border-radius: 15px;
                    // padding-top: 0px;
                    // border-top: 1px  solid gainsboro;
                    font-size: 16px;
                    letter-spacing: 1px;
                    line-height: 26px;
                    padding-top: 10px;
                }
            }
            &:nth-child(2n){
                flex-direction: row-reverse;
                .big_pic{
                    margin-right: 0px;
                    // padding-right: 0px;
                    img{
                        box-shadow: -5px 3px 10px rgba(0, 0, 0, 0.226);

                    }
                  
                }
                .texts{
                    margin-right: 15px;
                }
            }
        }
    }
}