body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

main{
    width: 1000px;
    margin: auto;
    .creditcard_err_information{
        padding: 80px;
        .title{
            text-align: center;
            font-weight: 600;
            letter-spacing: 3px;
            .text{
                font-size: 32px;
                margin-bottom: 10px;
            }
            .remind_text{
                font-size: 18px;
                color: orangered;

            }
        }
        .content{
            padding: 30px 20px;
            // background-color: #c1d2dd;
            background-color: #e3eef5;
            border: 2px solid #c1d2dd;
            margin-top: 30px;
            border-radius: 5px;
            ul{
                list-style: none;
                letter-spacing: 1.5px;
                margin: 0px;
                margin-bottom: 20px;
                &:nth-last-child(1){
                    margin-bottom: 0px;
                }
                
                li{
                    padding-bottom: 10px;
                    &:nth-child(1){
                        font-size: 20px;
                        font-weight: 600;
                        padding-bottom: 15px;
                        
                        
                    }
                }
            }
        }
        .back_home{
            display: flex;
            flex-direction: column;
            text-align: center;
       
            .back_home_btn{
                display: flex;
                border: 0px;
                padding: 10px  20px;
                background-color: orange;
                margin:30px  auto;
                font-size: 18px;
                color: white;
                border-radius: 5px;
                .fa-home{
                    font-size: 20px;
                    color: white;
                    margin-left: 10px;
                    z-index: 10;
                    font-weight: 900;
                }
            }
        }
    }
}