main {
  width: 1000px;
  margin: auto;
  padding: 30px  0px;
}

main .container {
  width: 1000px;
  margin: auto;
}

main .container .cart_steps {
  padding: 20px 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .container .cart_steps .step {
  width: 15%;
  letter-spacing: 1.5px;
  font-weight: 600;
  padding: 15px 10px;
  border: 1px solid gainsboro;
  color: #646464;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
}

main .container .cart_steps .step.active {
  border: 2px solid #b3abab;
  color: #DF744A;
}

main .container .cart_steps .fa-angle-right {
  line-height: 90px;
  padding: 0px 20px;
  font-size: 22px;
  color: #8b8585;
}

main .container .check_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .check_products .fa-check-square {
  color: #209420;
  font-size: 24px;
}

main .container .check_products .title {
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-left: 10px;
  font-weight: 600;
}

main .container .check_products_cntent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  list-style: none;
  padding: 20px  8px;
  border-bottom: 1px solid gainsboro;
  margin: 0px;
}

main .container .check_products_cntent ul:nth-child(1) {
  margin-top: 20px;
  nav-left: 0px;
  background-color: #c1d2dd;
  padding: 6px 0px;
  border-radius: 3px;
}

main .container .check_products_cntent ul li {
  margin: auto;
  width: 40%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .container .check_products_cntent ul li:nth-last-child(1) {
  width: 15%;
}

main .container .check_products_cntent ul li:nth-last-child(2) {
  width: 15%;
}

main .container .check_products_cntent ul li .product_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 100px;
}

main .container .check_products_cntent ul li .product_name .pic {
  margin-right: 20px;
}

main .container .check_products_cntent ul li .product_name .pic img {
  width: 150px;
  height: 100px;
  display: block;
}

main .container .check_products_cntent ul li .text {
  line-height: 100px;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

main .container .check_products_cntent ul li .fa-trash-alt {
  line-height: 100px;
  font-size: 18px;
  margin-left: 10px;
  color: gray;
}

main .container .check_products_cntent ul li .cost_text {
  font-weight: 600;
  line-height: 100px;
  font-size: 15px;
  letter-spacing: 1.5px;
}

main .container .check_products_cntent ul li .allnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 45px;
  line-height: 30px;
  position: relative;
}

main .container .check_products_cntent ul li .allnumber .mumber_text {
  margin-right: 15px;
}

main .container .check_products_cntent ul li .allnumber input {
  font-size: 18px;
  width: 120px;
  margin: 0px  20px;
  outline: none;
}

main .container .check_products_cntent ul li .allnumber .numbers {
  text-align: center;
  font-size: 18px;
  width: 80px;
  height: 45px;
  line-height: 45px;
  height: 30px;
  line-height: 30px;
  margin: 0px  15px;
  border: 1px solid gainsboro;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .container .check_products_cntent ul li .allnumber .a {
  text-align: center;
  line-height: 45px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid gainsboro;
  cursor: pointer;
  width: 45px;
  height: 45px;
  width: 30px;
  height: 30px;
}

main .container .check_products_cntent ul li .allnumber .a:active {
  background-color: darkgrey;
  color: wheat;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main .container .check_products_cntent ul li .show {
  display: none;
  font-size: 14px;
  color: #DF744A;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  font-weight: 600;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .container .check_products_cntent ul li .show.active {
  display: block;
}

main .container .checkout {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: end;
  padding-bottom: 20px;
}

main .container .checkout .top {
  margin-top: 20px;
}

main .container .checkout .checkout_text .number {
  font-size: 24px;
  color: orangered;
}

main .order_information {
  position: relative;
  width: 1000px;
  margin: auto;
  padding: 30px  0px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px  solid gainsboro;
}

main .order_information .remind_text {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: orangered;
}

main .order_information .title {
  padding-left: 8px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

main .order_information .title .text {
  font-size: 20px;
  margin-right: 5px;
}

main .order_information .title .small_title {
  font-size: 14px;
}

main .order_information .title .form_check {
  margin-top: 10px;
}

main .order_information .order_information_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px  8px;
}

main .order_information .order_information_content .contents {
  margin-bottom: 20px;
}

main .order_information .order_information_content .contents:nth-child(1) {
  margin-right: 0px;
  width: 60%;
}

main .order_information .order_information_content .contents:nth-child(2) {
  margin-right: 0px;
  width: 40%;
}

main .order_information .order_information_content .contents:nth-child(3) {
  width: 100%;
}

main .order_information .order_information_content .contents:nth-child(3) .informations input {
  width: 570px;
}

main .order_information .order_information_content .contents:nth-child(4) {
  width: 100%;
}

main .order_information .order_information_content .contents:nth-child(4) input {
  outline: none;
  border-radius: 3px;
  border: 1px solid gainsboro;
  width: 630px;
  height: 32px;
  margin-top: 10px;
}

main .order_information .order_information_content .contents:nth-last-child(1) {
  margin-bottom: 0px;
}

main .order_information .order_information_content .contents .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .order_information .order_information_content .contents .informations .informations_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 0px;
  margin-right: 10px;
}

main .order_information .order_information_content .contents .informations input {
  width: 220px;
  height: 30px;
  font-size: 16px;
  outline: none;
  padding: 0px 5px;
  border: 1px  solid gainsboro;
  border-radius: 2px;
}

main .order_information .order_information_content .contents .informations select {
  font-size: 16px;
  width: 200px;
  height: 32px;
  margin-right: 20px;
  outline: none;
  border: 1px solid gainsboro;
}

main .order_information .order_information_content .contents .informations .information_text {
  font-size: 16px;
  margin-top: 5px;
  letter-spacing: 1px;
  color: gray;
}

main .order_information .order_information_content .contents .information_small_text {
  font-size: 14px;
  margin-top: 5px;
  letter-spacing: 1px;
  color: gray;
}

main .invoice_information {
  position: relative;
  width: 1000px;
  margin: auto;
  padding: 30px  8px;
  padding-bottom: 60px;
}

main .invoice_information .remind_text {
  position: absolute;
  font-weight: 600;
  letter-spacing: 1.5px;
  bottom: 15px;
  right: 10px;
  font-size: 14px;
  color: #ff0000;
}

main .invoice_information .title {
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

main .invoice_information .title .text {
  font-size: 20px;
  margin-right: 5px;
  font-weight: 600;
}

main .invoice_information .title .small_title {
  color: gray;
  font-size: 14px;
  font-size: 500;
}

main .invoice_information .invoice_content {
  letter-spacing: 1.5px;
}

main .invoice_information .invoice_content .small_title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

main .invoice_information .invoice_content .all_content {
  border: 1px solid #b8b6b6;
}

main .invoice_information .invoice_content .all_content .contents {
  letter-spacing: 1.5px;
  border-bottom: 1px solid #b8b6b6;
}

main .invoice_information .invoice_content .all_content .contents:nth-last-child(1) {
  border-bottom: 0px;
}

main .invoice_information .invoice_content .all_content .contents .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #b8b6b6;
}

main .invoice_information .invoice_content .all_content .contents .content:nth-last-child(1) {
  border-bottom: 0px;
}

main .invoice_information .invoice_content .all_content .contents .content .name {
  width: 30%;
  background-color: #c1d2dd;
  padding: 10px  8px;
}

main .invoice_information .invoice_content .all_content .contents .content .name .invoice {
  font-size: 16px;
  font-weight: 600;
}

main .invoice_information .invoice_content .all_content .contents .content .name .invoice .small_text {
  color: #5a5a5a;
  margin-top: 5px;
  padding-left: 24px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text {
  padding: 15px 8px;
  font-size: 14px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .color {
  color: orange;
  font-weight: 600;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .top {
  margin-top: 15px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .small_text {
  margin-top: 5px;
  color: gray;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .bt {
  margin-bottom: 15px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input .input_text {
  font-size: 16px;
  line-height: 36px;
  font-weight: 600;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input input {
  width: 300px;
  height: 30px;
  outline: none;
  border: 1px  solid gainsboro;
  font-size: 16px;
  border-radius: 3px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input select {
  width: 150px;
  outline: none;
  border: 1px  solid gainsboro;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 8px;
  padding-left: 8px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input .big {
  width: 500px;
}

main .pay_information {
  padding: 30px  8px;
}

main .pay_information .title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

main .pay_information .information_content .pays {
  font-size: 16px;
  padding: 6px 5px;
  border: 1px  solid gainsboro;
  border-radius: 30px;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

main .pay_information .information_content .pays .form_check_label {
  font-weight: 600;
}

main .pay_information .information_content .pays .text {
  padding-left: 5px;
}

main .pay_information .information_content .pays .red {
  color: #ff0000;
  font-size: 20px;
}

main .pay_information .information_content .pays .gray {
  color: gray;
}

main .pay_information .information_content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  letter-spacing: 1.5px;
}

main .pay_information .information_content .btns .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 18px;
  background-color: gray;
  border-radius: 3px;
  margin-left: 20px;
  color: white;
  font-weight: 600;
}

main .pay_information .information_content .btns .btn.active {
  background-color: orange;
}

main .pay_information .information_content .btn_text {
  text-align: center;
}

main .pay_information .information_content .btn_text .text {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #ff0000;
}

main .credit_card_back {
  background-color: #c1d2dd;
  padding: 20px 15px;
  border-radius: 10px;
}

main .credit_card_back .title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

main .credit_card_back .content {
  letter-spacing: 2px;
}

main .credit_card_back .content .small_title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}

main .credit_card_back .content .texts {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
  margin-left: 25px;
  border-left: 5px solid #DF744A;
  margin-bottom: 15px;
}

main .credit_card_back .content .text {
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 25px;
}

main .credit_card_back .content .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 10px;
  margin: auto;
  padding: 6px 25px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: orange;
}
/*# sourceMappingURL=cc_cart_step2.css.map */