* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
  font-family: Noto Serif TC;
}

html {
  position: relative;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

nav {
  background-color: white;
  z-index: 60;
}

nav .content {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: relative;
}

nav .content .navbar-brand {
  padding: 0px;
  margin-right: 0px;
}

nav .content .navbar-brand img {
  width: 80px;
  height: 50px;
  margin-right: 30px;
}

nav .content .collapse .navbar-nav .nav-item .nav-link {
  font-size: 18px;
  padding: 0px 15px;
  line-height: 50px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.637);
}

nav .content .collapse .navbar-nav .nav-item .dropdown-menu {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 99;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
}

nav .content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  line-height: 50px;
}

nav .content .right .right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

nav .content .right .right_item span {
  padding: 0px 3px;
  line-height: 50px;
}

nav .content .right .right_item span .fa-heart {
  font-size: 24px;
  color: #c90d0d;
  line-height: 50px;
}

nav .content .right .right_item span .fa-shopping-cart {
  font-size: 24px;
  line-height: 50px;
}

nav .content .right .right_item span img {
  width: 30px;
  height: 30px;
  line-height: 50px;
  border-radius: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.part2 {
  padding: 10px 0px;
  /* background-color: rgba(220, 220, 220, 0.637); */
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
  z-index: 50;
}

.part2 .all {
  position: relative;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.637);
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
}

.part2 .all .pic img {
  width: 80px;
  height: 50px;
  margin-right: 30px;
}

.part2 .all .item {
  font-size: 18px;
  padding: 0px 20px;
  line-height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.part2 .all .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  line-height: 50px;
}

.part2 .all .right .right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

.part2 .all .right .right_item span {
  padding: 0px 3px;
  line-height: 50px;
}

.part2 .all .right .right_item span .fa-heart {
  font-size: 24px;
  color: #c90d0d;
  line-height: 50px;
}

.part2 .all .right .right_item span .fa-shopping-cart {
  font-size: 24px;
  line-height: 50px;
}

.part2 .all .right .right_item span img {
  width: 30px;
  height: 30px;
  line-height: 50px;
  border-radius: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.banner {
  margin: auto;
}

.banner img {
  width: 100%;
  height: 30vw;
  width: 990px;
  height: 400px;
  margin: auto;
  display: block;
}

.part3 {
  background-color: white;
  /* background-color: gainsboro; */
  /* border: 1px solid gray; */
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  background-color: white;
  z-index: 10;
}

.part3 .types {
  width: 1140px;
  -webkit-transform: translateX(110px);
          transform: translateX(110px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.432);
}

.part3 .types .type {
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
}

.part3 .types .type .title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.432);
  font-size: 18px;
}

.part3 .types .type .content {
  position: absolute;
  display: none;
  padding: 0px 5px;
  padding-top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, -30px);
          transform: translate(-50%, -30px);
}

.part3 .types .type .content:hover {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.part3 .types .type .content .item {
  width: 200px;
  padding: 5px;
  border: 1px solid bisque;
  text-align: center;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
}

.part3 .types .type .content .item .details a {
  font-size: 15px;
  font-weight: 500;
}

.part3 .types .type:active .content {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.cards {
  width: 1140px;
  height: 371px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.cards .big_card img {
  width: 660px;
  height: 371px;
  margin-right: 20px;
}

.cards .small_cards .small_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .small_cards .small_card img {
  width: 230px;
  height: 175.5px;
  margin-right: 20px;
}

.cards .small_cards .small_card img:nth-child(2) {
  margin-right: 0px;
}

.cards .small_cards .top {
  margin-bottom: 20px;
}

.cards1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: auto;
}

.cards1 .content .big_card img {
  width: 490px;
  height: 310px;
  margin-right: 20px;
}

.cards1 .content .small_cards .small_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards1 .content .small_cards .small_card .pic {
  position: relative;
}

.cards1 .content .small_cards .small_card .pic img {
  width: 235px;
  height: 145px;
  margin-right: 20px;
}

.cards1 .content .small_cards .small_card .pic img:nth-child(2) {
  margin-right: 0px;
}

.cards1 .content .small_cards .small_card .pic .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 251, 255, 0.322);
  z-index: 2;
  top: 0px;
  display: none;
}

.cards1 .content .small_cards .small_card .pic .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(18, 5, 71, 0.925);
  font-size: 22px;
  z-index: 3;
  font-weight: 600;
  letter-spacing: 1.5px;
  display: none;
}

.cards1 .content .small_cards .small_card .pic:hover .mask {
  display: block;
}

.cards1 .content .small_cards .small_card .pic:hover .text {
  display: block;
}

.cards1 .content .small_cards .top {
  margin-bottom: 20px;
}

.cards2 {
  width: 1000px;
  margin: auto;
  padding: 20px 0px;
}

.cards2 .title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.884);
}

.cards2 .content .big_card img {
  margin-right: 0px;
  margin-left: 20px;
}

.news {
  width: 1000px;
  margin: auto;
  margin-bottom: 40px;
}

.news .title {
  font-size: 24px;
  font-weight: 700;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.884);
}

.news .content {
  color: rgba(0, 0, 0, 0.767);
}

.news .content .new {
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 10px 20px;
}

.news .content .new:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.445);
}

.news1 {
  width: 1140px;
  margin: auto;
  margin-bottom: 40px;
}

.news1 .title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.767);
}

.news1 .content {
  width: 100%;
  color: rgba(0, 0, 0, 0.767);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news1 .content .new {
  margin-right: 20px;
}

.news1 .content .new img {
  width: 270px;
  height: 270px;
}

.news1 .content .new .text {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px 5px;
}

.news1 .content .new:nth-last-child(1) {
  margin-right: 0px;
}

.hot {
  width: 1140px;
  height: 371px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.hot .big_card img {
  width: 670px;
  height: 371px;
}

.hot .small_cards .small_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hot .small_cards .small_card img {
  width: 230px;
  height: 185.5px;
}

.hot .small_cards .small_card img:nth-child(2) {
  margin-right: 0px;
}

.hot1 {
  width: 1140px;
  margin: auto;
  background-color: blueviolet;
}

.hot1 .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hot1 .top .left {
  width: calc(33.3% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

.hot1 .top .left img {
  width: 100%;
  height: 206px;
  background-color: aquamarine;
}

.hot1 .top .left img:nth-child(2) {
  margin-top: 20px;
}

.hot1 .top .right {
  width: calc(66.7% - 10px);
  width: 68%;
  height: 432px;
  background-color: bisque;
}

.hot1 .bottom {
  width: 100%;
}

.hot1 .bottom img {
  width: calc(33.3% - 10px);
  width: 366.33px;
  height: 206px;
  margin-right: 20px;
}

.hot1 .bottom img:nth-last-child(1) {
  margin-right: 0px;
}

.sale {
  width: 1000px;
  margin: auto;
}

.sale .title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.884);
}

.sale .content .four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sale .content .four .pic {
  margin-right: 20px;
  position: relative;
}

.sale .content .four .pic img {
  width: 235px;
  width: 320px;
  height: 230px;
  display: block;
}

.sale .content .four .pic .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 16, 15, 0.514);
  position: absolute;
  top: 0px;
  display: none;
}

.sale .content .four .pic .text {
  position: absolute;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  color: honeydew;
  z-index: 5;
  display: none;
}

.sale .content .four .pic .text .p {
  padding-top: 10px;
}

.sale .content .four .pic .article {
  z-index: 3;
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}

.sale .content .four .pic .article .pic {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sale .content .four .pic .article .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sale .content .four .pic .heart {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  color: #685656;
}

.sale .content .four .pic .heart.active {
  color: darkred;
}

.sale .content .four .pic:nth-last-child(1) {
  margin-right: 0px;
}

.sale .content .four .pic:hover .mask {
  display: block;
}

.sale .content .four .pic:hover .text {
  display: block;
}

.sale .content .four .pic:hover .article {
  color: honeydew;
}

.sale .content .four .pic:hover .heart {
  color: honeydew;
}

.sale .content .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
}

.sale .content .middle img {
  width: 320px;
  width: 490px;
  margin-right: 20px;
  display: block;
}

.sale .content .middle img:nth-last-child(1) {
  margin-right: 0px;
}

.maps {
  width: 1000px;
  margin: 30px  auto;
}

.maps .title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.884);
}

.maps .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.maps .content .pic {
  width: 350px;
  height: 240px;
  margin-right: 35px;
  margin-bottom: 30px;
}

.maps .content .pic img {
  width: 100%;
  height: 100%;
}

.maps .content .map {
  width: calc(100% - 395px);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.maps .content .map .p {
  margin-bottom: 15px;
  color: #252314;
  padding-left: 15px;
}

.maps .content .map .p:nth-child(1) {
  font-size: 22px;
  font-weight: 700;
  color: #1d1c24;
  padding: 8px 15px;
  background-color: rgba(128, 128, 128, 0.301);
}

footer {
  max-width: 1920px;
  padding: 30px 0px;
  width: 100%;
  margin-top: 60px;
  background-color: rgba(128, 128, 128, 0.445);
  background-color: rgba(128, 128, 128, 0.301);
}

footer .content {
  margin: auto;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
}

footer .content ul {
  font-size: 24px;
  width: 16.666%;
  list-style: none;
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

footer .content ul:nth-last-child(1) {
  border-right: 0px;
}

footer .content ul li {
  font-size: 18px;
  padding: 5px 0px;
}

footer .content ul li:nth-child(1) {
  margin-top: 20px;
}

footer .icons {
  margin: auto;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .icons .icon {
  font-size: 42px;
  padding: 5px  30px;
}

footer .copyright {
  margin: auto;
  width: 1140px;
  font-size: 14px;
  text-align: center;
  padding: 5px 0px;
  letter-spacing: 1.5px;
}
/*# sourceMappingURL=layout_text.css.map */