*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
    background-image: url(/img/lightpaperfibers.png);
    height: 1500px;
    position: relative;
}

html{
    position: relative;
}

a{
    display: block;
    text-decoration: none;
    list-style: none;
    border-bottom:none ;
    &:hover{
        text-decoration: none;
        list-style: none;
        border-bottom:none ;
    }
}

.navbar{
    position: sticky;
    top: 0px;
    padding: 2px !important;
}

// nav{
    
//     background-color: rgb(231, 242, 250);
//     z-index: 60;
//     padding:5px 0px;
//     .content{
//         position: sticky;
//         top: 0px;
//         width: 1140px;
//         max-width: 1000px;
       
//         margin: auto;
//         display: flex;
//         z-index: 99;
//         position: relative;
//         @media (max-width:1000px) {
//             width: 100%;
//         }
//         .navbar-brand{
//             padding: 0px;
//             margin-right: 0px;
//             margin: auto;
//             img{
//                 width: 120px;
//                 height: auto;
//                 height: 60px;
//                 margin-right: 30px;
//             }
//         }
//             .collapse{
//                 width: max-content;
//                 display: flex;
//                 margin-left:auto ;
//                 position: absolute;
//                 right: 0px;
//                 top: 28px;
//                 .navbar-nav{
//                     .nav-item{
                       
//                         .nav-link{
//                             font-size: 16px;
             
//                             line-height: 34px;
//                             font-weight: 600;
//                             color: rgba(0, 0, 0, 0.637);
                 
//                             padding: 0px 0px 0px 20px;
//                             &:nth-child(2){
//                                 padding-right: 0px;
//                             }
//                         }
//                         .dropdown-menu.show{
    
//                             width: max-content;
//                             top: -11px;
//                             position: absolute;
//                             transform: translateY(-11px);
//                             z-index: 99;
//                             background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
//                         }
//                     }
//                 }
//             }
        
//         .right{
//             display: flex;
//             position: absolute;
//             top: 0px;
//             right: 0px;
//             line-height: 30px;
//             height: 20px;
//             margin-left: auto;
//             .right_item{
//                 display: flex;
//                 span{
//                     padding: 0px 3px;
               
//                     font-size: 14px;
//                     .fa-heart{
//                         font-size: 14px;
//                         color: rgb(201, 13, 13);
//                     }
//                     .fa-shopping-cart{
//                         font-size: 14px;
//                     }
//                     img{
//                         width: 20px;
//                         height:20px;
//                         border-radius: 50%;
//                         transform: translateY(-2px);
//                     }
//                 }
//             }
//         }
//     }
// }
nav{
    max-width: 1920px;
    background-color: #e7f2fa;

    width: 100%;
    position: sticky !important;
    top: 0px;
    // padding:5px 0px;
    z-index: 99;


    .content{
        max-width: 1000px;
        width: 100vw;
        margin: auto;
        display: flex;
        position: relative;

        // 手機板要把這個註解掉
        flex-direction: column;

        // 手機板要加這個
        // min-height: 100px;

        .navbar-brand{
            margin: 0px;

            // 手機板
            // position: absolute;
            // left: 50%;
            // transform: translateX(-50%);
            img{
                width: 120px;
                height: auto;
                height: 60px;
                // margin-right: 30px;
            }
        }
        .all_links{
            // 手機板註解absolute
            position: absolute;
            bottom: 3px;

            // 電腦版
            align-self: flex-end ;


            // 手機板
            // align-self: flex-start;
            // z-index: 99;
            .navbar-toggler{
                width: 50px;
                height: 50px;
            }
            .navbar-collapse{
                width: max-content;
                // align-self: flex-start;

                .navbar-nav{
                    .nav-item{
                        
                        .nav-link{
                            font-size: 16px;
                
                            line-height: 34px;
                            font-weight: 600;
                            color: rgba(0, 0, 0, 0.637);
                    
                            padding: 0px 0px 0px 20px;
                            &:nth-child(2){
                                padding-right: 0px;
                            }
                        }
                        .dropdown-menu.show{

                            width: max-content;
                            // top: -11px;
                            // position: absolute;
                            // transform: translateY(-11px);
                            z-index: 99 !important;
                            // background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
                        }
                    }
                }
            }
        }
        .right{
            display: flex;
            position: absolute;
            top: 0px;
            right: 0px;
            line-height: 30px;
            height: 20px;
            margin-left: auto;
            .right_item{
                display: flex;
                span{
                    padding: 0px 3px;
               
                    font-size: 14px;
                    .fa-heart{
                        font-size: 14px;
                        color: rgb(201, 13, 13);
                    }
                    .fa-shopping-cart{
                        font-size: 14px;
                    }
                    img{
                        width: 20px;
                        height:20px;
                        border-radius: 50%;
                        transform: translateY(-2px);
                    }
                }
            }
        }
        
        
    }
}
.allpart3{
    padding: 5px  0px;
    position: sticky;
    top: 74px;
    // z-index: 10;
    background-color: white;
    background-color: rgb(151, 183, 206);
    background-color: rgb(168, 204, 230);

    .part3{
        .types{
            width: 1000px;
            // transform: translateX(-25px);
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.432);
            // justify-content: space-between;
            .type{
                padding: 3px 50px;
                // padding-bottom: 5px;
                position: relative;
                cursor: pointer; 
                border-right: 1px solid gainsboro;
                // margin-bottom:20px ;
                &:nth-child(7n){
                    border-right: none;
                    padding-right: 0px;
                }
                &:nth-child(1){
                    padding-left: 0px;
                }
                .title{
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.432);        
                    font-size: 14px;
                }
                .content{
                    position: absolute;
                    display: none;
                    padding: 0px 5px;
                    padding-top:40px ;
                    left: 50%;
                    transform: translate(-50%,-32px);
                    z-index: 20;
                    margin: auto;
                    &:hover{
                        display: block;
                        transition: 1s;
                    }
                    .item{
                        // width: max-content;
                        // width: 100%;
                        font-size: 14px;
                        width: 150px;
                        padding: 5px ;
                        text-align: center;
                        background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
                        &:hover{
                            transition: 0.4s;
                            color: rgba(11, 11, 126, 0.76);
                            background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
                        } 
                    }           
                }
                &:active .content{
                    display: block;
                    transition: 1s;
                } 
            }
        }
    }

}
.a{
    width: 1000px;
    padding: 0px  0px;
    // background-color: goldenrod;
    margin: auto;
    img{
        width: 1000px;
        height: 100px;
        margin: 20px  0px;
        // margin-bottom: 0px;
    }
}
footer{
    max-width: 1920px;
    // padding: 15px 0px;
    padding-top: 15px;
    width: 100%;
    // margin-top: 60px;
    
    background-color: rgba(128, 128, 128, 0.445);
    background-color: rgba(128, 128, 128, 0.301);;
    background-color: rgb(231, 242, 250);


    .content{
        margin: auto;
        // width: max-content;
        max-width: 800px;
        // width: 800px;
        display: flex;
        letter-spacing: 2px;
        justify-content: center;
        justify-content: space-between;
        ul{
            font-size: 15px;
            width: 20%;
            // width: 100%;
            list-style: none;
            // border-bottom: 1px solid gainsboro;
            // line-height: 34px;
            // padding: 0px  10px;
            // margin-bottom: 20px;
            // padding-bottom: 15px;
            text-align: center;
            font-weight: 600;
            padding: 1px 0px;
            color: rgba(0, 0, 0, 0.753);
            // display: flex;
            // line-height: 41px;
            // border-right: 1px solid gray;
            margin-bottom: 5px;
            letter-spacing: 3px;
            &:nth-last-child(1){
                border-right: 0px;
            }
            li{
                font-size: 14px;
                // padding: 5px 0px;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.853);
                padding: 2px  12px;
                letter-spacing: 2px;
                



                &:nth-child(1){
                    // padding-top: 15px;
                    margin-top: 5px;
                    padding-top: 5px;
                    // margin-top: 0px;
                    // margin-left: 15px;
                    border-top: 1px solid gainsboro;
                    // padding-left: 15px;

                    // border-top: 1px solid gray;
                }
            }
        }
    }
    .icons{
        margin: auto;
        width: 1140px;
        display: flex;
        justify-content: center;
        padding: 10px  0px;

        .icon{
            font-size:34px;
            padding: 0px  25px;
            color: rgb(65, 90, 122);
            .fa-facebook-square{
                // color: blue;
            }
            .fa-instagram-square{
                // color: blueviolet;
            }
            .fa-phone-volume{
                transform: rotate(-10deg);
            }
        }
    }
    .elses{
        width: 1000px;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 2px  0px;
        .else{
            font-size: 12px;
            padding: 3px 10px;
            letter-spacing: 1.5px;
        }
    }
    .copyright{
        margin: auto;
        width: 100%;
        font-size: 12px;
        text-align: center;
        // padding: 5px 0px;
        letter-spacing: 2px;
        padding: 5px  0px;
        background-color: rgba(189, 208, 223, 0.76);

    }
}