* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
  height: 3000px;
}

html {
  position: relative;
}

.part2 {
  padding: 10px 0px;
  /* background-color: rgba(220, 220, 220, 0.637); */
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
}

.part2 .all {
  position: relative;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.637);
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 50px;
}

.part2 .all .pic img {
  width: 80px;
  height: 50px;
  margin-right: 30px;
}

.part2 .all .item {
  font-size: 18px;
  padding: 0px 20px;
  line-height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
}

.part2 .all .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0px;
  line-height: 50px;
}

.part2 .all .right .right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

.part2 .all .right .right_item span {
  padding: 0px 3px;
  line-height: 50px;
}

.part2 .all .right .right_item span .fa-heart {
  font-size: 24px;
  color: #c90d0d;
}

.part2 .all .right .right_item span .fa-shopping-cart {
  font-size: 24px;
}

.part2 .all .right .right_item span img {
  width: 30px;
  height: 30px;
  line-height: 50px;
  border-radius: 50%;
}

.banner {
  margin: auto;
}

.banner img {
  width: 100%;
  height: 30vw;
  width: 1140px;
  height: 642px;
  margin: auto;
  display: block;
}

.part3 {
  padding: 20px 0px;
  /* background-color: gainsboro; */
  /* border: 1px solid gray; */
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
}

.part3 .types {
  width: 1140px;
  -webkit-transform: translateX(110px);
          transform: translateX(110px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.432);
}

.part3 .types .type {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.432);
  font-size: 18px;
  padding: 0px 20px;
}

.cards {
  width: 1140px;
  height: 371px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.cards .big_card img {
  width: 660px;
  height: 371px;
  margin-right: 20px;
}

.cards .small_cards .small_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .small_cards .small_card img {
  width: 230px;
  height: 175.5px;
  margin-right: 20px;
}

.cards .small_cards .small_card img:nth-child(2) {
  margin-right: 0px;
}

.cards .small_cards .top {
  margin-bottom: 20px;
}

.cards1 {
  width: 1140px;
  height: 371px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards1 .big_card img {
  width: 550px;
  height: 310px;
  margin-right: 20px;
}

.cards1 .small_cards .small_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards1 .small_cards .small_card img {
  width: 285px;
  height: 145px;
  margin-right: 20px;
}

.cards1 .small_cards .small_card img:nth-child(2) {
  margin-right: 0px;
}

.cards1 .small_cards .top {
  margin-bottom: 20px;
}

.news {
  width: 1140px;
  margin: auto;
}

.news .title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px  0px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.767);
}

.news .content {
  color: rgba(0, 0, 0, 0.767);
}

.news .content .new {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.63);
}
/*# sourceMappingURL=layout_text.css.map */