* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
  background-image: url(/img/lightpaperfibers.png);
}

html {
  position: relative;
}

a {
  display: block;
  text-decoration: none;
  list-style: none;
  border-bottom: none;
}

a:hover {
  text-decoration: none;
  list-style: none;
  border-bottom: none;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

nav {
  background-color: #e7f2fa;
  z-index: 60;
  padding: 5px 0px;
}

nav .content {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 1140px;
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: relative;
}

nav .content .navbar-brand {
  padding: 0px;
  margin-right: 0px;
}

nav .content .navbar-brand img {
  width: 120px;
  height: auto;
  height: 60px;
  margin-right: 30px;
}

nav .content .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  position: absolute;
  right: 0px;
  top: 28px;
}

nav .content .collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  line-height: 34px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.637);
  padding: 0px 0px 0px 20px;
}

nav .content .collapse .navbar-nav .nav-item .nav-link:nth-child(2) {
  padding-right: 0px;
}

nav .content .collapse .navbar-nav .nav-item .dropdown-menu.show {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  top: -11px;
  position: absolute;
  -webkit-transform: translateY(-11px);
          transform: translateY(-11px);
  z-index: 99;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
}

nav .content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 30px;
  height: 20px;
  margin-left: auto;
}

nav .content .right .right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .content .right .right_item span {
  padding: 0px 3px;
  font-size: 14px;
}

nav .content .right .right_item span .fa-heart {
  font-size: 14px;
  color: #c90d0d;
}

nav .content .right .right_item span .fa-shopping-cart {
  font-size: 14px;
}

nav .content .right .right_item span img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.banner {
  margin-top: 30px;
  position: relative;
  width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.banner video {
  width: 100%;
  height: 30vw;
  width: 1000px;
  height: auto;
  margin: auto;
  display: block;
}

.allpart3 {
  padding: 5px  0px;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  z-index: 10;
  background-color: white;
  background-color: #97b7ce;
  background-color: #a8cce6;
}

.allpart3 .part3 .types {
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.432);
}

.allpart3 .part3 .types .type {
  padding: 3px 50px;
  position: relative;
  cursor: pointer;
  border-right: 1px solid gainsboro;
}

.allpart3 .part3 .types .type:nth-child(7n) {
  border-right: none;
  padding-right: 0px;
}

.allpart3 .part3 .types .type:nth-child(1) {
  padding-left: 0px;
}

.allpart3 .part3 .types .type .title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.432);
  font-size: 14px;
}

.allpart3 .part3 .types .type .content {
  position: absolute;
  display: none;
  padding: 0px 5px;
  padding-top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, -32px);
          transform: translate(-50%, -32px);
  z-index: 20;
  margin: auto;
}

.allpart3 .part3 .types .type .content:hover {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.allpart3 .part3 .types .type .content .item {
  font-size: 14px;
  width: 150px;
  padding: 5px;
  text-align: center;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
}

.allpart3 .part3 .types .type .content .item:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: rgba(11, 11, 126, 0.76);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.allpart3 .part3 .types .type:active .content {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.index_cards {
  width: 1000px;
  margin: auto;
  padding: 0px 15px;
  padding-top: 10px;
}

.index_cards .title {
  font-size: 24px;
  font-weight: 700;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.884);
}

.index_cards .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index_cards .cards .index_card {
  width: calc(25% - 15px);
  position: relative;
}

.index_cards .cards .index_card .pic {
  width: 100%;
  display: block;
}

.index_cards .cards .index_card .pic img {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 10px;
}

.index_cards .cards .index_card .text {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.753);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  padding: 5px 5px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #1d1d1d;
  border-radius: 0px  8px 0px 8px;
}

.cards1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: auto;
}

.cards1 .content .big_card img {
  width: 490px;
  height: 310px;
  margin-right: 20px;
}

.cards1 .content .small_cards .small_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards1 .content .small_cards .small_card .pic {
  position: relative;
}

.cards1 .content .small_cards .small_card .pic img {
  width: 235px;
  height: 145px;
  margin-right: 20px;
}

.cards1 .content .small_cards .small_card .pic img:nth-child(2) {
  margin-right: 0px;
}

.cards1 .content .small_cards .small_card .pic .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 251, 255, 0.322);
  z-index: 2;
  top: 0px;
  display: none;
}

.cards1 .content .small_cards .small_card .pic .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: rgba(18, 5, 71, 0.925);
  font-size: 22px;
  z-index: 3;
  font-weight: 600;
  letter-spacing: 1.5px;
  display: none;
}

.cards1 .content .small_cards .small_card .pic:hover .mask {
  display: block;
}

.cards1 .content .small_cards .small_card .pic:hover .text {
  display: block;
}

.cards1 .content .small_cards .top {
  margin-bottom: 20px;
}

.news {
  width: 1000px;
  margin: auto;
  margin: 10px auto;
}

.news .title {
  font-size: 24px;
  font-weight: 700;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.884);
  padding-left: 15px;
}

.news .cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.news .cats .b {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.news .cats .b img {
  width: 400px;
  opacity: .7;
}

.news .cats .cat {
  padding: 20px 0px;
  width: calc(50% - 15px);
  margin-right: 30px;
  position: relative;
}

.news .cats .cat:nth-child(2n) {
  margin-right: 0px;
}

.news .cats .cat .pic {
  position: relative;
}

.news .cats .cat .pic .fa-paperclip {
  position: absolute;
  font-size: 32px;
  color: rgba(107, 107, 107, 0.829);
  left: 50%;
  top: -15%;
}

.news .cats .cat .pic img {
  width: 80px;
  z-index: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  -webkit-transform: translate(-50%, -70%) rotate(20deg);
          transform: translate(-50%, -70%) rotate(20deg);
}

.news .cats .cat .pic .mask {
  width: 100%;
  padding: 20px 15px;
  padding-bottom: 30px;
  letter-spacing: 1.5px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 600;
  color: #5a5656;
  background-color: #e6eef1;
  border-radius: 10px;
  border: 1px solid gainsboro;
}

.news .cats .cat .pic .date {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #6e6b6b;
}

.news .content {
  color: rgba(0, 0, 0, 0.767);
}

.news .content .new {
  position: relative;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.5px;
  padding: 8px 15px;
}

.news .content .new:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.445);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.news .content .new:nth-child(1) {
  padding-top: 0px;
}

.news .content .new .date {
  position: absolute;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: #003354;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
}

.sale {
  width: 1000px;
  margin: auto;
  padding: 0px  15px;
}

.sale .title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.884);
}

.sale .content .four1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.sale .content .four1 .product_card {
  width: calc(33.33% - 13.33px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.sale .content .four1 .product_card:nth-child(3n) {
  margin-right: 0px;
}

.sale .content .four1 .product_card .pic {
  position: relative;
}

.sale .content .four1 .product_card .pic img {
  width: 100%;
  height: 200px;
  display: block;
  border-radius: 10px 10px  0px 0px;
}

.sale .content .four1 .product_card .pic .heart_text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: lightcoral;
  color: white;
  padding: 2px  6px;
  border-radius: 2px;
}

.sale .content .four1 .product_card .pic .heart {
  width: 40px;
  height: 40px;
  background-color: #6b6760;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  color: #685656;
  color: white;
}

.sale .content .four1 .product_card .pic .heart.active {
  color: darkred;
}

.sale .content .four1 .product_card .pic:nth-last-child(1) {
  margin-right: 0px;
}

.sale .content .four1 .product_card .pic:hover .mask {
  display: block;
}

.sale .content .four1 .product_card .pic:hover .heart {
  color: honeydew;
}

.sale .content .four1 .product_card .text {
  padding: 10px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 100%;
  font-size: 18px;
  color: #080808;
  z-index: 5;
  padding-top: 15px;
  letter-spacing: 1.5px;
  border-radius: 0px 0px  10px 10px;
  background-color: rgba(209, 224, 238, 0.63);
}

.sale .content .four1 .product_card .text .article {
  z-index: 3;
  font-size: 14px;
  color: #2e2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
  padding-right: 30px;
  width: 100%;
  height: auto;
  position: relative;
}

.sale .content .four1 .product_card .text .article .pic {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.sale .content .four1 .product_card .text .article .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sale .content .four1 .product_card .text .article .pic .article_name {
  width: calc(100% - 230px);
  height: auto;
}

.sale .content .four1 .product_card .text .article .buy {
  font-size: 12px;
  padding: 3px  8px;
  background-color: #818080;
  color: white;
  position: absolute;
  bottom: 13px;
  right: 0px;
  border-radius: 3px;
  border: 1px solid rgba(250, 242, 242, 0.219);
}

.sale .content .four1 .product_card .text .article .buy:hover {
  background-color: rgba(250, 242, 242, 0.568);
  color: darkred;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid darkred;
}

.sale .content .four1 .product_card .text .article .buy:hover .fa-angle-double-right {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .4s;
  transition: .4s;
}

.sale .content .four1 .product_card .text .article .buy .fa-angle-double-right {
  margin-left: 1px;
}

.sale .content .four1 .product_card .text .cost {
  position: absolute;
  top: 15px;
  right: 8px;
  font-size: 18px;
  color: #003354;
  font-weight: 600;
}

.sale .content .four1 .product_card .text .name {
  font-weight: 600;
  letter-spacing: 2px;
  padding-right: 100px;
}

.sale .content .four1 .product_card .text .heart {
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 24px;
  color: #cfb6b6;
}

.sale .content .four1 .product_card .text .heart:active {
  color: darkred;
}

.maps {
  width: 1000px;
  margin: 30px  auto;
  padding: 0px  15px;
}

.maps .title {
  font-size: 24px;
  font-weight: 600;
  padding: 20px  0px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 0.884);
}

.maps .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 240px;
}

.maps .content .pic {
  width: 350px;
  height: 240px;
  margin-right: 35px;
  margin-bottom: 30px;
}

.maps .content .pic img {
  width: 100%;
  height: 240px;
}

.maps .content .map {
  max-width: 1920px;
  width: calc(100% - 395px);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  height: 240px;
}

.maps .content .map .p {
  margin-bottom: 10px;
  color: #252314;
  padding-left: 15px;
}

.maps .content .map .p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: #1d1c24;
  padding: 8px 15px;
  background-color: rgba(128, 128, 128, 0.301);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 3px;
}

.maps .content .map a {
  font-size: 14px;
  padding: 5px  10px;
  background-color: #537683;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: rgba(255, 255, 255, 0.89);
  position: absolute;
  right: 10px;
  bottom: 30px;
}

.maps .content .map a .fa-angle-double-right {
  margin-left: 5px;
}

.shop {
  width: 1000px;
  margin: auto;
  margin: 20px  auto;
  padding-bottom: 20px;
}

.shop .cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px  15px;
}

.shop .cards .shop_card {
  width: calc(50% - 2.5px);
  margin-right: 5px;
  margin-bottom: 5px;
}

.shop .cards .shop_card:hover img {
  border-radius: 5px;
  opacity: .8;
}

.shop .cards .shop_card:nth-child(2n) {
  margin-right: 0px;
}

.shop .cards .shop_card:nth-child(1):hover {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
}

.shop .cards .shop_card:nth-child(2):hover {
  -webkit-transform: translate(15px, -15px);
          transform: translate(15px, -15px);
}

.shop .cards .shop_card:nth-child(3):hover {
  -webkit-transform: translate(-15px, 15px);
          transform: translate(-15px, 15px);
}

.shop .cards .shop_card:nth-child(4):hover {
  -webkit-transform: translate(15px, 15px);
          transform: translate(15px, 15px);
}

.shop .cards .shop_card:hover {
  -webkit-transition: .5s;
  transition: .5s;
}

.shop .cards .shop_card img {
  width: 100%;
  height: 250px;
  border-radius: 3px;
  opacity: 1;
}

footer {
  max-width: 1920px;
  padding: 30px 0px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.445);
  background-color: rgba(128, 128, 128, 0.301);
  background-color: #e7f2fa;
}

footer .content {
  margin: auto;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
}

footer .content ul {
  font-size: 18px;
  width: 16.666%;
  list-style: none;
  text-align: center;
  font-weight: 600;
  padding: 5px;
}

footer .content ul:nth-last-child(1) {
  border-right: 0px;
}

footer .content ul li {
  font-size: 15px;
  padding: 5px 0px;
  font-weight: 500;
}

footer .content ul li:nth-child(1) {
  margin-top: 10px;
}

footer .icons {
  margin: auto;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .icons .icon {
  font-size: 42px;
  padding: 5px  30px;
}

footer .copyright {
  margin: auto;
  width: 1140px;
  font-size: 14px;
  text-align: center;
  padding: 5px 0px;
  letter-spacing: 1.5px;
}
/*# sourceMappingURL=layout_text.css.map */