*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
    background-image: url(/img/lightpaperfibers.png);
}

html{
    position: relative;
}

a{
    display: block;
    text-decoration: none;
    list-style: none;
    border-bottom:none ;
    &:hover{
        text-decoration: none;
        list-style: none;
        border-bottom:none ;
    }
}

.navbar{
    position: sticky;
    top: 0px;
}

nav{
    // background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
    background-color: rgb(231, 242, 250);
    z-index: 60;
    padding:5px 0px;
    // padding-bottom: 0px;
    .content{
        position: sticky;
        top: 0px;
        width: 1140px;
        width: 1000px;
        margin: auto;
        display: flex;
        z-index: 99;
        position: relative;
        // background-color: black;
        .navbar-brand{
            padding: 0px;
            margin-right: 0px;
            // margin: auto;
            img{
                width: 120px;
                height: auto;
                height: 60px;
                margin-right: 30px;
            }
        }
        .collapse{
            display: flex;
            margin-left:auto ;
            position: absolute;
            right: 0px;
            top: 28px;
            .navbar-nav{
                .nav-item{
                    // position: relative;
                    .nav-link{
                        font-size: 16px;
                        // padding: 0px 15px;
                        line-height: 34px;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.637);
                        // padding-left: 15px;
                        padding: 0px 0px 0px 20px;
                        &:nth-child(2){
                            padding-right: 0px;
                        }
                    }
                    .dropdown-menu.show{

                        width: max-content;
                        // top: -11px;
                        position: absolute;
                        // transform: translateY(-11px);
                        z-index: 99;
                        background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
                    }
                }
            }
        }
        .right{
            display: flex;
            position: absolute;
            top: 0px;
            right: 0px;
            line-height: 30px;
            height: 20px;
            margin-left: auto;
            .right_item{
                display: flex;
                // margin-left: 5px;
                span{
                    padding: 0px 3px;
                    // line-height: 50px;
                    font-size: 14px;
                    .fa-heart{
                        font-size: 14px;
                        color: rgb(201, 13, 13);
                        // line-height: 50px;
                    }
                    .fa-shopping-cart{
                        font-size: 14px;
                        // line-height: 50px;
                    }
                    img{
                        width: 20px;
                        height:20px;
                        // line-height: 50px;
                        border-radius: 50%;
                        transform: translateY(-2px);
                    }
                }
            }
        }
    }
}

.swiper-container {
    width: 1000px;
    margin:30px auto;
    height: 100%;
    .swiper-wrapper{
        .swiper-slide{
            width:100% ;
            height: 480px;
            img{
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
    .swiper-button-prev::after{
        font-size: 30px;
        font-weight: 600;
    }
    .swiper-button-next::after{
        font-size: 30px;
        font-weight: 600;
    }
    .swiper-pagination{
        font-size: 15px;
        font-weight: 600;
    }
    .swiper-pagination-bullet{
        background-color: rgb(36, 49, 71);
    }
    .swiper-pagination-bullet-active{
        background-color: white;
    }
    .color{
        color: rgb(255, 255, 255);
    }
    .swiper-pagination{
        color: brown;
    }
}

.brand{
    width: 1000px;
    margin: auto;
    text-align: center;

    .brand_title{
        display: flex;
        justify-content: center;
        .title{
            font-size: 32px;
            letter-spacing: 4px;
            font-weight: 600;
            color:rgb(181, 187, 156) ;
            padding: 0px 30px;
        }
        .brand_border{
            width: 350px;
            height: 2px;
            background-color: rgb(181, 187, 156);
            transform: translateY(28px);
        }
    }
    .texts{
        padding: 10px 100px;
        font-size: 18px;
        letter-spacing: 3px;
        color: rgb(122, 73, 33);
        font-weight: 600;
        .text{
            padding-bottom: 5px;

        }
    }
}

.banner{
    // width: 70%;
    margin-top:30px ;
    position: relative;
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    video{
        width: 100%;
        height:30vw;
        width: 1000px;
        height:auto ;
        margin: auto;
        display: block;
    }

}
.brand_concept{
    width: 1000px;
    margin: auto;
    display: flex;
    margin: 30px auto;
    margin-bottom: 0px;
    position: relative;
    padding: 0px 15px;
    .pic{
        width: 45%;
        height: 450px;
        background-color: palegoldenrod;
        transform: translateY(40px);
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            display: block;
            border-radius: 30px;
        }
    }
    .texts{
        width: 54%;
        height:400px;
        background-color: rgba(236, 240, 220, 0.705);
        // position: absolute;
        // right: 30px;
        // bottom: 30px;
        transform: translate(-50px,140px);
        padding: 30px  90px;
        position: relative;
        border-radius: 8px;
        padding-left: 140px;
        .small_title{
            font-size: 28px;
            letter-spacing: 2px;
            font-weight: 600;
            color: rgb(165, 112, 42);
            margin-bottom: 15px;
        }
        .text{
            font-size: 18px;
            letter-spacing: 2px;
            line-height: 34px;
            color: rgb(148, 124, 92);
            font-weight: 600;
        }
        .titles{
            padding: 0px 80px;
            // background-color: palegreen;
            position: absolute;
            top: 0px;
            display: flex;
            transform: translate(-90px,-110%);
            // height: 72px;
            .border{
                width: 80px;
                border: 100px;
                height: 5px;
                // background-color:palegreen ;
                margin-right: 20px;
                
                transform: translateY(54px);
                background-color: rgb(181, 187, 156);
            }
            .title{
                font-size: 60px;
                letter-spacing: 1.5px;
                font-weight: 600;
                color:rgb(181, 187, 156) ;
                
            }
        }
    }
    img{
        margin-left: auto;
        height: 580px;
    }
}
.allpart3{
    padding: 5px  0px;
    position: sticky;
    top: 74px;
    z-index: 10;
    background-color: white;
    background-color: rgb(151, 183, 206);
    background-color: rgb(168, 204, 230);

    .part3{
        .types{
            width: 1000px;
            // transform: translateX(-25px);
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            // justify-content: center;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.432);
            // justify-content: space-between;
            .type{
                padding: 3px 50px;
                // padding-bottom: 5px;
                position: relative;
                cursor: pointer; 
                border-right: 1px solid gainsboro;
                // margin-bottom:20px ;
                &:nth-child(7n){
                    border-right: none;
                    padding-right: 0px;
                }
                &:nth-child(1){
                    padding-left: 0px;
                }
                .title{
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.432);        
                    font-size: 14px;
                }
                .content{
                    position: absolute;
                    display: none;
                    padding: 0px 5px;
                    padding-top:40px ;
                    left: 50%;
                    transform: translate(-50%,-32px);
                    z-index: 20;
                    margin: auto;
                    &:hover{
                        display: block;
                        transition: 1s;
                    }
                    .item{
                        // width: max-content;
                        // width: 100%;
                        font-size: 14px;
                        width: 150px;
                        padding: 5px ;
                        text-align: center;
                        background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
                        &:hover{
                            transition: 0.4s;
                            color: rgba(11, 11, 126, 0.76);
                            background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
                        } 
                    }           
                }
                &:active .content{
                    display: block;
                    transition: 1s;
                } 
            }
        }
    }

}

.index_cards{
    width: 1000px;
    margin: auto;
    // background-color: lightsteelblue;
    // margin: 30px auto;
    padding: 0px 15px;
    padding-top: 10px ;

    .title{
        font-size: 24px;
        font-weight: 700;
        padding: 20px  0px;
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0.884);
    }
    .cards{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .index_card{
            width: calc(25% - 15px);
            // height: 200px;
            // background-color: lightyellow;
            position: relative;
            .pic{
                width: 100%;
                display: block;
                // border-radius: 0px  10px 0px 10px;

                img{
                    width: 100%;
                    height: 200px;
                    display: block;
                    border-radius: 10px;

                }
            }
            .text{
                text-align: center;
                // padding: 5px 0px;
                background-color: rgba(255, 255, 255, 0.753);
                font-size: 18px;
                letter-spacing: 2px;
                font-weight: 600;
                padding: 5px 5px;
                // transform: translateY(-35px);
                position: absolute;
                // bottom: 0px;
                top: 0px;
                right: 0px;
                color: rgb(29, 29, 29);
                border-radius: 0px  8px 0px 8px;
            }
        }
    }
}

// 5/2.5/2.5
.cards1{
    .content{
        display: flex;
        width: 1000px;
        margin: auto;
        .big_card{
            img{
                width: 490px;
                height:310px;
                margin-right: 20px;
            }
        }
        .small_cards{
            .small_card{
                display: flex;
                .pic{
                    position: relative;
                    img{
                        width: 235px;
                        height:145px;
                        margin-right: 20px;
                        &:nth-child(2){
                            margin-right: 0px;
                        }
                    }
                    .mask{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(240, 251, 255, 0.322);
                        z-index: 2;
                        top: 0px;
                        display: none;
                    }
                    .text{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: rgba(18, 5, 71, 0.925);
                        font-size: 22px;
                        z-index: 3;
                        font-weight: 600;
                        letter-spacing: 1.5px;
                        display: none;
                    }
                    &:hover .mask{
                        display: block;
                    }
                    &:hover .text{
                        display: block;
                    }
                }
            } 
            .top{
                margin-bottom: 20px;
            }
        }

    }
    
}
.news{
    width: 1000px;
    margin: auto;
    margin: 10px auto;
    .title{
        font-size: 24px;
        font-weight: 700;
        padding: 20px  0px;
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0.884);
        padding-left: 15px;
    }
    .cats{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding: 0px  15px;
        .b{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            img{
                width: 400px;
                opacity: .7;
            }
        }
        .cat{
        //    padding: 20px 0px;
        margin-bottom: 20px;
           width: calc(50% - 15px);
           margin-right: 30px;
          
        //    margin-bottom: 20px;
          
           position: relative;
           &:nth-child(2n){
               margin-right: 0px;
           }
          
        //    &:nth-child(2){
        //         .pic{
        //             img{
        //                 transform: translate(-50%,-70%) rotate(-45deg);
        //             }
        //         }
        //     }
        //     &:nth-child(3){
        //         .pic{
        //             img{
        //                 transform: translate(-50%,-70%) rotate(-45deg);
        //             }
        //         }
        //     }

            .pic{
                position: relative;
                .fa-paperclip{
                    position: absolute;
                    font-size: 32px;
                    // color: rgba(62, 85, 185, 0.829);
                    left: 50%;
                    top: -12%;
                    transform: rotate(-15deg);
                }
                .fa-thumbtack{
                    position: absolute;
                    font-size: 32px;
                    color: rgba(62, 85, 185, 0.829);
                    left: 50%;
                    top: -18%;
                    transform: rotate(30deg);
                }
                img{
                    width: 80px;
                    z-index: 1;
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%,-70%);
                    transform: translate(-50%,-70%) rotate(20deg);
                }
                .mask{
                    width: 100%;
                    padding: 20px 15px;
                    padding-bottom: 30px;
                    letter-spacing: 1.5px;
                    line-height: 28px;
                    font-size: 16px;
                    font-weight: 600;
                    color: rgb(90, 86, 86);
                    // height:px;
                    // padding: 10px;
                    background-color: rgb(230, 238, 241);
                    // background-color: yellow;
                    border-radius: 10px;
                    border: 1px solid gainsboro;
                }
                .date{
                    padding: 5px 12px;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-size: 14px;
                    letter-spacing: 1.5px;
                    // background-color: rgb(187, 193, 206);
                    color: rgb(110, 107, 107);
                    // color: white;
                    border-radius: 2px;
                }
            }
        }
    }
    .content{
        color: rgba(0, 0, 0, 0.767);
        .new{
            position: relative;
            border-radius: 30px;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 2.5px;
            padding: 8px 15px;
            // border-bottom: 1px solid rgba(0, 0, 0, 0.384);
            &:nth-child(2n){
                background-color: rgba(128, 128, 128, 0.445);
                background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
            }
            &:nth-child(1){
                padding-top: 0px;
            }
            .date{
                position: absolute;
                font-size: 14px;
                letter-spacing: 1.5px;
                color: #003354;
                // padding-left: 10px;
                top: 50%;
                transform: translateY(-50%);
                right: 15px;
            }
        }
    }
}


.sale{
    width: 1000px;
    margin: auto;
    padding: 0px  15px;
    .title{
        font-size: 24px;
        font-weight: 600;
        padding: 20px  0px;
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0.884);
    }
    .content{
        // display: flex;
        .four1{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            .product_card{
                width: calc(33.33% - 13.33px);
                width: calc(25% - 15px);
                // width: calc(33.33% - 20px);
                margin-right: 20px;
                margin-bottom: 20px;
                &:nth-child(4n){
                    margin-right: 0px;
                }
                .pic{
                    // margin-right: 20px;
                    position: relative;

    
                    img{
                        // width: 235px;
                        // width: 320px;
                        width: 100%;
                        height: 200px;
                        display: block; 
                        border-radius: 10px 10px  0px 0px;
                    }
                    .heart_text{
                        position: absolute;
                        // bottom: 8px;
                        // right: 8px;
                        top: 10px;
                        left: 10px;
                        font-size: 12px;
                        letter-spacing: 1px;
                        background-color: lightcoral;
                        color: white;
                        padding: 2px  6px;
                        border-radius: 2px;
                    }
                    .heart{
                        width: 40px;
                        height:40px;
                        
                        background-color: rgb(107, 103, 96);
                        border-radius: 50%;
                        text-align: center;
                        line-height: 42px;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        font-size: 22px;
                        // color: rgb(173, 13, 13);
                        color: rgb(104, 86, 86);
                        color: white;
                        // &:active{
                        //     color: rgb(160, 6, 6);
                        // }
                        &.active{
                            color: darkred;
                        }
                    }
                    &:nth-last-child(1){
                        margin-right: 0px;
                    }
                    &:hover .mask{
                        display: block;
                    }
                    &:hover .heart{
                        color: honeydew;
                    }
                }
                .text{
                    padding: 10px;
                    // padding-bottom: 0px;
                    position: relative;
                    width: max-content;
                    width: 100%;
                  
                    font-size: 18px;
                    color: rgb(8, 8, 8);
                    z-index: 5;
                    padding-top: 15px;
                    letter-spacing: 1.5px;
                    border-radius: 0px 0px  10px 10px;
                    background-color: rgba(209, 224, 238, 0.63);

  
                    .article{
                        z-index: 3;
                        font-size: 14px;
                        color: rgb(46, 45, 45);
                        display: flex;
                        // line-height: 30px;
                        padding: 15px 0px;
                        padding-right: 30px;
                        width: 100%;
                        // height: max-content;
                        height: auto;
                        position: relative;
                        

                        .pic{
                            width: 18px;
                            height: 18px;
                            margin-right:5px;
    
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                            .article_name{
                                width: calc(100% - 230px);
                                // padding-right: 30px;
                                height: auto;                                
                            }
                        }
                        .buy{
                            font-size: 12px;
                            // font-weight: 600;
                            padding: 3px  8px;
                            background-color: rgb(129, 128, 128);
                            color: white;
                            position: absolute;
                            bottom: 13px;
                            right: 0px;
                            border-radius: 3px;
                            border: 1px solid rgba(250, 242, 242, 0.219);
    
                            &:hover{
                                background-color: rgba(250, 242, 242, 0.568);
                                color: darkred;
                                transition: .2s;
                                border: 1px solid darkred;
                                // padding: 2px  6px;
                               
                            }
                            &:hover .fa-angle-double-right{
                                transform: translateX(5px);
                                transition: .4s;
                            }
                            .fa-angle-double-right{
                                margin-left: 1px;
                            }
                        }
    
                    }
                    .p{
                        // padding-top: 8px;
                    }
                    .cost{
                        position: absolute;
                        top: 15px;
                        right: 8px;
                        font-size: 18px;
                        color: #003354;
                        font-weight: 600;
                    }
                    .name{
                        font-weight: 600;
                        letter-spacing: 2px;
                        padding-right: 100px;
                    }
                    
                    .heart{
                        border-radius: 50%;
                        text-align: center;
                        line-height: 42px;
                        position: absolute;
                        top: 3px;
                        right: 10px;
                        font-size: 24px;
                        // color: rgb(173, 13, 13);
                        color: rgb(207, 182, 182);
                        &:active{
                            color: darkred;
                        }
    
    
                    }
                    
                }
            }
        }
    }
}

.sale1{
    width: 1000px;
    margin: auto;
    padding: 0px  15px;
    .title{
        font-size: 24px;
        font-weight: 600;
        padding: 20px  0px;
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0.884);
    }
    .content{
        // display: flex;
        .four1{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            .product_card{
                width: calc(33.33% - 13.33px);
                width: calc(25% - 15px);
                margin-right: 20px;
                margin-bottom: 20px;

                &:nth-child(4n){
                    margin-right: 0px;
                }
                .pic{
                    // margin-right: 20px;
                    position: relative;
                    &:hover {
                        opacity: .7;
                    }
                    &:hover .buy{
                        display: block;
                        transition: .8s;
                    }
                    .buy{
                        width: 100%;
                        display: none;
                        font-size: 14px;
                        // font-weight: 600;
                        padding: 5px  0px;
                        background-color: rgb(129, 128, 128);
                        color: white;
                        position: absolute;
                        bottom: 0px;
                        // right: 0px;
                        border-radius: 3px;
                        border: 1px solid rgba(250, 242, 242, 0.219);
                        text-align: center;
                        margin-top: 10px;

                        &:hover{
                            background-color: rgba(250, 242, 242, 0.568);
                            color: darkred;
                            transition: .2s;
                            border: 1px solid darkred;
                            // padding: 2px  6px;
                           
                        }
                        &:hover .fa-angle-double-right{
                            transform: translateX(5px);
                            transition: .4s;
                        }
                        .fa-angle-double-right{
                            margin-left: 1px;
                        }
                    }
                    .article{
                        z-index: 3;
                        font-size: 14px;
                        color: rgb(46, 45, 45);
                        display: flex;
                        // line-height: 30px;
                        padding: 15px 0px;
                        padding-right: 30px;
                        width: 100%;

                        height: auto;
                        position: relative;

                        position: absolute;
                        z-index: 3;
                        bottom: 8px;
                        .pic{
                            width: 18px;
                            height: 18px;
                            margin-right:5px;
    
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                            .article_name{
                                width: calc(100% - 230px);
                                // padding-right: 30px;
                                height: auto;                                
                            }
                        }
                    }
                    img{
                        width: 100%;
                        height: 200px;
                        height: 150px;
                        display: block; 
                        border-radius: 5px ;
                    }
                    .heart_text{
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        font-size: 12px;
                        letter-spacing: 1px;
                        background-color: rgb(224, 95, 95);
                        color: white;
                        padding: 2px  6px;
                        border-radius: 2px;
                    }
                    .heart{
                        width: 40px;
                        height:40px;
                        
                        background-color: rgb(107, 103, 96);
                        border-radius: 50%;
                        text-align: center;
                        line-height: 42px;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        font-size: 22px;
                        // color: rgb(173, 13, 13);
                        color: rgb(104, 86, 86);
                        color: white;
                        // &:active{
                        //     color: rgb(160, 6, 6);
                        // }
                        &.active{
                            color: darkred;
                        }
                    }
                    &:nth-last-child(1){
                        margin-right: 0px;
                    }
                    &:hover .mask{
                        display: block;
                    }
                    &:hover .heart{
                        color: honeydew;
                    }
                }
                .text{
                    padding: 10px;
                    // padding-bottom: 0px;
                    position: relative;
                    width: max-content;
                    width: 100%;
                  
                    font-size: 14px;
                    color: rgb(8, 8, 8);
                    z-index: 5;
                    padding-top: 10px;
                    letter-spacing: 1.5px;
                    border-radius: 0px 0px  10px 10px;
                    text-align: center;
                    // background-color: rgba(209, 224, 238, 0.63);
                   
                    .p{
                        // padding-top: 8px;
                    }
                    .cost{
                        // position: absolute;
                        // top: 15px;
                        // right: 8px;
                        // font-size: 18px;
                        color: #003354;
                        font-weight: 600;
                    }
                    .name{
                        font-weight: 600;
                        letter-spacing: 2px;
                        font-size: 16px;
                        // padding-right: 100px;
                    }
                    
                    .heart{
                        border-radius: 50%;
                        text-align: center;
                        line-height: 42px;
                        position: absolute;
                        top: 3px;
                        right: 10px;
                        font-size: 24px;
                        // color: rgb(173, 13, 13);
                        color: rgb(207, 182, 182);
                        &:active{
                            color: darkred;
                        }
    
    
                    }
                    
                }
            }
        }
    }
}

.maps{
    width: 1000px;
    // background-color: crimson;
    margin:30px  auto;
    padding: 0px  15px;
    .title{
        font-size: 24px;
        font-weight: 600;
        padding: 20px  0px;
        letter-spacing: 5px;
        color: rgba(0, 0, 0, 0.884);
    }
    .content{
        width: 100%;
        display: flex;
        height: max-content;
        justify-content: space-between;
        // padding: 0px 15px;
        height:240px;
        .pic{
            width: 350px;
            height: 240px;
            margin-right: 35px;
            margin-bottom: 30px;
            img{
                width: 100%;
                // height: 100%;
                height: 240px;
            }
        }
        .map{
            max-width: 1920px;
            width: calc(100% - 395px);
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 2px;
            // width: max-content;
            position: relative;
            height: 240px;
         
            .p{
                margin-bottom: 10px;
                color: rgb(37, 35, 20);
                padding-left:15px;
                &:nth-child(1){
                    font-size: 20px;
                    font-weight: 700;
                    color: rgb(29, 28, 36);
                    padding: 8px 15px;
                    // border-radius: 10px 20px ;
                    background-color: rgba(128, 128, 128, 0.301);
                    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
                    border-radius: 3px;
                }
            }
            a{
                font-size: 14px;
                padding: 5px  10px;
                background-color: rgb(83, 118, 131);
                width: max-content;
                color: rgba(255, 255, 255, 0.89);
                position: absolute;
                right: 10px;
                bottom: 30px;
                .fa-angle-double-right{
                    margin-left: 5px;
                }

            }
        }
    }
    
}
.shop{
    width: 1000px;
    margin: auto;
    margin: 20px  auto;
    padding-bottom: 20px;
    .cards{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0px  15px;
        // padding: 0px;
        .shop_card{
            width: calc(50% - 2.5px);
            // width: 50%;
            margin-right: 5px;
            margin-bottom: 5px;            
            &:hover img{
                border-radius: 5px;
                opacity: .8;
            }
            &:nth-child(2n){
                margin-right: 0px;
            }
            &:nth-child(1):hover{
                transform: translate(-15px,-15px);
            }
            &:nth-child(2):hover{
                transform: translate(15px,-15px);
            }
            &:nth-child(3):hover{
                transform: translate(-15px,15px);
            }
            &:nth-child(4):hover{
                transform: translate(15px,15px);
            }
            &:hover{
                transition: .5s;
            }
            img{
                width: 100%;
                height: 250px;
                border-radius: 3px;
                opacity: 1;
            }
        }
    }
}

footer{
    max-width: 1920px;
    padding: 30px 0px;
    width: 100%;
    // margin-top: 60px;
    
    background-color: rgba(128, 128, 128, 0.445);
    background-color: rgba(128, 128, 128, 0.301);;
    background-color: rgb(231, 242, 250);
    .content{
        margin: auto;
        width: 1000px;
        display: flex;
        letter-spacing: 2px;
        ul{
            font-size: 18px;
            width: 16.666%;
            list-style: none;
            // margin-bottom: 20px;
            // padding-bottom: 15px;
            text-align: center;
            font-weight: 600;
            padding: 5px;
            // border-right: 1px solid gray;
            &:nth-last-child(1){
                border-right: 0px;
            }
            li{
                font-size: 15px;
                padding: 5px 0px;
                font-weight: 500;
                &:nth-child(1){
                    // padding-top: 15px;
                    margin-top: 10px;
                    // border-top: 1px solid gray;
                }
            }
        }
    }
    .icons{
        margin: auto;
        width: 1140px;
        display: flex;
        justify-content: center;
        .icon{
            font-size: 42px;
            padding: 5px  30px;
            .fa-facebook-square{
                // color: blue;
            }
            .fa-instagram-square{
                // color: blueviolet;
            }
        }
    }
    .copyright{
        margin: auto;
        width: 1140px;
        font-size: 14px;
        text-align: center;
        padding: 5px 0px;
        letter-spacing: 1.5px;
    }
}




