nav {
  background-color: #e7f2fa;
  z-index: 60;
  padding: 5px 0px;
}

nav .content {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 1140px;
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: relative;
}

nav .content .navbar-brand {
  padding: 0px;
  margin-right: 0px;
  padding-right: 130px;
  position: relative;
}

nav .content .navbar-brand img {
  width: 120px;
  height: auto;
  height: 60px;
  margin-right: 30px;
}

nav .content .navbar-brand .brand_title {
  position: absolute;
  font-size: 32px;
  right: 0px;
  bottom: 0px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  letter-spacing: 3px;
  font-weight: 600;
}

nav .content .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  position: absolute;
  right: 0px;
  top: 28px;
}

nav .content .collapse .navbar-nav .nav-item {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

nav .content .collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.637);
  padding: 0px 0px 0px 20px;
}

nav .content .collapse .navbar-nav .nav-item .nav-link:nth-child(2) {
  padding-right: 0px;
}

nav .content .collapse .navbar-nav .nav-item .dropdown-menu.show {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  z-index: 99;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
}

nav .content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 30px;
  height: 20px;
  margin-left: auto;
}

nav .content .right .right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .content .right .right_item span {
  padding: 0px 3px;
  font-size: 14px;
}

nav .content .right .right_item span .fa-heart {
  font-size: 14px;
  color: #c90d0d;
}

nav .content .right .right_item span .fa-shopping-cart {
  font-size: 14px;
}

nav .content .right .right_item span img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

main .swiper-container {
  width: 1000px;
  margin: 30px auto;
  height: 100%;
}

main .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 480px;
}

main .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

main .swiper-container .swiper-button-prev::after {
  font-size: 24px;
  font-weight: 600;
}

main .swiper-container .swiper-button-next::after {
  font-size: 24px;
  font-weight: 600;
}

main .swiper-container .swiper-pagination {
  font-size: 15px;
  font-weight: 600;
}

main .swiper-container .swiper-pagination-bullet {
  background-color: #243147;
}

main .swiper-container .swiper-pagination-bullet-active {
  background-color: white;
}

main .swiper-container .color {
  color: white;
  padding: 0px 3px;
  background-color: white;
}

main .swiper-container .next {
  -webkit-clip-path: polygon(80% 50%, 0 15%, 0 85%);
          clip-path: polygon(80% 50%, 0 15%, 0 85%);
}

main .swiper-container .prev {
  -webkit-clip-path: polygon(20% 50%, 100% 15%, 100% 85%);
          clip-path: polygon(20% 50%, 100% 15%, 100% 85%);
}

main .swiper-container .swiper-pagination {
  color: brown;
}
/*# sourceMappingURL=online_shop.css.map */