@charset "UTF-8";
body {
  background-image: url(/img/背景.png);
}

nav {
  background-color: #e7f2fa;
  z-index: 60;
  padding: 5px 0px;
}

nav .content {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 1140px;
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: relative;
}

nav .content .navbar-brand {
  padding: 0px;
  margin-right: 0px;
  padding-right: 130px;
  position: relative;
}

nav .content .navbar-brand img {
  width: 120px;
  height: auto;
  height: 60px;
  margin-right: 30px;
}

nav .content .navbar-brand .brand_title {
  position: absolute;
  font-size: 32px;
  right: 0px;
  bottom: 0px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  letter-spacing: 3px;
  font-weight: 600;
}

nav .content .collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  position: absolute;
  right: 0px;
  top: 28px;
}

nav .content .collapse .navbar-nav .nav-item {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

nav .content .collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-size: 18px;
  line-height: 34px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.637);
  padding: 0px 0px 0px 20px;
}

nav .content .collapse .navbar-nav .nav-item .nav-link:nth-child(2) {
  padding-right: 0px;
}

nav .content .collapse .navbar-nav .nav-item .dropdown-menu.show {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  z-index: 99;
  background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
}

nav .content .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 30px;
  height: 20px;
  margin-left: auto;
}

nav .content .right .right_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .content .right .right_item span {
  padding: 0px 3px;
  font-size: 14px;
}

nav .content .right .right_item span .fa-heart {
  font-size: 14px;
  color: #c90d0d;
}

nav .content .right .right_item span .fa-shopping-cart {
  font-size: 14px;
}

nav .content .right .right_item span img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

main .swiper-container {
  width: 1000px;
  margin: 30px auto;
  height: 100%;
}

main .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 436px;
  height: 240px;
}

main .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 3px;
}

main .swiper-container .swiper-button-prev::after {
  font-size: 24px;
  font-weight: 600;
}

main .swiper-container .swiper-button-next::after {
  font-size: 24px;
  font-weight: 600;
}

main .swiper-container .swiper-pagination {
  font-size: 15px;
  font-weight: 600;
}

main .swiper-container .swiper-pagination-bullet {
  background-color: #243147;
}

main .swiper-container .swiper-pagination-bullet-active {
  background-color: white;
}

main .swiper-container .color {
  color: white;
  padding: 0px 3px;
  background-color: white;
}

main .swiper-container .next {
  -webkit-clip-path: polygon(80% 50%, 0 15%, 0 85%);
          clip-path: polygon(80% 50%, 0 15%, 0 85%);
}

main .swiper-container .prev {
  -webkit-clip-path: polygon(20% 50%, 100% 15%, 100% 85%);
          clip-path: polygon(20% 50%, 100% 15%, 100% 85%);
}

main .swiper-container .swiper-pagination {
  color: brown;
}

main .product_information {
  width: 1000px;
  margin: auto;
  padding: 0px 8px;
}

main .product_information .selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

main .product_information .selects .dino-input-field {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: gray;
  border: 1px solid gainsboro;
  background-color: #2c3e50;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  border-radius: 3px 3px 0px 0px;
  text-align: center;
  letter-spacing: 2px;
}

main .product_information .selects .dino-input-field label {
  top: 5px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

main .product_information .selects .dino-input-field .select-options {
  display: none;
  position: absolute;
  background-color: wheat;
  background-color: #6894b1;
  background-color: #687A8F;
  -webkit-box-shadow: 5px 5px 15px #a7a4a4;
          box-shadow: 5px 5px 15px #a7a4a4;
  width: 100%;
  top: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: black 0 5px 20px -15px;
          box-shadow: black 0 5px 20px -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 50;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
}

main .product_information .selects .dino-input-field .select-options li {
  list-style: none;
  padding: 10px 20px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

main .product_information .selects .dino-input-field .select-options li:hover {
  background-color: #509C87;
  color: white;
  cursor: pointer;
}

main .product_information .selects .dino-input-field span {
  display: block;
  padding: 0 20px;
  width: 100%;
}

main .product_information .selects select {
  width: 220px;
  height: 40px;
  border-radius: 30px;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 600;
  color: gray;
  outline: none;
  border: 1px solid #c7c6c6;
  background-image: url(/img/背景.png);
}

main .product_information .products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main .product_information .products a {
  color: black;
}

main .product_information .products .product_card {
  width: calc(33.33% - 13.333px);
  margin-right: 20px;
  padding-bottom: 30px;
}

main .product_information .products .product_card:nth-child(3n) {
  margin-right: 0px;
}

main .product_information .products .product_card .product_pic {
  width: 100%;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
}

main .product_information .products .product_card .product_pic:hover .product_btn {
  display: block;
  opacity: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

main .product_information .products .product_card .product_pic img {
  display: block;
  width: 100%;
  height: 236px;
  border-radius: 5px;
  z-index: 1;
}

main .product_information .products .product_card .product_pic .product_btn {
  display: none;
  opacity: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  width: 100%;
  text-align: center;
  padding: 3px 8px;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 5px;
}

main .product_information .products .product_card .product_pic .product_btn:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-color: rgba(255, 166, 0, 0.795);
}

main .product_information .products .product_card .product_content {
  padding-top: 10px;
}

main .product_information .products .product_card .product_content .product_text {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 3px;
  letter-spacing: 1.5px;
}

main .product_information .products .product_card .product_content .product_name {
  color: #7e8083;
}

main .product_information .products .product_card .product_content .product_price {
  color: #DF744A;
}
/*# sourceMappingURL=online_shop.css.map */