*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

html{
    position: relative;
}

.navbar{
    position: sticky;
    top: 0px;
}



nav{
    
    // background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
    background-color: white;
    z-index: 60;
    display: flex;
    flex-direction: column;
    
    .content{
        position: sticky;
        top: 0px;
        width: 1140px;
        // width: 1000px;
        margin: auto;
        display: flex;
        z-index: 99;
        position: relative;
        
        .navbar-brand{
            padding: 0px;
            margin-right: 0px;
            img{
                width: 80px;
                height: 50px;
                margin-right: 30px;
            }
        }
        .collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        font-size: 18px;
                        padding: 0px 15px;
                        line-height: 50px;
                        font-weight: 600;
                        color: rgba(0, 0, 0, 0.637);
                    }
                    .dropdown-menu{
                        
                        // padding:0px  60px;
                        width: max-content;
                        z-index: 99;
                        background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
                    }
                }
            }
        }
        .right{display: flex;
            position: absolute;
            right: 0px;
            line-height: 50px;
            .right_item{
                display: flex;
                margin-left: 5px;
                span{
                    padding: 0px 3px;
                    line-height: 50px;
    
                    .fa-heart{
                        font-size: 24px;
                        color: rgb(201, 13, 13);
                        line-height: 50px;

                    }
                    .fa-shopping-cart{
                        font-size: 24px;
                        line-height: 50px;
                    }
    
                    img{
                        width: 30px;
                        height:30px;
                        line-height: 50px;
                        border-radius: 50%;
                        transform: translateY(-2px);
                    }
                }

            }
            
            
        }
    }







}

a{
    text-decoration: none;
}

main{
    max-width: 1140px;
    width: 1400px;
    margin:auto;
    // padding: 30px 0px;
    padding-bottom: 60px;
    position: relative;
    .part3{
        background-color: white;
        margin: auto;

    // padding: 10px 0px;
    /* background-color: gainsboro; */
    /* border: 1px solid gray; */
    position: sticky;
    top: 66px;
    // background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
    background-color: white;

    z-index: 10;

    .types{
        width: 1140px;
        transform: translateX(100px);
        margin: auto;
        display: flex;
        // justify-content: center;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.432);
        .type{
            padding: 0px 25px;
            padding-bottom:10px ;
            position: relative;
            cursor: pointer; 
            .title{
                font-weight: 600;
                color: rgba(0, 0, 0, 0.432);        
                font-size: 18px;
                
            }
            .content{
                position: absolute;
                display: none;
                padding: 0px 5px;
                padding-top:40px ;
                left: 50%;
                transform: translate(-50%,-30px);
                // background-color: darkred;
                // z-index: ;
                &:hover{
                    display: block;
                    transition: 1s;
                }
                .item{
                    // display: flex;
                    width: 200px;
                    padding: 5px ;
                    // border: 1px solid bisque;
                    text-align: center;
                    background-image: url(https://www.budounotane.com/assets/img/common/c-wrap_bg.jpg);
                    &:hover{
                        transition: 0.2s;
                        color: rgba(11, 11, 126, 0.76);
                    }
                    .details{
                        a{
                            font-size: 15px;
                            font-weight: 500;
                        }
                        
                    }
                }
                    
            }
            &:active .content{
                display: block;
                transition: 1s;

            } 
        
        }
        }
    }
    .contents{
        width: 1000px;
        margin: auto;
        margin-top: 20px;
        .product_news{
            background-color: rgb(245, 232, 208);
            color: rgba(0, 0, 0, 0.6);
            font-size: 16px;
            font-weight: 500;
            letter-spacing:2px;
            padding: 10px 0px 10px 8px;
            margin-bottom: 20px;
        }
        .now_page{
            font-size: 15px;
            letter-spacing: 2px;
            // font-weight: 600;
            color: gray;
            margin-bottom: 20px;
            padding-left: 8px;
        }
        
        .selectors{
            width: 1000px;
            margin: auto;
            display: flex;
            margin: 20px auto;
            // justify-content: center;
            .select{
                position: relative;
                width: max-content;
                margin-right: 20px;
                // padding: 10px;
                select{
                    // width: max-content;
                    text-align: center;
                    width: 235px;
    
                    // margin-right: 30px;
                    // padding:10px 25px 10px 15px;
                    padding: 8px 5px;
                    font-size: 17px;
                    border-radius: 5px;
                    // position: relative;
        
                     /*移除箭頭樣式*/
                    // appearance:none;
                    // -moz-appearance:none;
                    // -webkit-appearance:none;
    
                }
                .fa-sort-down{
                    position: absolute;
                    right: 8px;
                    top: 50%;
                    transform: translateY(-70%);
                    display: none;
                }
            } 
        }
        .four1{
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 45px;
            .product_card{
                width: calc(33.33% - 13.33px);
                margin-right: 20px;
                margin-bottom: 40px;
                &:nth-child(3n){
                    margin-right: 0px;
                }
                .pic{
                    // margin-right: 20px;
                    position: relative;
    
                    img{
                        width: 235px;
                        width: 320px;
                        height: 210px;
                        display: block; 
                    }
                    .heart_text{
                        position: absolute;
                        // bottom: 8px;
                        // right: 8px;
                        top: 10px;
                        left: 8px;
                        font-size: 14px;
                        letter-spacing: 1.5px;
                        background-color: lightcoral;
                        color: white;
                        padding: 3px  10px;
                        border-radius: 3px;
                    }
                  
                    
                    .heart{
                        width: 40px;
                        height:40px;
                        
                        background-color: rgb(107, 103, 96);
                        border-radius: 50%;
                        text-align: center;
                        line-height: 42px;
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        font-size: 22px;
                        // color: rgb(173, 13, 13);
                        color: rgb(104, 86, 86);
                        color: white;
                        // &:active{
                        //     color: rgb(160, 6, 6);
                        // }
                        &.active{
                            color: darkred;
                        }
                    }
                    &:nth-last-child(1){
                        margin-right: 0px;
                    }
                    &:hover .mask{
                        display: block;
                    }
                    // &:hover .text{
                    //     display: block;
                    // }
                    // &:hover .article{
                    //     color: honeydew;
                    // }
                    &:hover .heart{
                        color: honeydew;
                    }
                }
                .text{
                    padding: 10px;
                    position: relative;
                    width: max-content;
                    width: 100%;
                  
                    font-size: 18px;
                    color: rgb(8, 8, 8);
                    z-index: 5;
                    padding-bottom: 25px;
                    letter-spacing: 1.5px;

  
                    .article{
                        z-index: 3;
                        font-size: 14px;
                        color: rgb(46, 45, 45);
                        display: flex;
                        // line-height: 30px;
                        padding: 8px 0px;
                        padding-right: 30px;
                        width: 100%;
                        // height: max-content;
                        height: auto;
                        
                        .pic{
                            width: 18px;
                            height: 18px;
                            margin-right:5px;
    
                            img{
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                            .article_name{
                                width: calc(100% - 230px);
                                // padding-right: 30px;
                                height: auto;
                            }
                        }
    
                    }
                    .p{
                        // padding-top: 8px;
                    }
                    .cost{
                        position: absolute;
                        top: 10px;
                        right: 8px;
                        font-size: 18px;
                        color: #003354;
                        font-weight: 600;
                    }
                    .name{
                        font-weight: 600;
                        letter-spacing: 2px;
                        padding-right: 100px;
                    }
                    .buy{
                        font-size: 14px;
                        // font-weight: 600;
                        padding: 5px  10px;
                        background-color: rgb(129, 128, 128);
                        color: white;
                        position: absolute;
                        bottom: 0px;
                        right: 10px;
                        border-radius: 3px;
                    }
                    .heart{
                        // width: 40px;
                        // height:40px;
                        
                        // background-color: rgb(107, 103, 96);
                        border-radius: 50%;
                        text-align: center;
                        line-height: 42px;
                        position: absolute;
                        top: 3px;
                        right: 10px;
                        font-size: 24px;
                        // color: rgb(173, 13, 13);
                        color: rgb(207, 182, 182);
                        // color: white;
                        // &:active{
                        //     color: rgb(160, 6, 6);
                        // }
                        &:active{
                            color: darkred;
                        }
    
    
                    }
                    
                }
            }
            
            
        }
        .products{
            width: 1000px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            margin-top: 30px;
            padding-bottom: 60px;
            .product_card{
                width: calc(25% - 15px);
                margin-right: 20px;
                margin-bottom: 20px;
                &:nth-child(4n){
                    margin-right: 0px;
                }
                .pic{
                    position: relative;
                    img{
                        width: 100%;
                        height: 180px;
                        display: block;
                    }
                    .fa-heart{
                        width: 30px;
                        height:30px;
                        
                        background-color: rgb(107, 103, 96);
                        border-radius: 50%;
                        text-align: center;
                        line-height: 32px;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        font-size: 16px;
    
                        color: rgb(104, 86, 86);
                        color: white;
    
                        &.active{
                            color: darkred;
                        }
                    }
                    
                }
                .product_content{
                    padding: 8px;
                    padding-bottom: 40px;
                    position: relative;
                    .text{
                        text-align: center;
                        font-size: 16px;
                        padding-top: 8px;
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                    .fa-shopping-cart{
                        font-size: 24px;
                        // line-height: 50px;
                        // align-self: flex-end;
                        justify-content: flex-end;
                        position: absolute;
                        bottom: 0px;
                        right:5px;
                        color: rgba(4, 4, 94, 0.842);
                    }
                }
            }
            
        }
        .pagination {
            position: relative;
            background: #fff;
            display: flex;
            // padding: 10px 15px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        
            justify-content: center;
            width: 60%;
            margin: auto;
            li{
                list-style: none;
                line-height: 40px;
                margin: 0 5px;
                &:first-child {
                    margin-right: 30px;
                    font-weight: 700;
                    font-size: 20px;
                }
                &:last-child {
                    margin-left: 30px;
                    font-weight: 700;
                    font-size: 20px;
                  }
                &.pageNumber{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    &:hover a{
                        background: #383838;
                        color: #fff;
                    }
                    &:active a{
                        background: #383838;
                        color: #fff;
                    }
                }
                a{
                    display: block;
                    text-decoration: none;
                    color: #383838;
                    font-weight: 600;
                    border-radius: 0px;
                }
        
            }
        
        }

    }
}



  
//   ul li {

//   }
  
//   ul li.pageNumber {

//   }
  
//   ul li a {
  
//   }
  
//   ul li.pageNumber:hover a,
//   ul li.pageNumber.active a {
   
//   }
  
//   ul li:first-child {
//     margin-right: 30px;
//     font-weight: 700;
//     font-size: 20px;
//   }
  
//   ul li:last-child {
//     margin-left: 30px;
//     font-weight: 700;
//     font-size: 20px;
//   }
