* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

nav {
  max-width: 1920px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 15px 0px;
  background-color: rgba(211, 211, 211, 0.678);
}

nav .nav {
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav a {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  line-height: 90px;
  height: 90px;
}

nav .nav a img {
  width: auto;
  height: 90px;
}

main {
  max-width: 1920px;
  width: 100%;
}

main .product {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0px;
}

main .product .pics .big_pic {
  width: 30vw;
  height: 30vw;
  padding: 30px 0px;
}

main .product .pics .big_pic img {
  width: 100%;
  height: 100%;
  border: 3px solid lightgrey;
}

main .product .pics .small_pics {
  width: 30vw;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .product .pics .small_pics img {
  width: 7.3vw;
  height: 7.3vw;
  border: 2px solid lightgrey;
}

main .product .content {
  width: 57vw;
  margin-left: 60px;
  font-size: 28px;
  letter-spacing: 2px;
  position: relative;
  padding-top: 45px;
  height: 30vw;
}

main .product .content .title {
  font-size: 32px;
}

main .product .content .article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  border-bottom: 2px  solid gainsboro;
}

main .product .content .article img {
  margin-left: 30px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

main .product .content .article .name {
  line-height: 80px;
  padding: 0px  20px;
}

main .product .content .prices .price {
  font-size: 36px;
  font-weight: 800;
  color: orangered;
  letter-spacing: 2px;
}

main .product .content .prices .number {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
}

main .product .content .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 50px;
}

main .product .content .numbers select {
  font-size: 24px;
  text-align: center;
  width: 150px;
  height: 50px;
}

main .product .content .numbers select option {
  font-size: 24px;
}

main .product .content .a {
  padding: 10px 0px;
  padding-left: 30px;
  font-weight: 600;
  letter-spacing: 3px;
}

main .product .content .shopping_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 45px;
  right: 0px;
}

main .product .content .shopping_cart .b {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 24px;
  color: white;
  background-color: darkred;
  padding: 10px 15px;
  margin: 0px 20px;
  text-align: center;
  border-radius: 3%;
}

main .product_introduction {
  width: 60%;
  margin: auto;
}

main .product_introduction .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

main .product_introduction .details img {
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  border: 3px solid lightgrey;
}

main .product_introduction .details .text {
  padding: 45px;
}

main .product_introduction .details .text .title {
  font-size: 36px;
  font-weight: 700;
  color: dimgray;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

main .product_introduction .details .text .content {
  font-size: 24px;
  font-weight: 600;
  color: dimgray;
  letter-spacing: 2px;
  line-height: 48px;
}

main .product_introduction .details:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .c {
  width: 80%;
  margin: auto;
  padding: 20px;
}

main .c .title {
  font-size: 28px;
  font-weight: 600;
  color: dimgray;
  margin: 20px 0px;
}

main .c .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .c .products img {
  width: 10vw;
  height: 10vw;
}

footer {
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  background-color: rgba(211, 211, 211, 0.678);
}

footer .content {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .content ul {
  width: 24%;
  font-size: 24px;
  font-weight: 600;
  padding: 10px  0px;
  text-align: center;
  margin: 10px 0px;
}

footer .content ul li {
  list-style: none;
  padding: 10px 0px;
}

footer .content ul li a {
  font-size: 20px;
  color: dimgray;
  text-decoration: none;
}
/*# sourceMappingURL=product.css.map */