* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  width: 1000px;
  margin: auto;
  padding: 45px  0px;
}

main .product_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_pics {
  width: calc(60% - 40px);
  margin-right: 40px;
}

main .product_details .product_pics .big_pics {
  width: 100%;
}

main .product_details .product_pics .big_pics .big_pic {
  width: 100%;
}

main .product_details .product_pics .big_pics .big_pic img {
  width: 100%;
  height: 350px;
  height: auto;
  display: block;
}

main .product_details .product_pics .small_pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 20px;
}

main .product_details .product_pics .small_pics .small_pic img {
  display: block;
  width: 70px;
  height: 70px;
}

main .product_details .product_content {
  width: 40%;
  padding-top: 10px;
}

main .product_details .product_content .top {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

main .product_details .product_content .top .b {
  margin-bottom: 15px;
}

main .product_details .product_content .top .name {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: rgba(0, 0, 0, 0.781);
}

main .product_details .product_content .top .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_content .top .article .pic img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

main .product_details .product_content .top .article .small_text {
  margin-left: 8px;
  font-size: 18px;
  height: 37px;
  line-height: 37px;
  letter-spacing: 1.5px;
}

main .product_details .product_content .top .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_content .top .price .costs .cost {
  color: #b40e0e;
  font-size: 18px;
}

main .product_details .product_content .top .price .costs .number {
  font-size: 18px;
}

main .product_details .product_content .top .price .allnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
}

main .product_details .product_content .top .price .allnumber .mumber_text {
  margin-right: 15px;
}

main .product_details .product_content .top .price .allnumber input {
  font-size: 20px;
  width: 120px;
  height: 30px;
}

main .product_details .product_content .top .bg {
  font-size: 18px;
  letter-spacing: 6px;
  font-weight: 600;
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  padding: 10px 0px;
  background-color: #f38275;
  border: 1px solid #f38275be;
  color: white;
  border-radius: 5px;
}

main .product_details .product_content .contents {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 32px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab .tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border: 1px solid #ccc;
  border-top: none;
}
/*# sourceMappingURL=product_detail.css.map */