*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}
nav{
    max-width: 1920px;
    width: 100%;
    // background-color: azure;
    height: max-content;
    padding: 15px 0px;
    background-color: rgba(211, 211, 211, 0.678);

    .nav{
        width: 85%;
        height: max-content;
        margin: auto;
        display: flex;
        justify-content: space-between;
        a{
            font-size: 24px;
            font-weight: 600;
            color: black;
            text-decoration: none;
            line-height: 90px;
            height: 90px;
            img{
                width: auto;
                height: 90px;
                
            }
        }
    }
    
}


main{
    max-width: 1920px;
    width: 100%;
    .banner{
        max-width: 100%;
        width: 70vw;
        height: 30vw;
        // background-color: blanchedalmond;
        margin: auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .products{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 30px 0px;
        .product_type{
            width:max-content;
            // background-color: burlywood;
            ul{
                li{
                    color: lightgrey;
                    font-size: 24px;
                    padding: 10px  15px;
                    margin-bottom:10px ;
                    background-color: firebrick;
                    list-style: none;
                    border:2px solid darkred ;                    border-radius: 3%;

                }
            }
        }
        .allproduct{
            width: 70vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            a{
                margin-bottom:30px;
                .card{
                    width: 16vw;
                    height: 13vw;
                    // border: 1px solid black;
                    // background-color: brown;
                    // margin: 20px 0px;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .type{
                        font-size: 28px;
                        letter-spacing: 2px;
                        font-weight: 600;
                        color: rgb(87, 47, 47);
                        color:rgba(0, 0, 117, 0.658);
                        
                        // padding: 1em 1em;
                        position: absolute;
                        top:2%;
                        left:2.5%;
                        // transform: translate(-50%,-50%);

                    }
                    .mask{
                        width: 100%;
                        height: 100%;
                        background-color: rgba(153, 150, 150, 0.192);
                        position: absolute;
                        top: 0px;
                        display: none;
                    }
                    &:hover img{
                        opacity: 0.7;

                    }

                    &:hover .type{
                        color: darkred;

                    }
    
                }
                .product_content{
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 2px;
                    position: relative;
                    padding-bottom:50px ;
                    .p{
                        height: auto;
                        padding: 0px 15px;
                        padding-top: 8px;
                        color: rgba(41, 37, 37, 0.747);
                        text-align: center;
                        
                        
                    }
                    .fas{
                        position: absolute;
                        bottom: 0px;
                        right: 10px;
                        padding: 5px 8px;
                        // background-color: darkred;
                        color: rgb(240, 126, 126);
                        font-size: 32px;
                        &:hover{
                            font-size :40px ;
                        }
                    }
                }
            }
            
        }
    }
}


footer{
    width: 100%;
    max-width: 1920px;
    // height: 300px;
    // background-color: rgb(165, 116, 42);
    display: flex;
    padding: 20px 0px;
    background-color: rgba(211, 211, 211, 0.678);

    .content{
        width: 85%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        // border-top: 2px solid dimgray;

        ul{
            width:24%;
            font-size: 24px;
            font-weight: 600;
            padding: 10px  0px;
            text-align: center;
            margin: 10px 0px;
            
            li{
                list-style: none;
                padding: 10px 0px;
                a{
                    font-size: 20px;
                    // padding: 10px 0px;
                    color: dimgray;
                    text-decoration: none;
               
                }
                
            }

        }
    }
    
}