* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

nav {
  max-width: 1920px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 15px 0px;
  background-color: rgba(211, 211, 211, 0.678);
}

nav .nav {
  width: 85%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav a {
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-decoration: none;
  line-height: 90px;
  height: 90px;
}

nav .nav a img {
  width: auto;
  height: 90px;
}

main {
  max-width: 1920px;
  width: 100%;
}

main .banner {
  max-width: 100%;
  width: 70vw;
  height: 30vw;
  margin: auto;
}

main .banner img {
  width: 100%;
  height: 100%;
}

main .products {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
}

main .products .product_type {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

main .products .product_type ul li {
  color: lightgrey;
  font-size: 24px;
  padding: 10px  15px;
  margin-bottom: 10px;
  background-color: firebrick;
  list-style: none;
  border: 2px solid darkred;
  border-radius: 3%;
}

main .products .allproduct {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

main .products .allproduct a {
  margin-bottom: 30px;
}

main .products .allproduct a .card {
  width: 16vw;
  height: 13vw;
  position: relative;
}

main .products .allproduct a .card img {
  width: 100%;
  height: 100%;
}

main .products .allproduct a .card .type {
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #572f2f;
  color: rgba(0, 0, 117, 0.658);
  position: absolute;
  top: 2%;
  left: 2.5%;
}

main .products .allproduct a .card .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(153, 150, 150, 0.192);
  position: absolute;
  top: 0px;
  display: none;
}

main .products .allproduct a .card:hover img {
  opacity: 0.7;
}

main .products .allproduct a .card:hover .type {
  color: darkred;
}

main .products .allproduct a .product_content {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 50px;
}

main .products .allproduct a .product_content .p {
  height: auto;
  padding: 0px 15px;
  padding-top: 8px;
  color: rgba(41, 37, 37, 0.747);
  text-align: center;
}

main .products .allproduct a .product_content .fas {
  position: absolute;
  bottom: 0px;
  right: 10px;
  padding: 5px 8px;
  color: #f07e7e;
  font-size: 32px;
}

main .products .allproduct a .product_content .fas:hover {
  font-size: 40px;
}

footer {
  width: 100%;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  background-color: rgba(211, 211, 211, 0.678);
}

footer .content {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .content ul {
  width: 24%;
  font-size: 24px;
  font-weight: 600;
  padding: 10px  0px;
  text-align: center;
  margin: 10px 0px;
}

footer .content ul li {
  list-style: none;
  padding: 10px 0px;
}

footer .content ul li a {
  font-size: 20px;
  color: dimgray;
  text-decoration: none;
}
/*# sourceMappingURL=products.css.map */