* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url(/img/lightpaperfibers.png);
}

main {
  width: 1000px;
  margin: auto;
  padding: 45px  0px;
}

main .now_page {
  font-size: 15px;
  letter-spacing: 2px;
  color: gray;
  padding: 0px 0px 12px 8px;
  border-bottom: 1px  solid gainsboro;
}

main .mySwipers {
  padding: 30px 60px;
  width: 100%;
  border-bottom: 1px  solid gainsboro;
}

main .mySwipers .swiper-wrapper {
  width: 100%;
}

main .mySwipers .swiper-wrapper img {
  width: 100%;
  height: 480px;
}

main .mySwipers .color::after {
  font-size: 22px;
  font-weight: 600;
}

main .mySwipers .color {
  color: gray;
}

main .mySwipers .swiper-pagination {
  bottom: 40px;
}

main .mySwipers .swiper-pagination-bullet {
  background-color: #243147;
}

main .mySwipers .swiper-pagination-bullet-active {
  background-color: #405e97;
}

main .mySwipers .color {
  color: white;
  color: #405e97;
  padding: 5px 8px;
  background-color: #405e97;
}

main .mySwipers .next {
  -webkit-clip-path: polygon(90% 50%, 0 10%, 0 90%);
          clip-path: polygon(90% 50%, 0 10%, 0 90%);
}

main .mySwipers .prev {
  -webkit-clip-path: polygon(10% 50%, 100% 10%, 100% 90%);
          clip-path: polygon(10% 50%, 100% 10%, 100% 90%);
}

main .product_details {
  padding-bottom: 20px;
  border-bottom: 1px solid gainsboro;
}

main .product_details .product_pics {
  padding: 30px  8px;
  padding: 20px 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid gainsboro;
}

main .product_details .product_pics .big_pics {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 30px;
}

main .product_details .product_pics .big_pics .big_pic img {
  width: 100%;
  width: 100%;
  width: 730px;
  width: 740px;
  height: 540px;
  height: 480px;
  display: block;
}

main .product_details .product_pics .small_pics {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 130px;
}

main .product_details .product_pics .small_pics .small_pic {
  margin-right: 20px;
  margin-bottom: 20px;
}

main .product_details .product_pics .small_pics .small_pic:nth-child(2n) {
  margin-right: 0px;
}

main .product_details .product_pics .small_pics .small_pic img {
  display: block;
  width: 50px;
  height: 50px;
  width: 55px;
  height: 55px;
}

main .product_details .product_content {
  padding: 0px  8px;
  margin: auto;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_content .top {
  width: calc(50% - 15px);
  margin-right: 30px;
  padding-bottom: 20px;
}

main .product_details .product_content .top .b {
  margin-bottom: 15px;
}

main .product_details .product_content .top .name {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: rgba(0, 0, 0, 0.781);
}

main .product_details .product_content .top .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 80px;
  position: relative;
}

main .product_details .product_content .top .article .pic {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main .product_details .product_content .top .article .pic img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

main .product_details .product_content .top .article .small_text {
  margin-left: 8px;
  font-size: 16px;
  height: 2px;
  line-height: 25px;
  letter-spacing: 1.5px;
}

main .product_details .product_content .top .article .mylove {
  position: absolute;
  right: 0px;
  padding: 3px 8px;
  background-color: #f38275;
  border: 1px solid #f38275be;
  color: #f1f1f1;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

main .product_details .product_content .top .article .mylove .text {
  font-size: 14px;
  letter-spacing: 1.5px;
}

main .product_details .product_content .top .article .mylove .fa-heart {
  font-size: 18px;
  padding: 5px;
  display: none;
}

main .product_details .product_content .top .article .mylove:hover .text {
  display: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

main .product_details .product_content .top .article .mylove:hover .fa-heart {
  display: block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

main .product_details .product_content .top .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .product_details .product_content .top .types .type_selector {
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  padding: 8px  10px;
  border: 1px solid gainsboro;
  letter-spacing: 1.5px;
  color: #5e5d5d;
  background-image: url(/img/lightpaperfibers.png);
}

main .product_details .product_content .top .types .type_title {
  margin-right: 20px;
  font-size: 20px;
  letter-spacing: 1.5px;
}

main .product_details .product_content .top .types .all_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 340px;
}

main .product_details .product_content .top .types .all_type .type {
  font-size: 16px;
  padding: 5px 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid gainsboro;
  cursor: pointer;
  letter-spacing: 1.5px;
}

main .product_details .product_content .top .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main .product_details .product_content .top .price .costs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_content .top .price .costs .cost {
  color: #b40e0e;
  font-size: 24px;
}

main .product_details .product_content .top .price .costs .number {
  font-size: 18px;
  margin-left: 5px;
  letter-spacing: 1.5px;
}

main .product_details .product_content .top .price .costs .tnumber {
  letter-spacing: 1.5px;
  font-size: 16px;
  position: absolute;
  right: 5px;
  line-height: 27px;
}

main .product_details .product_content .top .allnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 45px;
  line-height: 30px;
  position: relative;
}

main .product_details .product_content .top .allnumber .mumber_text {
  margin-right: 15px;
}

main .product_details .product_content .top .allnumber input {
  font-size: 18px;
  width: 120px;
  margin: 0px  20px;
  outline: none;
}

main .product_details .product_content .top .allnumber .numbers {
  text-align: center;
  font-size: 18px;
  width: 80px;
  height: 45px;
  line-height: 45px;
  height: 30px;
  line-height: 30px;
  margin: 0px  15px;
  border: 1px solid gainsboro;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .product_details .product_content .top .allnumber .tnumber {
  letter-spacing: 1.5px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5px;
  line-height: 45px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .product_details .product_content .top .allnumber .tnumber .tnumber_detail {
  padding: 0px  5px;
}

main .product_details .product_content .top .allnumber .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  line-height: 16px;
}

main .product_details .product_content .top .allnumber .stars .text {
  margin-right: 8px;
  height: 18px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

main .product_details .product_content .top .allnumber .stars .fa-star, main .product_details .product_content .top .allnumber .stars .fa-star-half {
  color: #ffd689;
  font-size: 16px;
}

main .product_details .product_content .top .allnumber .a {
  text-align: center;
  line-height: 45px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid gainsboro;
  cursor: pointer;
  width: 45px;
  height: 45px;
  width: 30px;
  height: 30px;
}

main .product_details .product_content .top .allnumber .a:active {
  background-color: darkgrey;
  color: wheat;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main .product_details .product_content .top .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

main .product_details .product_content .top .stars .text {
  margin-right: 8px;
  height: 18px;
}

main .product_details .product_content .top .stars .fa-star, main .product_details .product_content .top .stars .fa-star-half {
  color: #ffd689;
  font-size: 16px;
}

main .product_details .product_content .top .show {
  display: none;
  font-size: 16px;
  color: #970a0a;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  font-weight: 600;
}

main .product_details .product_content .top .show.active {
  display: block;
}

main .product_details .product_content .top .enough {
  display: none;
}

main .product_details .product_content .top .enough.active {
  display: block;
}

main .product_details .product_content .top .some {
  display: none;
}

main .product_details .product_content .top .some.active {
  display: block;
}

main .product_details .product_content .top .lttle {
  display: none;
}

main .product_details .product_content .top .lttle.active {
  display: block;
}

main .product_details .product_content .top .max {
  font-size: 14px;
  color: gray;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
}

main .product_details .product_content .top .shoppingcart {
  position: relative;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
  padding: 10px 0px;
  background-color: #f38275;
  border: 1px solid #f38275be;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

main .product_details .product_content .top .shoppingcart .text {
  font-size: 18px;
  letter-spacing: 6px;
}

main .product_details .product_content .top .shoppingcart .fa-shopping-cart {
  font-size: 24px;
  font-weight: 600;
  display: none;
}

main .product_details .product_content .top .shoppingcart:hover .text {
  display: none;
}

main .product_details .product_content .top .shoppingcart:hover .fa-shopping-cart {
  display: block;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

main .product_details .product_content .top .small_text {
  font-size: 14px;
  color: gray;
  letter-spacing: 1.5px;
  padding-top: 8px;
}

main .product_details .product_content .top .sale_out {
  text-align: center;
  padding: 10px 0px;
  background-color: darkred;
  color: whitesmoke;
  letter-spacing: 1.5px;
}

main .product_details .product_content .contents {
  width: calc(50% - 15px);
}

main .product_details .product_content .contents .title {
  font-size: 18px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 3px 10px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

main .product_details .product_content .contents .text {
  font-size: 15px;
  letter-spacing: 1.5px;
  line-height: 28px;
  padding: 10px  0px;
  padding-left: 12px;
}

main .product_details .product_content .contents .text ul {
  margin: 0px;
  padding: 0px;
  padding-left: 12px;
}

main .product_details .product_content .contents .text ul li {
  padding: 0px;
}

main .product_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px;
  border-bottom: 1px solid gainsboro;
}

main .product_main .all {
  width: 76%;
  margin: auto;
}

main .product_main .all video {
  width: 100%;
}

main .product_main .all .pic {
  width: 100%;
  margin-bottom: 20px;
}

main .product_main .all .pic:nth-last-child(1) {
  margin-bottom: 0px;
}

main .product_main .all .pic img {
  width: 100%;
  display: block;
}

main .product_detail {
  margin-top: 20px;
  border-bottom: 1px solid gainsboro;
}

main .product_detail .product_detail_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

main .product_detail .product_detail_btn .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 12px;
  background-color: rgba(128, 128, 128, 0.356);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
  border-radius: 5px;
  letter-spacing: 2.5px;
  font-weight: 600;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  margin-bottom: 20px;
}

main .product_detail .product_detail_btn .btn:hover {
  color: #383737;
}

main .product_detail .detail .detailcontent .describle .title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px 0px;
  padding: 5px  12px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.329);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

main .product_detail .detail .detailcontent .describle .content {
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #0e0e0f;
  line-height: 32px;
}

main .product_detail .detail .product_specification {
  font-size: 18px;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #0e0e0f;
  line-height: 28px;
}

main .product_detail .detail .pay #content1 .titles {
  max-width: 52%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 30px;
}

main .product_detail .detail .pay #content1 .titles:nth-last-child(1) {
  margin-right: 0px;
}

main .product_detail .detail .pay .content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .product_detail .detail .pay .content .collapsible {
  background-color: #777;
  background-color: #819eaf;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 3px;
}

main .product_detail .detail .pay .content .active, main .product_detail .detail .pay .content .collapsible:hover {
  background-color: #555;
  background-color: #687A8F;
}

main .product_detail .detail .pay .content .collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

main .product_detail .detail .pay .content .active:after {
  content: "\2212";
}

main .product_detail .detail .pay .content .collapsible_content {
  padding: 0 12px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  margin-bottom: 10px;
}

main .product_detail .detail .pay .content .collapsible_content .text {
  font-size: 14px;
  letter-spacing: 1.5px;
  margin-top: 10px;
  line-height: 20px;
}

main .product_detail .detail .pay .content .titles {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: calc(33.33% - 20px);
  margin-right: 30px;
}

main .product_detail .detail .pay .content .titles:nth-last-child(1) {
  margin-right: 0px;
}

main .product_detail .detail .pay .content .titles .smalltitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 15px;
  font-weight: 600;
  padding: 5px  12px;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.329);
  margin: 15px 0px;
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  margin-top: 0px;
}

main .product_detail .detail .pay .content .titles .smalltitle .no {
  font-size: 14px;
  line-height: 28px;
  color: #363636;
}

main .product_detail .detail .pay .content .titles .text {
  font-size: 14px;
  letter-spacing: 1.5px;
}

main .product_detail .detail .pay .content a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: black;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  list-style: none;
  background-color: rgba(189, 186, 178, 0.432);
  padding: 8px 15px;
  border-radius: 5px;
  display: block;
  margin-top: 15px;
}

main .product_detail .detail .pay a {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: black;
  color: #868686;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  list-style: none;
  padding: 10px 12px;
  border-radius: 5px;
  display: block;
}

main .foryou {
  margin-top: 20px;
}

main .foryou .title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 8px;
}

main .foryou .four1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

main .foryou .four1 .product_card {
  width: calc(33.33% - 13.33px);
  margin-right: 20px;
}

main .foryou .four1 .product_card:nth-child(3n) {
  margin-right: 0px;
}

main .foryou .four1 .product_card .pic {
  position: relative;
}

main .foryou .four1 .product_card .pic img {
  width: 235px;
  width: 320px;
  height: 210px;
  display: block;
}

main .foryou .four1 .product_card .pic .heart_text {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 14px;
  letter-spacing: 1.5px;
  background-color: lightcoral;
  color: white;
  padding: 3px  10px;
  border-radius: 3px;
}

main .foryou .four1 .product_card .pic .heart {
  width: 40px;
  height: 40px;
  background-color: #6b6760;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 22px;
  color: #685656;
  color: white;
}

main .foryou .four1 .product_card .pic .heart.active {
  color: darkred;
}

main .foryou .four1 .product_card .pic:nth-last-child(1) {
  margin-right: 0px;
}

main .foryou .four1 .product_card .pic:hover .mask {
  display: block;
}

main .foryou .four1 .product_card .pic:hover .heart {
  color: honeydew;
}

main .foryou .four1 .product_card .text {
  padding: 10px;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 100%;
  font-size: 18px;
  color: #080808;
  z-index: 5;
  padding-bottom: 25px;
  letter-spacing: 1.5px;
}

main .foryou .four1 .product_card .text .article {
  z-index: 3;
  font-size: 14px;
  color: #2e2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0px;
  padding-right: 30px;
  width: 100%;
  height: auto;
  position: relative;
}

main .foryou .four1 .product_card .text .article .pic {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

main .foryou .four1 .product_card .text .article .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

main .foryou .four1 .product_card .text .article .pic .article_name {
  width: calc(100% - 230px);
  height: auto;
}

main .foryou .four1 .product_card .text .article .buy {
  font-size: 12px;
  padding: 5px  10px;
  background-color: #818080;
  color: white;
  position: absolute;
  -webkit-transform: translateY(-42%);
          transform: translateY(-42%);
  bottom: 0px;
  right: 0px;
  border-radius: 3px;
  z-index: 3;
}

main .foryou .four1 .product_card .text .cost {
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 18px;
  color: #003354;
  font-weight: 600;
}

main .foryou .four1 .product_card .text .name {
  font-weight: 600;
  letter-spacing: 2px;
  padding-right: 100px;
}

main .foryou .four1 .product_card .text .buy {
  font-size: 14px;
  padding: 5px  10px;
  background-color: #818080;
  color: white;
  position: absolute;
  bottom: 0px;
  right: 10px;
  border-radius: 3px;
}

main .foryou .four1 .product_card .text .heart {
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 24px;
  color: #cfb6b6;
}

main .foryou .four1 .product_card .text .heart:active {
  color: darkred;
}

main .foryou .foryou_content {
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 8px;
}

main .foryou .foryou_content .foryou_card {
  width: calc(25% - 15px);
  margin-right: 20px;
  margin-bottom: 20px;
}

main .foryou .foryou_content .foryou_card:nth-child(4) {
  margin-right: 0px;
}

main .foryou .foryou_content .foryou_card .pic img {
  width: 100%;
  height: 150px;
}

main .foryou .foryou_content .foryou_card .pic img:hover {
  opacity: 0.7;
}

main .foryou .foryou_content .foryou_card .p {
  width: 100%;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 18px;
  padding: 5px;
}

main .else_product {
  width: 1000px;
}

main .else_product .title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin: 15px 0px;
}

main .else_product .mySwiper {
  height: 100%;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide {
  width: 100%;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  display: block;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .pic {
  position: relative;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .pic img {
  height: 160px;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .pic:hover {
  opacity: .7;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .pic:hover .buy {
  display: block;
  -webkit-transition: .8s;
  transition: .8s;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .pic .buy {
  width: 100%;
  display: none;
  font-size: 14px;
  padding: 5px  0px;
  background-color: #818080;
  color: white;
  position: absolute;
  bottom: 0px;
  border-radius: 3px;
  border: 1px solid rgba(250, 242, 242, 0.219);
  text-align: center;
  margin-top: 10px;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .pic .buy:hover {
  background-color: rgba(250, 242, 242, 0.568);
  color: darkred;
  -webkit-transition: .2s;
  transition: .2s;
  border: 1px solid darkred;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .pic .buy:hover .fa-angle-double-right {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: .4s;
  transition: .4s;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .pic .buy .fa-angle-double-right {
  margin-left: 1px;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .content {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .content .text {
  padding-bottom: 5px;
}

main .else_product .mySwiper .swiper-wrapper .swiper-slide .card .content .buy {
  font-size: 12px;
  padding: 5px 0px;
  width: 100%;
  background-color: #c1d8e6;
  color: #635e5e;
  border-radius: 3px;
  border: 1px solid #6893ad;
}

main .else_product .mySwiper .swiper-button-prev::after {
  font-size: 14px;
  font-weight: 600;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

main .else_product .mySwiper .swiper-button-next::after {
  font-size: 14px;
  font-weight: 600;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

main .else_product .mySwiper .swiper-pagination {
  font-size: 14px;
  font-weight: 600;
  display: none;
}

main .else_product .mySwiper .color {
  color: #4273a1;
}

main .else_product .mySwiper .color::after {
  color: white;
  color: #405e97;
  padding: 5px 5px;
  background-color: #405e97;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

main .else_product .mySwiper .next::after {
  -webkit-clip-path: polygon(90% 50%, 0 10%, 0 90%);
          clip-path: polygon(90% 50%, 0 10%, 0 90%);
}

main .else_product .mySwiper .prev::after {
  -webkit-clip-path: polygon(10% 50%, 100% 10%, 100% 90%);
          clip-path: polygon(10% 50%, 100% 10%, 100% 90%);
}

main .else_product .mySwiper .swiper-pagination {
  color: brown;
}

/* Style the tab */
/* Style the buttons that are used to open the tab content */
.tab .tablinks {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tablinks img:hover {
  opacity: 0.8;
  border-radius: 2px;
  -webkit-transition: .8s;
  transition: .8s;
}

/* Create an active/current tablink class */
.tablinks.active img {
  opacity: 0.7;
  border-radius: 2px;
  -webkit-transition: .8s;
  transition: .8s;
}

/* Style the tab content */
.tabcontent {
  display: none;
}

.detailcontent {
  display: none;
}
/*# sourceMappingURL=product_detail_test.css.map */