body{
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

main{
    width: 1000px;
    margin: auto;
    padding: 30px 0px;
    .now_page{
        font-size: 12px;
        letter-spacing: 2px;
        color: gray;
        margin-bottom: 20px;
        padding: 0px 0px 10px 8px;
        border-bottom: 1px  solid gainsboro;
    }

    .contents{
        width: 1000px;
        background-color: rgb(201, 161, 161);
        background-color: rgb(225, 226, 208);
        border-radius: 5px ;
        padding: 20px  227px;
        .title{
            // padding: 20px 0px;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .content{
            display: flex;
            flex-wrap: wrap;
            // justify-content:center;        
            ul{
                text-decoration: none;
                list-style: none;
                margin-left: 0px;
                padding-left: 0px;
                font-size: 20px;
                width: max-content;
                margin-right: 120px;
                margin-bottom: 15px;
                margin-top:10px ;
                
                &:nth-child(3n){
                    margin-right: 0px;
                }
                &:nth-child(10){
                    margin-right: 76px;
                }
                
                li{
                    font-weight: 500;
                    padding-top: 10px;
                    letter-spacing: 1.5px;
                    &:nth-child(1){
                        border-left: 6px solid rgb(165, 165, 165);
                        font-weight: 600;
                        padding-top: 0px;
                        padding: .5px 0px;
                        padding-left: 8px;
                        letter-spacing: 2px;
                        font-size: 20px;
                        
                    }
                    .fa-caret-right{
                        font-size: 14px;
                        color: rgb(136, 132, 132);
                    }
                    span{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}