main{
    width: 1000px;
    margin: auto;
    padding: 30px  0px;
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #0f3774ab;
        border-radius: 3px;
        width: max-content;
        button {
            // background-color: inherit;
            background-color: #96baf0fa;
            
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 5px 12px;
            transition: 0.3s;
            font-size: 18px;
            font-weight:500;
            letter-spacing: 1.5px;
            &:hover {
                background-color: #ddd;
                background-color: #7a9fd6f3;

            }
            &.active {
                background-color: #ccc;
                background-color: #7092c4;
                transition: .8s;

            }
        }
    
      }
    
    /* Style the tab content */
    .tabcontent {
        margin-top: 20px;
        display: none;
        // padding: 6px 12px;
        font-size: 20px;
        -webkit-animation: fadeEffect 1s;
        animation: fadeEffect 1s;
        letter-spacing: 2px;
        .contents{
            .content{
                .btn{
                    width: 1000px;
                    background-color: rgb(195, 206, 212);
                    // background-color: blue;
                    padding: 5px 0px;
                    padding-left: 15px;
                    margin-top: 1px;
                    font-size: 16px;
                    text-align: left;
                    .small_title{
                        font-size: 15px;
                        color:rgb(53, 51, 51) ;
                    }

                }
                .texts{
                    display: none;
                    padding-left: 15px;
                    padding-top: 15px;

                    // background-color: #bbb;
                    // padding: 2em 1em;
                    // 個人資料 -- 帳戶資訊
                    .text{
                        padding-bottom: 5px;
                        font-size: 15px;
                        // border-bottom: 1px solid gainsboro;
                        &:nth-last-child(1){
                            margin-bottom: 15px;
                        }
                    }
                    // 個人資料 -- 紅利管理
                    .red{
                        .title{
                            font-weight: 600;
                            margin-bottom: 8px;
                            font-size: 18px;
                            &:nth-last-child(1){
                                margin-top: 15px;
                            }
                        }
                        .all_points{
                            .points{
                                font-size: 15px;
                                .point{
                                    font-size: 16px;
                                    color: darkred;
                                }
                            }
                        }                       
                        table{
                            // border-collapse: collapse;
                            width: 1000px;
                            width: unset;
                            box-sizing: unset;
                            tr{
                                &:nth-child(2n){
                                    background-color: rgba(128, 128, 128, 0.253);
                                }
                                
                                th,td{
                                    padding: 12px 0px;
                                    // border-top: 1px solid #dddddd;
                                    text-align: left;
                                    padding: 8px;
                                    padding-right:200px ;
                                }
                                th{
                                    font-size: 16px;
                                }
                                td{
                                    font-size: 14px;
                                }
                                
                                // td{
                                //     padding: 5px 0px;
                                    
                                //     margin-right: 100px;

                                // }
                                
                            }
                        }
                    }
                    // 我的收藏 -- 商品收藏
                    .likes{
                        // margin-left:-15px;
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                       
                        .likecard{
                            width: calc(25% - 15px);
                            margin-right: 20px;
                            margin-bottom: 20px;
                            
                            &:nth-child(4n){
                                margin-right: 0px;
                            }
                            .pic{
                                img{
                                    width: 100%;
                                    height: 120px;
                                   
                                    border-radius: 8px;
                                }
                            }
                            .text{
                                padding:3px 5px;
                                font-size: 16px;
                            }
                        }
                          
                    }
                    // 作者收藏
                    .articles{
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        .likecard{
                           width: calc(16.666% - 16.666px);
                           margin-right:  20px; ;
                           margin-bottom: 20px;
                           &:nth-child(4n){
                               margin-right: 20px;
                           }
                           &:nth-child(6n){
                            margin-right:0px;
                            }
                            .pic{
                                img{
                                    width:100% ;
                                    height: 147px;
                                    border-radius: 50%;
                                }
                            }
                            .article{
                                margin-top: 5px;
                                font-size: 16px;
                                font-weight: 600;
                                text-align: center;
                            }
                        }
                        
                    } 
                    //活動紀錄 -- 近期瀏覽
                    .last_view{
                        table{
                            // border-collapse: collapse;
                            width: 1000px;
                            width: unset;
                            box-sizing: unset;
                            tr{
                                &:nth-child(2n){
                                    background-color: rgba(128, 128, 128, 0.253);
                                }
                                
                                th,td{
                                    padding: 12px 0px;
                                    // border-top: 1px solid #dddddd;
                                    text-align: left;
                                    padding: 8px;
                                    padding-right:50px ;
                                    font-size: 16px;
                                }
                                td{
                                    width: max-content;
                                    max-width: 670px;
                                    font-size: 14px;
                                    img{
                                        width: 100px;
                                        height: 60px;
                                    }
                                }
                                
                            }
                        }
                    }
                    // 我的商品 -- 商品管理
                    .product_manage{
                        table{
                            // border-collapse: collapse;
                            width: 1000px;
                            width: unset;
                            box-sizing: unset;
                            tr{
                                &:nth-child(2n){
                                    background-color: rgba(128, 128, 128, 0.253);
                                }
                                
                                th,td{
                                    padding: 12px 0px;
                                    // border-top: 1px solid #dddddd;
                                    text-align: left;
                                    padding: 8px;
                                    padding-right:50px ;
                                    font-size: 16px;
                                }
                                td{
                                    width: max-content;
                                    max-width: 460px;
                                    font-size: 14px;
                                    img{
                                        width: 100px;
                                        height: 60px;
                                    }
                                }
                                th{

                                }
                                
                            }
                        }
                    }
                    // 我的商店 -- 商品紅利
                    .feedback{
                        .months{
                            display: flex;
                            input{
                                outline: none;
                            }
                            button{
                                border: none;
                  
                            }
                            .month{
                                padding: 5px 0px;
                                text-align: center;
                                margin-right: 20px;
                                background-color: rgb(223, 231, 243);
                                width: calc(8.33% - 18.333px);
                                font-size: 18px;
                                &:hover{
                                    background-color: rgba(129, 129, 119, 0.23);
                                    background-color: rgba(223, 231, 243, 0.699);

                                }
                                &:nth-last-child(1){
                                    margin-right: 0px;
                                }
                            }   
                        }
                        // 我的商品 -- 商品紅利
                        .content{
                            table{
                                // border-collapse: collapse;
                                width: 1000px;
                                width: unset;
                                box-sizing: unset;
                                tr{
                                    &:nth-child(2n){
                                        background-color: rgba(128, 128, 128, 0.253);
                                    }
                                    
                                    th,td{
                                        padding: 12px 0px;
                                        // border-top: 1px solid #dddddd;
                                        text-align: left;
                                        padding: 8px;
                                        padding-right:50px ;
                                        font-size: 16px;
                                    }
                                    td{
                                        width: max-content;
                                        max-width: 670px;
                                        font-size: 14px;
                                        padding: 3px  0px;
                                        padding-left: 8px;
                                    }
                                }
                            }
                        } 
                    }
                    // 訂單管理 -- 訂單紀錄
                    .orders{
                        table{
                            // border-collapse: collapse;
                            width: 1000px;
                            width: unset;
                            box-sizing: unset;
                            tr{
                                &:nth-child(2n){
                                    background-color: rgba(128, 128, 128, 0.253);
                                }
                                
                                th,td{
                                    padding: 12px 0px;
                                    // border-top: 1px solid #dddddd;
                                    text-align: left;
                                    padding: 8px;
                                    padding-right:50px ;
                                    font-size: 16px;
                                }
                                td{
                                    width: max-content;
                                    max-width: 670px;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
   
        
        /* Fade in tabs */
        @-webkit-keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
        }
        
        @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
        }
    }    
}



// .js-b-accitem {
// 	background-color: #ccc;
// 	padding: 1em;
// 	margin-top: 1px;
// }

// .js-b-acclist {
// 	display: none;
// 	background-color: #bbb;
// 	padding: 2em 1em;
// }

// .second {
// 	margin-top: 2em;
// 	.js-b-accitem {
// 		background-color: #b98;
// 	}
// 	.js-b-acclist {
// 		background-color: #b72;
// 	}
// }
