body{
    margin: 0px;
    padding: 0px;
    position: relative;
}

*{
    box-sizing: border-box;
}

ul,ol{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

nav{
    max-width: 1920px;
    padding: 0px 2vw;
    display: flex;
    // background-color: mistyrose;
    background-color: white;
    position: sticky;
    top: 0px;
    z-index: 99;
    margin-bottom: 12px;
    box-shadow: 8px 8px 8px rgba(54, 54, 54, 0.075);


    // justify-content: center;
    .nav-content{
        width: 1200px;
        display: flex;
        justify-content: center;
        margin: 0px auto;
        position: relative;
        .select-btns{
            display: flex;
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            .select-btn{
                padding: 3px 14px;
                border-radius: 5px;
                letter-spacing: 1.5px;
                background-color: steelblue;
                border: 2px solid steelblue;
                color: white;
                margin-right: 20px;
                box-shadow: 3px 3px 10px rgba(99, 98, 98, 0.377);

                cursor: pointer;
                &:hover{
                    background-color: white;
                    border: 2px solid steelblue;
                    color: steelblue;
                    font-weight: 600;
                }
                &:nth-last-child(1){
                    margin-right: 0px;
                }
              
            }
        }
        h1{
            width: max-content;
            margin: 20px auto;
            letter-spacing: 2px;
        }
        .delete-all-btn{
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
            padding: 3px 14px;
            border-radius: 5px;
            letter-spacing: 1.5px;
            background-color: steelblue;
            border: 2px solid steelblue;
            color: white;
            cursor: pointer;
            box-shadow: 3px 3px 10px rgba(99, 98, 98, 0.377);

            &:hover{
                background-color: white;
                border: 2px solid steelblue;
                color: steelblue;
                font-weight: 600;
            }
        }
    }    
   
}

main{
    max-width: 1920px;
    padding: 0px 2vw;
    // 所有清單內容
    ul{
        max-width: 1200px;
        width: 100%;

        margin: 0px auto;
        // 單個清單
        .love-item{
            max-width: 100%;
            width: 100%;

            padding: 20px 60px;
            padding-top: 45px;

            border: 1px solid gray;
            border-radius: 15px;
            background-color: whitesmoke;
            box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.2) ;

            margin: 0px auto;
            margin-bottom: 20px;

            letter-spacing: 1px;

            display: flex;
            position: relative;
            @media screen and (max-width:1250px){
                flex-direction: column;

                padding: 20px 30px;
                padding-top: 45px;
            }
            // 單個清單上方選取刪除按鈕
            .btn{
                display: flex;
                align-items: center;

                position: absolute;
                left: 68px;
                top: 20px;
                @media screen and (max-width:1250px){
                    left: 38px;
                }
              
                label{
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    input{
                        width: 20px;
                        height: 20px;

                        margin-left: 0px;
                        margin-right: 10px;
                    }
                }

                .delete-btn{
                    width: max-content;

                    display: flex;

                    padding: 3px 8px;
                    background-color: coral;
                    border:1px solid coral ;
                    border-radius: 3px;

                    color: white;
                    letter-spacing: 1.5px;
                    font-size: 14px;
                    font-weight: 500;

                    margin-left: 20px;

                    cursor: pointer;
                    box-shadow: 3px 3px 10px rgba(99, 98, 98, 0.377);

                    &:hover{
                        background-color: whitesmoke;
                        color: coral;
                        border:1px solid coral ;
                    }
                  
                }
            
                a{
                    display: block;
                    margin-right: 20px;
                    &:nth-last-child(1){
                        margin-right: 0px;
                    }
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
           
            .title{
                width: 28%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                font-weight: 600;
                padding:8px;

                position: relative;
                border-right: 2px solid gray;
                @media screen and (max-width:1250px){
                    width: 100%;

                    border-right: 0px solid gray;
                    border-bottom: 2px solid gray;

                    padding-bottom: 0px;
                    padding-right: 120px;

                }
                .title-item{
                    // width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-bottom: 8px;
                    position: relative;
                   
                    @media screen and (max-width:1250px){
                        // &:nth-last-child(1){
                        //     position: absolute;
                        //     top: 0px;
                        //     right: 0px;
                        // }
    
                    }
                  
                    label{
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        input{
                            margin-left: 0px;
                            width: 20px;
                            height: 20px;
                            margin-right: 10px;
                        }
                    }
                    .delete-btn{
                        width: max-content;
                        display: flex;
                        // margin-top: 20px;
                        padding: 3px 8px;
                        background-color: coral;
                        border-radius: 3px;
                        color: white;
                        letter-spacing: 1.5px;
                        font-size: 14px;
                        font-weight: 500;
                        margin-left: 20px;
                        // position: absolute;
                        // top: 0%;
                        // left: 100%;
                        // transform: translate(-100%,-75%);
                        cursor: pointer;
                      
                    }
                
                    a{
                        display: block;
                        margin-right: 20px;
                        &:nth-last-child(1){
                            margin-right: 0px;
                        }
                        img{
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
              
            }
        }
        ol{
            // padding-top: 8px;
            padding: 8px;
            position: relative;
        
            li{
                width: 100%;
                padding: 0px 8px;
                padding-top: 8px;
                border-top: 1px solid gray;
                &:nth-child(1){
                    padding-top: 0px;
                    border-top: 0px solid transparent;
                }
                @media screen and (max-width:1250px){
                    padding:0px;
                    padding-top: 8px;
                }
                .items-title{
                    font-size: 18px;
                    font-size: 16px;
                    font-weight: 600;
                    display: flex;
                    .item{
                        margin-right: 20px;
                    }
                }
                .all-items{
                    .items{
                        display: flex;
                        flex-wrap: wrap;
                        font-size: 14px;
                      
                        .item{
                            display: flex;
                            flex-wrap: wrap;
                            
                            margin-bottom: 8px;
                            &:nth-last-child(1){
                                margin-right: 0px;
                            }
                            
                            .process{
                                display: flex;
                                &::after{
                                    content: ' + ';
                                    margin: 0px 5px;
                                }
                                &:nth-last-child(1)::after{
                                    content: ' ';
                                }
                            }
                            
                            
                        }
                    }
                }
               
            }
        }
    }
}