body{
    margin: 0px;
    padding: 0px;
    position: relative;
    padding-bottom: 45px;
    @media screen and (max-width:700px) {
        padding-bottom: 20px;
    }
}

*{
    box-sizing: border-box;
}

main{
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    // position: relative;

    .login-informations{
        width: 50%;
        max-width: 480px;
        margin-top: 50vh;
        transform: translateY(-100%);
        box-shadow: 15px 15px 15px #08080e21;
        // background-color: transparent;
        border-radius: 15px;
        
        .login-title{
            background-color: #080842;
            color: white;
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 2px;
            padding: 8px 0px;
            border-radius: 20px 20px 0px 0px;
            display: flex;
            justify-content: center;
        }
        .login-contents{
            width: 100%;
            padding: 24px 8px;
            // padding-bottom: 48px;
            border: 2px solid #080842;
            border-radius: 0px 0px 15px 15px;
            // display: flex;
            // flex-direction: column;
            // align-content: center;
            .login-items{
                width: 100%;

                margin-bottom: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:nth-last-child(1){
                    margin-bottom: 0px;
                }
                .login-item{
                    font-size: 18px;
                    font-weight: 600;
                    margin-right: 12px;
                }
                input{
                    width: 300px;
                    height: 32px;
                    border:1px solid gray ;
                    border-radius: 3px;
                    background-color: ghostwhite;
                }
            }
            .login{
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 36px;
                .login-text{
                    padding: 4px 24px;
                    border: 2px solid #080842;
                    background-color: #080842;
                    color: white;
                    border-radius: 3px;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    cursor: pointer;
                    &:hover{
                        background-color: white;
                        color: #080842;
                        transition: .6s;
                    }
                }
            }
        }
    }
}

