*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    position: relative;
}

img{
    display: block;
}

a{
    display: block;
    text-decoration: none;
}

ul,ol{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
}

nav{
    width: 100%;
    max-width: 1920px;
    background-color: white;

    padding: 15px 0px;
    // margin-bottom: 8px;
    position: sticky;
    top: 0px;
    z-index: 99;
    box-shadow: 10px 10px 10px rgba(151, 151, 151, 0.308);
    margin-bottom: 24px;
    .title{
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 2px;

        display: flex;
        justify-content: center;

        margin-bottom: 8px;
        @media screen and (max-width:740px) {
            font-size: 22px;
        }
        @media screen and (max-width:540px) {
            font-size: 20px;
        }
    }
    .nav-items{
        // width: max-content;
        max-width: 1400px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0px 8px;

        margin: 0px auto;
        display: flex;
        @media screen and (max-width:440px) {
            justify-content: space-between;
        }
        .nav-item{
            width: 150px;
            max-width: 150px;
            font-size: 16px;
            font-weight: 600;

            margin-right: 24px;
            padding: 4px 8px;

            border-radius: 5px;
            background-color: rgb(18, 18, 51);
            border: 2px solid rgb(18, 18, 51);
            color: white;

            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            @media screen and (max-width:740px) {
                padding:2px 5px ;
            }
            @media screen and (max-width:540px) {
                padding:1px 3px ;
                font-size: 14px;
                width: 120px;
                max-width: 120px;
            }
            @media screen and (max-width:440px) {
                padding:1px 2px ;
                font-size: 14px;
                width:32%;
                max-width: 32%;
                margin-right: 0px;
            }
            @media screen and (max-width:360px) {
                font-size: 13px;
            }
            &:hover{
                background-color: white;
                color: rgb(18, 18, 51);

                transition: .6s;
            }
            &.active{
                background-color: white;
                color: rgb(18, 18, 51);

                transition: .6s;
            }
            &:nth-last-child(1){
                margin-right: 0px;
            }
        }
    }
}
main{
    max-width: 1400px;
    width: 100%;
    // background-color: goldenrod;
    margin: 0px auto;
    padding: 30px;
    padding-top: 0px;
    .shortcut-contents{
        width: 100%;
        margin-bottom: 24px;
        border-radius: 0px 20px 16px 16px;
        // background-color: blue;
        border-right: 2px solid gainsboro;
        box-shadow: 10px 10px 15px rgba(175, 175, 175, 0.171);
      
        &:nth-last-child(1){
            margin-bottom: 0px;
        }
        .shortcut-content{
            width: 100%;
            .shortcut-content-title{
                width: 100%;

                padding: 3px 0px;
                padding-left: 8px;

                font-size: 20px;
                font-weight: 600;
                color:rgb(87, 87, 87) ;
                // color: white;

                border-left: 8px solid salmon; 
                background-color: sandybrown;
                background-color: thistle;
                background-color: oldlace;
                border-radius: 0px 30px 30px 0px;
                box-shadow: 0px 5px 15px rgba(128, 128, 128, 0.322);
                @media screen and (max-width:740px) {
                    font-size: 18px;
                }
            }
            .shortcut-content-texts{
                padding:24px  8px ;
                border: 2px solid gainsboro;
                border-right: 0px solid transparent;
                border-radius: 0px 20px 16px 16px;

                border-top: 0px solid transparent;
                ul{
                    margin:0px 8px;
                    list-style: decimal;
                    li{
                        line-height: 28px;
                        font-size: 18px;
                        letter-spacing: 1.5px;
                        margin-bottom: 8px;
                        display: flex;
                        flex-wrap: wrap;
                        @media screen and (max-width:540px) {
                            font-size: 16px;
                            line-height: 28px;
                            margin-bottom: 5px;
                        }
                        a{
                            padding:0px  8px;
                            background-color: orange;
                            border-radius: 5px;
                            color: white;
                            margin: 0px 3px;
                        }
                    }
                }
            }
            .shortcut-content-pics{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding: 0px 24px;
                margin-top: 16px;
                @media screen and(max-width:1250px){  
                    justify-content: center;
                }
                @media screen and(max-width:740px){  
                    padding: 0px 8px;
                }
                .pic{
                   width: calc(25% - 23px);
                   
                    background-color: transparent;
                    margin-right: 30px;
                    &:nth-child(4n){
                        margin-right: 0px;
                    }
                    @media screen and(max-width:1000px){
                        width: calc(50% - 15px);
            
                        margin-bottom: 20px;
                        &:nth-child(2n){
                            margin-right: 0px;
                        }
                    }
                    @media screen and(max-width:540px){
                        width: 100%;
                        max-width: 600px;
                  
                        margin-bottom: 20px;
                        margin-right: 0px;
                        &:nth-child(2n){
                            margin-right: 0px;
                        }
                    }
                    .pic-title{
                        width: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-size: 20px;
                        font-weight: 600;
                        letter-spacing: 1.5px;
                        color: white;

                        border-radius: 8px 8px 0px 0px;
                        padding: 3px 24px;
                        background-color: tomato;
                        box-shadow: 10px 10px 15px rgba(63, 61, 61, 0.377);
                    }
                    img{
                        width: 100%;
                        box-shadow: 10px 10px 15px rgba(63, 61, 61, 0.377);
                        border-radius: 0px 0px 5px 5px;
                    }
                }
                .pc-pic{
                    width: calc(50% - 15px);
                    
                     background-color: transparent;
                     margin-right: 30px;
                     &:nth-child(2n){
                         margin-right: 0px;
                     }
                     @media screen and(max-width:1250px){
                         width: 100%;
                         max-width: 800px;
                         justify-content: center;
                         margin-right: 0px;
                         margin-bottom: 20px;
                        //  &:nth-last-child(1){
                        //     margin-bottom: 0px;
                        // }
                     }
                     .pic-title{
                         width: 100%;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         font-size: 20px;
                         font-weight: 600;
                         letter-spacing: 1.5px;
                         border-radius: 8px 8px 0px 0px;
                         padding: 3px 24px;
                         background-color: tomato;
                         color: white;
                         box-shadow: 10px 10px 15px rgba(63, 61, 61, 0.377);
                     }
                     img{
                         width: 100%;
                         box-shadow: 10px 10px 15px rgba(63, 61, 61, 0.377);
                         border-radius: 0px 0px 5px 5px;
                     }
                 }
               
            }
        }
    }
}