body{
    margin: 0px;
    padding: 0px;
    position: relative;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    list-style: none;
}

// 會員中心左側頁面
.user-login-contents{
    width: max-content;
    height: 100vh;

    padding:10px 30px;
    padding-right: 60px;
   
    background-color: rgb(20, 20, 44);
    background-color:ghostwhite;

    z-index: 99;
    position: fixed;
    top: 0px;
    left: 0px;
    transform: translateX(-100%);

    display: flex;
    flex-direction: column;
    @media screen and (max-width:500px) {
       width: 100vw;
    }
    // 點擊顯示
    &.show{
        transform: translateX(0px);
        opacity: 1;

        box-shadow: 0px 0px 15px rgba(95, 95, 95, 0.342);

        transition: .6s;
    }
    // 會員中心右上關閉按鈕
    .fa-window-close{
        font-size: 36px;
        color: #080842;

        position: absolute;
        right: 0px;
        top: 0px;
    }
    // 會員中心彈跳內容
    .user-login-content{
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: #080842;

        border: 2px solid ghostwhite;
        
        margin-bottom: 8px;
        padding: 5px 10px;
        // 我的最愛連結
        &:nth-child(2):hover{
            border: 2px solid #080842;
            border-radius: 3px;

            transition: .6s;

            box-shadow: 5px 5px 15px rgba(65, 65, 65, 0.26);
        }
        &:nth-child(1){
            border-bottom: 1px solid gray;
        }
    }
    // 登出按鈕
    .log-out{
        width: max-content;

        padding:2px  20px;
        border-radius: 3px;
        border: 2px solid #080842 ;
        background-color: #080842;

        font-weight: 600;
        color: white;
       
        margin-top: 20px;
        @media screen and (max-width:1000px) {
            padding:2px  15px;
        }
        @media screen and (max-width:500px) {
            padding:2px 8px;
            margin-left: 6px;
        }
        &:hover{
            background-color: white;
            color: #080842;

            transition: .6s;
        }
        
    }
}

nav{
    width: 100%;

    padding-top: 16px;

    background-color: white;

    position: sticky;
    z-index: 80;
    top: 0px;
   
    display: flex;
    flex-direction: column;
    @media screen and (max-width:1600px) {
        padding:0px 3vw;
        padding-top: 16px;
    }
    @media screen and (max-width:500px) {
        padding:0px 10px;
        padding-top: 16px;
    }
    // nav內容
    .nav-content{
        max-width: 1500px;
        width: 100%;

        margin: 0px auto;
        position: relative;
        // nav選單
        .nav-items{
            font-size: 16px;

            position: absolute;
            right: 0px;
    
            display: flex;
            @media screen and (max-width:500px) {
                font-size: 10px;
                padding-right: 10px;
            }
            // 訪客
            .user{
                letter-spacing: 1px;
            }
            // 登入按鈕
            .log{
                padding:2px  20px;

                border-radius: 3px;
                border: 2px solid #080842 ;
                background-color: #080842;

                font-weight: 600;
                color: white;

                margin-left: 12px;
                @media screen and (max-width:1000px) {
                    padding:2px  15px;
                }
                @media screen and (max-width:500px) {
                    padding:2px 8px;
                    margin-left: 6px;
                }
                &:hover{
                    background-color: white;
                    color: #080842;
    
                    transition: .6s;
                }
            }
            // 會員中心按鈕
            .user-login{
                background-color: steelblue;
                border: 2px solid steelblue ;
                margin-left: 0px;
                &:hover{
                    background-color: white;
                    color: steelblue;
    
                    transition: .6s;
                }
            }
        }
        // 標題
        .title{
            h1{
                font-size: 28px;
                font-weight: 600;
                text-align: center;
                letter-spacing: 2px;
            
                padding-bottom: 15px;
                margin: 0px;
                @media screen and (max-width:1200px) {
                    font-size: 24px;
                }
                @media screen and (max-width:1000px) {
                    font-size: 20px;
                }
                @media screen and (max-width:740px) {
                    text-align: left;
                    padding: 0px 0.5vw;
                    padding-bottom: 15px;
                }
                @media screen and (max-width:500px) {
                    font-size: 16px;
                    letter-spacing: 1px;
                }
                
            }
        }
   
        // 第幾張紙按鈕(多個)
        .paper-btns{
            display: flex;
            justify-content: center;

            margin-bottom: 12px;
            padding: 0px 1.5vw;
    
            display: none;
            @media screen and (max-width:861px) {
                display: block;
                display: flex;
            }
            // 第幾張紙按鈕(單個)
            .paper-btn{
                width: 120px;

                text-align: center;
                font-weight: 600;
                font-size: 14px;
                color:#080842 ;

                padding: 5px 0px;
                margin-right: 10px;

                border-radius: 3px;
                background-color:whitesmoke;
                border: 2px solid #768da7;

                cursor: pointer;
                &:nth-last-child(1){
                    margin-right: 0px;
                }
                &:hover{
                    background-color: #080842;
                    border: 2px solid #080842;
    
                    color: whitesmoke;
                    transition: .6s;
                }
                &.active{
                    background-color: #080842;
                    border: 2px solid #080842;
    
                    color: whitesmoke;
                    transition: .6s;
                }
            }
        }
    } 
}

// 下方表單內容
main{
    max-width: 1920px;
    width: 100%;

    position: relative;
    padding:0px 8vw;
    @media screen and (max-width:1600px) {
        padding:0px 3vw;
    }
    @media screen and (max-width:500px) {
        padding:0px 10px;
    }
    // 所有表格內容
    .allchoice{
        width: 100%;
        max-width: 1500px;

        margin: 0px auto;

        display: flex;
        // justify-content: center;
        @media screen and (max-width:860px) {
            flex-direction: column;
        }
        // 單張表格
        .choice{
            width: 100%;
           
            letter-spacing: 1px;
            margin-bottom: 20px;
            @media screen and (max-width:1200px) {
                width: 100%;
            }
             // 第一張
            &:nth-child(1){
                width: 40%;
                @media screen and (max-width:860px) {
                    width: 100%;
                }
                .choice-title{
                    width: 25%;
                }
                .choice-content{
                    width: 75%;
                    li{
                        .number{
                            background-color: lightblue;
                        }
                    }
                }
            }
            // 第二張，電腦板隱藏
            &:nth-child(2){
                width: 30%;
                
                .all-choice-content{
                    .choice-title{
                        display: none;
                    }
                    .choice-content{
                        width: 100%;
                        border-right: 2px solid rgb(17, 38, 75);
                        li{
                            .number{
                                background-color: burlywood;
                            }
                        }
                    }
                }
                @media screen and (max-width:860px) {
                    width: 100%;
                    .all-choice-content{
                        .choice-title{
                            display: block;
                            width: 25%;
                        }
                        .choice-content{
                            width: 75%;
                        }
                    }
                }
             
            }
            // 第三張，電腦板隱藏
            &:nth-child(3){
                width: 30%;
                margin-bottom: 0px;
                @media screen and (max-width:860px) {
                    width: 100%;
                }
                .all-choice-content{
                    .choice-title{
                        display: none;
                    }
                    .choice-content{
                        width: 100%;
                        border-right: 2px solid rgb(17, 38, 75);
                        li{
                            .number{
                                background-color: salmon;
                            }
                        }
                    }
                }
                @media screen and (max-width:860px) {
                    width: 100%;
                    .all-choice-content{
                        .choice-title{
                            display: block;
                            width: 25%;
                        }
                        .choice-content{
                            width: 75%;
                        }
                    }
                }
            }
                 // 上方選擇張數，預設第一張
        .big-selects{
            width: 100%;
            height: 50px;
        
            display: flex;
            // justify-content: center;
            align-items: center;
        
            // margin-bottom: 15px;
            @media screen and (max-width:740px) {
                justify-content: left;
                padding: 0px 0.5vw;
            }
            .big-select-title{
                width: 25%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                // font-size: 20px;
                font-weight: 600;
                letter-spacing: 1.5px;
                border:2px solid #080842;

                background-color:#fff2cd ;
                @media screen and (max-width:1200px) {
                    font-size: 18px;
                }
                @media screen and (max-width:1000px) {
                    font-size: 16px;
                }
                @media screen and (max-width:1000px) {
                    font-size: 16px;
                }
                @media screen and (max-width:400px) {
                    font-size: 14px;
                }
            }
            // 選單內容
                .big-select{
                width: 75%;
                max-width: 240px;
                // height: 100%;
        
                font-weight: 600;
                color:rgb(17, 38, 75);
                text-align: center;
                letter-spacing: 1.5px;
        
                position: relative;
        
                display: flex;
                align-items: center;
        
                border-radius: 3px 3px 0px 0px;
                @media screen and (max-width:400px) {
                    max-width: calc(100% - 140px);
                }
                // 下拉選單 icon
                .fa-sort-down{
                    font-size: 28px;
                    color:rgb(17, 38, 75);
        
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-70%);
                    @media screen and (max-width:400px) {
                        right: 5px;
                        font-size: 24px;
                    }
                }
                label{
                    top: 5px;
                    left: 20px;
        
                    font-size: 12px;
                    font-weight: 700;
                }
                // 下拉式選單內容
                .select-options{
                    width: 100%;
        
                    display: none;
        
                    background-color: #768da7;
                    border-radius: 0px 0px 10px 10px;
                    box-shadow: 5px  5px 10px  rgba(56, 56, 56, 0.384);
        
                    position: absolute;
                    top: 100%;
        
                    z-index: 50;
        
                    margin: 0;
                    padding: 0;        
                    text-align: center;
        
                    height: max-content;
                    max-height: 40vh;
                    overflow-y: auto;
                    
                    // 單個選單選項
                    .select-option{
                        height: max-content;
                        list-style: none;
        
                        font-size: 16px;
                        font-weight: 600;
        
                        padding: 5px 2px;
                    
                        color: white;
                    
                        transition: all .25s;
                        cursor: pointer;
                        @media screen and (max-width:1200px) {
                            font-size: 16px;
                            padding: 4px 2px;
                            letter-spacing: 1px;
                        }
                        @media screen and (max-width:1000px) {
                            font-size: 14px;
                        }
                        &:hover{
                            background-color: antiquewhite;
        
                            color: rgb(17, 38, 75);
                            
                            cursor: pointer;
        
                            transition: .6s;
                        }
                        &.active{
                            background-color: antiquewhite;
        
                            color: rgb(17, 38, 75);
        
                            cursor: pointer;
        
                            transition: .6s;
                        }
                    }
                }
        
                // 選單預設標題
                .select-text{
                    width: 100%;   
                    height: 50px;
        
                    padding: 6px 0px;
                    padding-right: 20px;
        
                    font-size: 18px;
                    letter-spacing: 2px;
                    text-align: center;
        
                    display: block;
        
                    border: 2px solid rgb(17, 38, 75);;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    cursor: pointer;
                    @media screen and (max-width:1200px) {
                        font-size: 16px;
                        padding: 4px 0px;
                        letter-spacing: 1px;
                    }
                    @media screen and (max-width:1000px) {
                        font-size: 14px;
                    }
                    .select-name{
                        text-align: center;
                    }      
                }
            }
        }
            .all-choice-content{
                width: 100%;

                display: flex;

                border-top: 2px solid rgb(17, 38, 75);
                border-bottom: 2px solid rgb(17, 38, 75);

                box-shadow: 3px 3px 15px rgba(56, 56, 56, 0.199);
                 // 左側標題
                .choice-title{
                    width: 25%;

                    border-right: 2px solid rgb(17, 38, 75);
                    border-left: 2px solid rgb(17, 38, 75); 
                    li{
                        width: 100%;
                        height: 50px;
            
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        align-content: center;
                        text-align: center;

                        font-size: 16px;
                        font-weight: 600;

                        background-color: ghostwhite;
                        border-bottom: 1px solid rgb(17, 38, 75);
                        &:nth-last-child(1){
                            border-bottom: 0px solid transparent;
                            @media screen and (max-width:1200px) {
                                border-bottom: 1px solid rgb(17, 38, 75);
                            }
                        }
                        // 用紙張數
                        &:nth-child(1){
                            background-color: gainsboro;
                            @media screen and (max-width:1400px) {
                                font-size: 16px;
                            }
                        }
                        span{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            .small-text{
                                padding-top: 2px;

                                font-weight: 600;
                                color: darkorange;
                            }
                        }
                    }
                }
                // 表格右方內容
                .choice-content{
                    width: 75%;
                    border-right: 2px solid rgb(17, 38, 75);
                    li{
                        width: 100%;
                        height: 50px;

                        border-bottom: 1px solid rgb(17, 38, 75);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-size: 16px;
                        
                        &:nth-last-child(1){
                            border-bottom: 0px solid transparent;
                            @media screen and (max-width:1200px) {
                                border-bottom: 1px solid rgb(17, 38, 75);
                            }
                        }
                        // 張數正反面
                        &:nth-child(1){

                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;
                        }
                        &:nth-child(2){
                            .select{
                                .fa-sort-down{
                                    right: 5vw;
                                    @media screen and (max-width:1000px) {
                                        right: 2vw;
                                    }
                                }
                                .select-text{
                                    justify-content: center;
                                }
                            }
                        }
                        // 表格選單內容
                        .select{
                            width: 100%;
                            height: 100%;

                            font-weight: 600;
                            color:rgb(17, 38, 75);
                            text-align: center;
                            letter-spacing: 1.5px;

                            position: relative;

                            display: flex;
                            align-items: center;
                        
                            padding: 3px 0px;
                            &:hover{
                                background-color: rgb(17, 38, 75);
                                color: white;

                                transition: .6s;
                                .fa-sort-down{
                                color: white;

                                transition: .6s;
                                }
                            }
                            &.active{
                                background-color: rgb(17, 38, 75);
                                color: white;
                            }
                        
                            // 表格下拉選單 icon
                            .fa-sort-down{
                                font-size: 28px;
                                color:rgb(17, 38, 75);

                                position: absolute;
                                right: 5px;

                                top: 50%;
                                transform: translateY(-70%);
                                &.active{
                                    color: white;
                                    z-index:80;
                                }
                                @media screen and (max-width:1400px) {
                                    font-size: 24px;
                                }
                                @media screen and (max-width:1200px) {
                                    font-size: 20px;
                                }
                                @media screen and (max-width:1100px) {
                                    font-size: 18px;
                                    right: 0px;

                                }
                            }
                            label{
                                top: 5px;
                                left: 20px;

                                font-size: 12px;
                                font-weight: 700;
                            }
                            // 表格下拉式選單內容
                            .select-options{
                                width: 100%;

                                display: none;
                    
                                background-color: #768da7;
                                border-radius: 0px 0px 3px 3px;
                                box-shadow: 5px  5px 10px  rgba(56, 56, 56, 0.384);

                                position: absolute;
                                top: 100%;
                                z-index: 50;

                                margin: 0;
                                padding: 0;
                            
                                text-align: center;
                                height: max-content;
                                max-height: 40vh;
                                overflow-y: auto;
                                // 表格單個選單選項
                                .select-option{
                                    height: max-content;
                                    list-style: none;

                                    font-size: 16px;
                                    font-weight: 600;

                                    padding: 6px 2px;
                                    border: 0px solid transparent;

                                    color: white;
                                
                                    transition: all .25s;
                                    cursor: pointer;
                                    @media screen and (max-width:1400px) {
                                        font-size: 14px;
                                    }
                                    &:hover{
                                        background-color: antiquewhite;
                                        color: rgb(17, 38, 75);

                                        cursor: pointer;

                                        transition: .6s;
                                    }
                                    &.active{
                                        background-color: antiquewhite;
                                        color: rgb(17, 38, 75);
                                    
                                        cursor: pointer;

                                        transition: .6s;
                                    }
                                }
                            }
                            // 表格選單預設標題
                            .select-text{
                                width: 100%;   
                                height: auto;

                                font-size: 20px;
                                font-size: 16px;
                                letter-spacing: 2px;
                                text-align: center;

                                display: block;
                                display: flex;
                                justify-content: center;

                                cursor: pointer;
                                .select-name{
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                    line-height: 24px;
                                }      
                            }
                        }
                        // 表格第幾張名片
                        .number{
                            width: 100%;
                            height: 100%;

                            border-bottom: 1px solid rgb(17, 38, 75);

                            display: flex;
                            justify-content: center;
                            align-items: center;

                            font-size: 20px;
                            font-size: 18px;
                            font-weight: 600;
                            &:nth-last-child(1){
                                border-bottom: 0px solid transparent;
                                padding: 0px;
                                @media screen and (max-width:1200px) {
                                    width: 100%;
                                }
                            }
                            .small-number{
                                width: 50%;
                                height: 100%;

                                display: flex;
                                justify-content: center;
                                align-items: center;

                                border-right: 1px solid rgb(17, 38, 75);
                                background-color: orange;
                                &:nth-child(1){
                                    background-color: rgb(206, 156, 206);
                                }
                                &:nth-last-child(1){
                                    border-right: 0px solid transparent;
                                }
                            }
                        }
                        .text{
                            margin-right: 15px;
                        }
                    
                        // 正背面
                        .small-choices{
                            width: 100%;
                            height: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .small-choice{
                                width: 50%;
                                height: 100%;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                border-right: 1px solid black;
                                &:nth-last-child(1){
                                    border-right: 0px solid transparent;
                                }
                            }
                            .select-text{
                                display: flex;
                                flex-wrap: wrap;
                                padding: 0px 15px;
                                justify-content: center;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
            // 電腦版數量選單
            .price-select-information{
                width: max-content;
                margin-top: 20px;

                align-items: center;
                @media screen and (max-width:1200px) {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: initial;
                }
                @media screen and (max-width:860px) {
                    display: none;
                }
                .print-name{
                    display: flex;
                    align-items: center;

                    margin-right: 20px;
                    margin-bottom: 16px;
        
                    @media screen and (max-width:1200px) {
                    }
                    .print-name-title{
                        font-size: 18px;
                        font-weight: 600;

                        margin-right: 8px;
                        @media screen and (max-width:1200px) {
                            font-size: 16px;
                        }
                    }
                    input{
                        width: 400px;
                        height: 32px;

                        border: radius 3px;
                        border: 1px solid gray;
                        background-color: ghostwhite;

                        color: rgb(17, 38, 75);
                        font-weight: 600;
                        font-size: 16px;
                        @media screen and (max-width:1200px) {
                            height: 28px;
                        }
                    }
                }
                // 電腦板價格選單 
                .price-selects{
                    width: max-content;

                    display: flex;
                    align-items: center;

                    margin-right: 20px;

                    font-size: 18px;
                    font-weight: 600;
                    @media screen and (max-width:1200px) {
                        font-size: 16px;
                    }
                    .price-select-name{
                        font-size: 18px;
                        font-weight: 600;
                        margin-right: 8px;
                        @media screen and (max-width:1200px) {
                            font-size: 16px;
                        }
                    }
                    // 電腦板價格選單內容
                    .number-select{
                        width: 180px;
                        height: 32px;

                        background-color: ghostwhite;
                        border: 1px solid gray;
        
                        font-weight: 600;
                        color:rgb(17, 38, 75);
                        text-align: center;
                        letter-spacing: 1.5px;
        
                        position: relative;
        
                        display: flex;
                        align-items: center;
                    
                        padding: 3px 0px;
                        margin-right: 3px;
                        @media screen and (max-width:1200px) {
                            height: 28px;
                        }
                        &:hover{
                            background-color: rgb(17, 38, 75);
                            color: white;
        
                            border: 0px solid transparent;
        
                            transition: .6s;
                            .fa-sort-down{
                               color: white;
        
                               border: 0px solid transparent;
        
                               transition: .6s;
                            }
                        }
                        &.active{
                            background-color: rgb(17, 38, 75);
                            color: white;
                        }
                       
                        // 下拉選單 icon
                        .fa-sort-down{
                            font-size: 24px;
                            color:rgb(17, 38, 75);
        
                            position: absolute;
                            right:10px;
        
                            top: 50%;
                            transform: translateY(-70%);
                            &.active{
                                color: white;
                                z-index:80;
                            }
                            @media screen and (max-width:1400px) {
                                font-size: 24px;
                            }
                            @media screen and (max-width:1200px) {
                                font-size: 20px;
                            }
                            @media screen and (max-width:1100px) {
                                font-size: 18px;        
                            }
                        }
                        label{
                            top: 5px;
                            left: 20px;
        
                            font-size: 12px;
                            font-weight: 700;
                        }
                        // 電腦板價格下拉式選單內容
                        .select-options{
                            width: 100%;
        
                            display: none;
                
                            background-color: #768da7;
                            border-radius: 0px 0px 3px 3px;
                            border-radius: 3px 3px 0px 0px;
                            
                            box-shadow: 5px  5px 10px  rgba(56, 56, 56, 0.384);
        
                            position: absolute;
                            transform: translateY(-100%);
                            top: 0px;
                            z-index: 50;
        
                            margin: 0;
                            padding: 0;
                        
                            text-align: center;
        
                            height: max-content;
                            max-height: 260px;
                            overflow-y: auto;
                            // 單個選單選項
                            .select-option{
                                height: max-content;
                                list-style: none;
        
                                font-size: 16px;
                                font-weight: 600;
        
                                padding: 6px 2px;
                                border: 0px solid transparent;
        
                                color: white;
                            
                                transition: all .25s;

                                cursor: pointer;
                                &:hover{
                                    background-color: antiquewhite;
                                    color: rgb(17, 38, 75);
        
                                    cursor: pointer;
        
                                    transition: .6s;
                                }
                                &.active{
                                    background-color: antiquewhite;
                                    color: rgb(17, 38, 75);
                                   
                                    cursor: pointer;
        
                                    transition: .6s;
                                }
                            }
                        }
                        // 選單預設標題
                        .select-text{
                            width: 100%;   
                            height: auto;
        
                            font-size: 20px;
                            font-size: 16px;
                            letter-spacing: 2px;
                            text-align: center;
        
                            display: block;
                            display: flex;
                            justify-content: center;
                            cursor: pointer;
                            .select-name{
                                text-align: center;
                            }      
                        }
                    }
                }
                // 電腦數量選擇下拉選單萬千百十個
                .price-selects1{
                    .number-text{
                        margin-right: 8px;
                    }
                    .number-select{
                        width: 80px;
                        .select-text{
                            padding-right: 20px;
                        }
                        .fa-sort-down{
                            @media screen and (max-width:1200px) {
                                right: 5px;
                            }
                        }
                    }
                }
            }
           
        }
    }
    .price-select-informations{
        // width: max-content;
        margin-top: 20px;
        // display: flex;
        // align-items: center;
        display: none;
        // @media screen and (max-width:1200px) {
        //     flex-direction: column;
        //     justify-content: flex-start;
        //     align-items: initial;
        // }
        @media screen and (max-width:860px) {
            display: block;
        }
        .print-name{
            display: flex;
            align-items: center;
            margin-right: 20px;
            margin-bottom: 16px;

            @media screen and (max-width:700px) {
                flex-direction: column;
                align-items: flex-start;
                margin-right: 0px;
            }
            .print-name-title{
                font-size: 18px;
                font-weight: 600;
                margin-right: 8px;
                @media screen and (max-width:1200px) {
                    font-size: 16px;
                }
                @media screen and (max-width:700px) {
                    margin-bottom: 8px;
                }
            }
            input{
                height: 32px;
                max-width: 400px;
                width: 100%;
                border: radius 3px;
                border: 1px solid gray;
                background-color: ghostwhite;
                color: rgb(17, 38, 75);
                font-weight: 600;
                font-size: 16px;
                @media screen and (max-width:1200px) {
                    height: 28px;
                }
                @media screen and (max-width:700px) {
                    width: 100%;
                }
            }
            
        }
        .price-selects{
            // width: max-content;
            display: flex;
            align-items: center;
            margin-right: 20px;
            font-size: 18px;
            font-weight: 600;
            @media screen and (max-width:1200px) {
                font-size: 16px;
            }
            @media screen and (max-width:700px) {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;   
              
            }
            

            .price-select-name{
                font-size: 18px;
                font-weight: 600;
                margin-right: 8px;
              
                @media screen and (max-width:1200px) {
                    font-size: 16px;
                }
                @media screen and (max-width:700px) {
                  margin-bottom: 8px;
                }
            }
            // 選單內容
            .number-select{
               
                height: 32px;
                background-color: ghostwhite;
                border: 1px solid gray;

                font-weight: 600;
                color:rgb(17, 38, 75);
                text-align: center;
                letter-spacing: 1.5px;

                position: relative;

                display: flex;
                align-items: center;
            
                padding: 3px 0px;
                margin-right: 3px;
                width: 100%;   
                // width: 400px;
                max-width: 400px;
                @media screen and (max-width:1200px) {
                    height: 28px;
                    
                }
                &:hover{
                    background-color: rgb(17, 38, 75);
                    color: white;

                    border: 0px solid transparent;

                    transition: .6s;
                    .fa-sort-down{
                       color: white;

                       border: 0px solid transparent;

                       transition: .6s;
                    }
                }
                &.active{
                    background-color: rgb(17, 38, 75);
                    color: white;
                }
               
                // 下拉選單 icon
                .fa-sort-down{
                    font-size: 24px;
                    color:rgb(17, 38, 75);

                    position: absolute;
                    right:10px;
                    // right: 2vw;

                    top: 50%;
                    transform: translateY(-70%);
                    &.active{
                        color: white;
                        z-index:80;
                    }
                    @media screen and (max-width:1400px) {
                        font-size: 24px;
                    }
                    @media screen and (max-width:1200px) {
                        font-size: 20px;
                    }
                    @media screen and (max-width:1100px) {
                        font-size: 18px;
                        // right: 0px;

                    }
                }
                label{
                    top: 5px;
                    left: 20px;

                    font-size: 12px;
                    font-weight: 700;
                }
                // 下拉式選單內容
                .select-options{
                    width: 100%;

                    display: none;
        
                    background-color: #768da7;
                    border-radius: 0px 0px 3px 3px;
                    border-radius: 3px 3px 0px 0px;

                    box-shadow: 5px  5px 10px  rgba(56, 56, 56, 0.384);

                    position: absolute;
                    top: 0px;
                    transform: translateY(-100%);
                    z-index: 50;

                    margin: 0;
                    padding: 0;
                    padding-bottom: 10px;
                
                    text-align: center;

                    height: max-content;
                    // max-height: 40vh;
                    max-height: 260px;
                    overflow-y: auto;
                 
                    // 單個選單選項
                    .select-option{
                        height: max-content;
                        list-style: none;

                        font-size: 16px;
                        font-weight: 600;

                        padding: 6px 2px;
                        border: 0px solid transparent;

                        color: white;
                    
                        transition: all .25s;
                        cursor: pointer;
                        // @media screen and (max-width:1400px) {
                        //     font-size: 14px;
                        // }
                        // @media screen and (max-width:1200px) {
                        //     font-size: 12px;
                        // }
                      
                        &:hover{
                            background-color: antiquewhite;
                            color: rgb(17, 38, 75);

                            cursor: pointer;

                            transition: .6s;
                        }
                        &.active{
                            background-color: antiquewhite;
                            color: rgb(17, 38, 75);
                           
                            cursor: pointer;

                            transition: .6s;
                        }
                    }
                }
            
                // 選單預設標題
                .select-text{
                    
                    height: auto;

                    font-size: 20px;
                    font-size: 16px;
                    letter-spacing: 2px;
                    text-align: center;

                    display: block;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    .select-name{
                        text-align: center;
                        display: flex;
                        width: 100%;   
                     
                    }      
                }
            }
        }
        .price-selects1{
            // margin-right: 0px;
            @media screen and (max-width:500px) {
                font-size: 14px;
            }
            .all-selects{
                display: flex;
                align-items: center;
                // width: 100%;
                // @media screen and (max-width:740px) {
                //     width: 100%;
                // }
                
                .number-text{
                    margin-right: 8px;
                    
                }
                .number-select{
                    width: 80px;
                    @media screen and (max-width:740px) {
                        width: 60px;
                    }
                    @media screen and (max-width:600px) {
                        width: 55px;
                       
                    }
                    @media screen and (max-width:450px) {
                        width: 50px;
                       
                    }
                    @media screen and (max-width:400px) {
                        width: 38px;
                       
                    }
                    
                    .select-text{
                        padding-right: 20px;
                        padding-left: 12px;
                        @media screen and (max-width:500px) {
                            font-size: 14px;
                            padding-left: 5px;
                        }
                       
                    }
                    .fa-sort-down{
                        @media screen and (max-width:1200px) {
                            right: 5px;
                        }
                    }
            }
           
            }
        }
    }
    // 下方確認、全部清除按鈕
    .btns{
        width: 100%;

        display: flex;
        justify-content: center;

        margin-top: 20px;
        &:nth-last-child(1){
            // 加到我的最愛按鈕
            .btn{
                background-color: darkorange;
                border: 2px solid darkorange;
                &:hover{
                    color: darkorange;
                    background-color: white;
                    border: 2px solid darkorange;

                    transition: .6s;
                }
            }
        }
        // 全部清除/確認按鈕
        .btn{
            width: 150px;
            
            padding: 5px 0px;
            margin-right: 20px;

            font-size: 20px;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1.5px;
            color: white;
            text-align: center;

            border-radius: 5px;
            background-color: rgb(8, 8, 66);
            border: 2px solid rgb(8, 8, 66);

            cursor: pointer;
            @media screen and (max-width:1200px) {
                font-size: 16px;
                padding: 4px 2px;
            }
            @media screen and (max-width:700px) {
                width: 130px;

                padding:3px 0px;
                margin-right: 15px;

                font-size: 18px;
            }
            @media screen and (max-width:500px) {
                width: 120px;
               
                font-size: 14px;
            }
            &:hover{
                color: rgb(8, 8, 66);
                background-color: white;
                transition: .6s;
            }
            &:nth-last-child(1){
                margin-right: 0px;
            }
        }
    }

    // 樣本檔、價格
    .results{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        @media screen and (max-width:700px) {
            flex-direction: column;
        }

        .result{
            display: flex;
            align-items: center;
            margin-right: 30px;
            &:nth-last-child(1){
                .title{
                    margin-bottom: 0px;
                }
            }
            .title{
                font-size: 24px;
                font-size: 20px;
                font-weight: 600;
                @media screen and (max-width:1200px) {
                    font-size: 18px;
                }
                @media screen and (max-width:1000px) {
                    font-size: 16px;
                }
            }
            a{
                display: block;
                margin-right: 20px;
                    &:nth-last-child(1){
                        margin-right: 0px;
                    }
                img{
                    width: 40px;
                    height: 40px;
                    @media screen and (max-width:1200px) {
                        width: 35px;
                        height: 35px;
                    }
                    @media screen and (max-width:1000px) {
                        width: 30px;
                        height: 30px;
                    }
                    @media screen and (max-width:500px) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
            .price-text{
                font-size: 24px;
                font-size: 20px;
                @media screen and (max-width:1200px) {
                    font-size: 18px;
                }
                @media screen and (max-width:1000px) {
                    font-size: 16px;
                }
                @media screen and (max-width:500px) {
                    font-size: 18px;
                }
            }
        }
    }
}