body {
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  list-style: none;
}

.user-login-contents {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100vh;
  padding: 10px 30px;
  padding-right: 60px;
  background-color: #14142c;
  background-color: ghostwhite;
  z-index: 99;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 500px) {
  .user-login-contents {
    width: 100vw;
  }
}

.user-login-contents.show {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  -webkit-box-shadow: 0px 0px 15px rgba(95, 95, 95, 0.342);
          box-shadow: 0px 0px 15px rgba(95, 95, 95, 0.342);
  -webkit-transition: .6s;
  transition: .6s;
}

.user-login-contents .fa-window-close {
  font-size: 36px;
  color: #080842;
  position: absolute;
  right: 0px;
  top: 0px;
}

.user-login-contents .user-login-content {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #080842;
  border: 2px solid ghostwhite;
  margin-bottom: 8px;
  padding: 5px 10px;
}

.user-login-contents .user-login-content:nth-child(2):hover {
  border: 2px solid #080842;
  border-radius: 3px;
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-box-shadow: 5px 5px 15px rgba(65, 65, 65, 0.26);
          box-shadow: 5px 5px 15px rgba(65, 65, 65, 0.26);
}

.user-login-contents .user-login-content:nth-child(1) {
  border-bottom: 1px solid gray;
}

.user-login-contents .log-out {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 2px  20px;
  border-radius: 3px;
  border: 2px solid #080842;
  background-color: #080842;
  font-weight: 600;
  color: white;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .user-login-contents .log-out {
    padding: 2px  15px;
  }
}

@media screen and (max-width: 500px) {
  .user-login-contents .log-out {
    padding: 2px 8px;
    margin-left: 6px;
  }
}

.user-login-contents .log-out:hover {
  background-color: white;
  color: #080842;
  -webkit-transition: .6s;
  transition: .6s;
}

nav {
  width: 100%;
  padding-top: 16px;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 80;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1600px) {
  nav {
    padding: 0px 3vw;
    padding-top: 16px;
  }
}

@media screen and (max-width: 500px) {
  nav {
    padding: 0px 10px;
    padding-top: 16px;
  }
}

nav .nav-content {
  max-width: 1500px;
  width: 100%;
  margin: 0px auto;
  position: relative;
}

nav .nav-content .nav-items {
  font-size: 16px;
  position: absolute;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 500px) {
  nav .nav-content .nav-items {
    font-size: 10px;
    padding-right: 10px;
  }
}

nav .nav-content .nav-items .user {
  letter-spacing: 1px;
}

nav .nav-content .nav-items .log {
  padding: 2px  20px;
  border-radius: 3px;
  border: 2px solid #080842;
  background-color: #080842;
  font-weight: 600;
  color: white;
  margin-left: 12px;
}

@media screen and (max-width: 1000px) {
  nav .nav-content .nav-items .log {
    padding: 2px  15px;
  }
}

@media screen and (max-width: 500px) {
  nav .nav-content .nav-items .log {
    padding: 2px 8px;
    margin-left: 6px;
  }
}

nav .nav-content .nav-items .log:hover {
  background-color: white;
  color: #080842;
  -webkit-transition: .6s;
  transition: .6s;
}

nav .nav-content .nav-items .user-login {
  background-color: steelblue;
  border: 2px solid steelblue;
  margin-left: 0px;
}

nav .nav-content .nav-items .user-login:hover {
  background-color: white;
  color: steelblue;
  -webkit-transition: .6s;
  transition: .6s;
}

nav .nav-content .title h1 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 15px;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  nav .nav-content .title h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 1000px) {
  nav .nav-content .title h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 740px) {
  nav .nav-content .title h1 {
    text-align: left;
    padding: 0px 0.5vw;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 500px) {
  nav .nav-content .title h1 {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

nav .nav-content .paper-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  padding: 0px 1.5vw;
  display: none;
}

@media screen and (max-width: 861px) {
  nav .nav-content .paper-btns {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

nav .nav-content .paper-btns .paper-btn {
  width: 120px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #080842;
  padding: 5px 0px;
  margin-right: 10px;
  border-radius: 3px;
  background-color: whitesmoke;
  border: 2px solid #768da7;
  cursor: pointer;
}

nav .nav-content .paper-btns .paper-btn:nth-last-child(1) {
  margin-right: 0px;
}

nav .nav-content .paper-btns .paper-btn:hover {
  background-color: #080842;
  border: 2px solid #080842;
  color: whitesmoke;
  -webkit-transition: .6s;
  transition: .6s;
}

nav .nav-content .paper-btns .paper-btn.active {
  background-color: #080842;
  border: 2px solid #080842;
  color: whitesmoke;
  -webkit-transition: .6s;
  transition: .6s;
}

main {
  max-width: 1920px;
  width: 100%;
  position: relative;
  padding: 0px 8vw;
}

@media screen and (max-width: 1600px) {
  main {
    padding: 0px 3vw;
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 0px 10px;
  }
}

main .allchoice {
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 860px) {
  main .allchoice {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .allchoice .choice {
  width: 100%;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice {
    width: 100%;
  }
}

main .allchoice .choice:nth-child(1) {
  width: 40%;
}

@media screen and (max-width: 860px) {
  main .allchoice .choice:nth-child(1) {
    width: 100%;
  }
}

main .allchoice .choice:nth-child(1) .choice-title {
  width: 25%;
}

main .allchoice .choice:nth-child(1) .choice-content {
  width: 75%;
}

main .allchoice .choice:nth-child(1) .choice-content li .number {
  background-color: lightblue;
}

main .allchoice .choice:nth-child(2) {
  width: 30%;
}

main .allchoice .choice:nth-child(2) .all-choice-content .choice-title {
  display: none;
}

main .allchoice .choice:nth-child(2) .all-choice-content .choice-content {
  width: 100%;
  border-right: 2px solid #11264b;
}

main .allchoice .choice:nth-child(2) .all-choice-content .choice-content li .number {
  background-color: burlywood;
}

@media screen and (max-width: 860px) {
  main .allchoice .choice:nth-child(2) {
    width: 100%;
  }
  main .allchoice .choice:nth-child(2) .all-choice-content .choice-title {
    display: block;
    width: 25%;
  }
  main .allchoice .choice:nth-child(2) .all-choice-content .choice-content {
    width: 75%;
  }
}

main .allchoice .choice:nth-child(3) {
  width: 30%;
  margin-bottom: 0px;
}

@media screen and (max-width: 860px) {
  main .allchoice .choice:nth-child(3) {
    width: 100%;
  }
}

main .allchoice .choice:nth-child(3) .all-choice-content .choice-title {
  display: none;
}

main .allchoice .choice:nth-child(3) .all-choice-content .choice-content {
  width: 100%;
  border-right: 2px solid #11264b;
}

main .allchoice .choice:nth-child(3) .all-choice-content .choice-content li .number {
  background-color: salmon;
}

@media screen and (max-width: 860px) {
  main .allchoice .choice:nth-child(3) {
    width: 100%;
  }
  main .allchoice .choice:nth-child(3) .all-choice-content .choice-title {
    display: block;
    width: 25%;
  }
  main .allchoice .choice:nth-child(3) .all-choice-content .choice-content {
    width: 75%;
  }
}

main .allchoice .choice .big-selects {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 740px) {
  main .allchoice .choice .big-selects {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding: 0px 0.5vw;
  }
}

main .allchoice .choice .big-selects .big-select-title {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1.5px;
  border: 2px solid #080842;
  background-color: #fff2cd;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .big-selects .big-select-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  main .allchoice .choice .big-selects .big-select-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 1000px) {
  main .allchoice .choice .big-selects .big-select-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  main .allchoice .choice .big-selects .big-select-title {
    font-size: 14px;
  }
}

main .allchoice .choice .big-selects .big-select {
  width: 75%;
  max-width: 240px;
  font-weight: 600;
  color: #11264b;
  text-align: center;
  letter-spacing: 1.5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px 3px 0px 0px;
}

@media screen and (max-width: 400px) {
  main .allchoice .choice .big-selects .big-select {
    max-width: calc(100% - 140px);
  }
}

main .allchoice .choice .big-selects .big-select .fa-sort-down {
  font-size: 28px;
  color: #11264b;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

@media screen and (max-width: 400px) {
  main .allchoice .choice .big-selects .big-select .fa-sort-down {
    right: 5px;
    font-size: 24px;
  }
}

main .allchoice .choice .big-selects .big-select label {
  top: 5px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

main .allchoice .choice .big-selects .big-select .select-options {
  width: 100%;
  display: none;
  background-color: #768da7;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.384);
          box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.384);
  position: absolute;
  top: 100%;
  z-index: 50;
  margin: 0;
  padding: 0;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 40vh;
  overflow-y: auto;
}

main .allchoice .choice .big-selects .big-select .select-options .select-option {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 2px;
  color: white;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .big-selects .big-select .select-options .select-option {
    font-size: 16px;
    padding: 4px 2px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1000px) {
  main .allchoice .choice .big-selects .big-select .select-options .select-option {
    font-size: 14px;
  }
}

main .allchoice .choice .big-selects .big-select .select-options .select-option:hover {
  background-color: antiquewhite;
  color: #11264b;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .big-selects .big-select .select-options .select-option.active {
  background-color: antiquewhite;
  color: #11264b;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .big-selects .big-select .select-text {
  width: 100%;
  height: 50px;
  padding: 6px 0px;
  padding-right: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  border: 2px solid #11264b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .big-selects .big-select .select-text {
    font-size: 16px;
    padding: 4px 0px;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 1000px) {
  main .allchoice .choice .big-selects .big-select .select-text {
    font-size: 14px;
  }
}

main .allchoice .choice .big-selects .big-select .select-text .select-name {
  text-align: center;
}

main .allchoice .choice .all-choice-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #11264b;
  border-bottom: 2px solid #11264b;
  -webkit-box-shadow: 3px 3px 15px rgba(56, 56, 56, 0.199);
          box-shadow: 3px 3px 15px rgba(56, 56, 56, 0.199);
}

main .allchoice .choice .all-choice-content .choice-title {
  width: 25%;
  border-right: 2px solid #11264b;
  border-left: 2px solid #11264b;
}

main .allchoice .choice .all-choice-content .choice-title li {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: ghostwhite;
  border-bottom: 1px solid #11264b;
}

main .allchoice .choice .all-choice-content .choice-title li:nth-last-child(1) {
  border-bottom: 0px solid transparent;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .all-choice-content .choice-title li:nth-last-child(1) {
    border-bottom: 1px solid #11264b;
  }
}

main .allchoice .choice .all-choice-content .choice-title li:nth-child(1) {
  background-color: gainsboro;
}

@media screen and (max-width: 1400px) {
  main .allchoice .choice .all-choice-content .choice-title li:nth-child(1) {
    font-size: 16px;
  }
}

main .allchoice .choice .all-choice-content .choice-title li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .allchoice .choice .all-choice-content .choice-title li span .small-text {
  padding-top: 2px;
  font-weight: 600;
  color: darkorange;
}

main .allchoice .choice .all-choice-content .choice-content {
  width: 75%;
  border-right: 2px solid #11264b;
}

main .allchoice .choice .all-choice-content .choice-content li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #11264b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

main .allchoice .choice .all-choice-content .choice-content li:nth-last-child(1) {
  border-bottom: 0px solid transparent;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .all-choice-content .choice-content li:nth-last-child(1) {
    border-bottom: 1px solid #11264b;
  }
}

main .allchoice .choice .all-choice-content .choice-content li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

main .allchoice .choice .all-choice-content .choice-content li:nth-child(2) .select .fa-sort-down {
  right: 5vw;
}

@media screen and (max-width: 1000px) {
  main .allchoice .choice .all-choice-content .choice-content li:nth-child(2) .select .fa-sort-down {
    right: 2vw;
  }
}

main .allchoice .choice .all-choice-content .choice-content li:nth-child(2) .select .select-text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .allchoice .choice .all-choice-content .choice-content li .select {
  width: 100%;
  height: 100%;
  font-weight: 600;
  color: #11264b;
  text-align: center;
  letter-spacing: 1.5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0px;
}

main .allchoice .choice .all-choice-content .choice-content li .select:hover {
  background-color: #11264b;
  color: white;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .all-choice-content .choice-content li .select:hover .fa-sort-down {
  color: white;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .all-choice-content .choice-content li .select.active {
  background-color: #11264b;
  color: white;
}

main .allchoice .choice .all-choice-content .choice-content li .select .fa-sort-down {
  font-size: 28px;
  color: #11264b;
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

main .allchoice .choice .all-choice-content .choice-content li .select .fa-sort-down.active {
  color: white;
  z-index: 80;
}

@media screen and (max-width: 1400px) {
  main .allchoice .choice .all-choice-content .choice-content li .select .fa-sort-down {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .all-choice-content .choice-content li .select .fa-sort-down {
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {
  main .allchoice .choice .all-choice-content .choice-content li .select .fa-sort-down {
    font-size: 18px;
    right: 0px;
  }
}

main .allchoice .choice .all-choice-content .choice-content li .select label {
  top: 5px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

main .allchoice .choice .all-choice-content .choice-content li .select .select-options {
  width: 100%;
  display: none;
  background-color: #768da7;
  border-radius: 0px 0px 3px 3px;
  -webkit-box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.384);
          box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.384);
  position: absolute;
  top: 100%;
  z-index: 50;
  margin: 0;
  padding: 0;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 40vh;
  overflow-y: auto;
}

main .allchoice .choice .all-choice-content .choice-content li .select .select-options .select-option {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 2px;
  border: 0px solid transparent;
  color: white;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  main .allchoice .choice .all-choice-content .choice-content li .select .select-options .select-option {
    font-size: 14px;
  }
}

main .allchoice .choice .all-choice-content .choice-content li .select .select-options .select-option:hover {
  background-color: antiquewhite;
  color: #11264b;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .all-choice-content .choice-content li .select .select-options .select-option.active {
  background-color: antiquewhite;
  color: #11264b;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .all-choice-content .choice-content li .select .select-text {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main .allchoice .choice .all-choice-content .choice-content li .select .select-text .select-name {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 24px;
}

main .allchoice .choice .all-choice-content .choice-content li .number {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #11264b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-size: 18px;
  font-weight: 600;
}

main .allchoice .choice .all-choice-content .choice-content li .number:nth-last-child(1) {
  border-bottom: 0px solid transparent;
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .all-choice-content .choice-content li .number:nth-last-child(1) {
    width: 100%;
  }
}

main .allchoice .choice .all-choice-content .choice-content li .number .small-number {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #11264b;
  background-color: orange;
}

main .allchoice .choice .all-choice-content .choice-content li .number .small-number:nth-child(1) {
  background-color: #ce9cce;
}

main .allchoice .choice .all-choice-content .choice-content li .number .small-number:nth-last-child(1) {
  border-right: 0px solid transparent;
}

main .allchoice .choice .all-choice-content .choice-content li .text {
  margin-right: 15px;
}

main .allchoice .choice .all-choice-content .choice-content li .small-choices {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .allchoice .choice .all-choice-content .choice-content li .small-choices .small-choice {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid black;
}

main .allchoice .choice .all-choice-content .choice-content li .small-choices .small-choice:nth-last-child(1) {
  border-right: 0px solid transparent;
}

main .allchoice .choice .all-choice-content .choice-content li .small-choices .select-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 24px;
}

main .allchoice .choice .price-select-information {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .price-select-information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
}

@media screen and (max-width: 860px) {
  main .allchoice .choice .price-select-information {
    display: none;
  }
}

main .allchoice .choice .price-select-information .print-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-bottom: 16px;
}

main .allchoice .choice .price-select-information .print-name .print-name-title {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .price-select-information .print-name .print-name-title {
    font-size: 16px;
  }
}

main .allchoice .choice .price-select-information .print-name input {
  width: 400px;
  height: 32px;
  border: radius 3px;
  border: 1px solid gray;
  background-color: ghostwhite;
  color: #11264b;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .price-select-information .print-name input {
    height: 28px;
  }
}

main .allchoice .choice .price-select-information .price-selects {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .price-select-information .price-selects {
    font-size: 16px;
  }
}

main .allchoice .choice .price-select-information .price-selects .price-select-name {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .price-select-information .price-selects .price-select-name {
    font-size: 16px;
  }
}

main .allchoice .choice .price-select-information .price-selects .number-select {
  width: 180px;
  height: 32px;
  background-color: ghostwhite;
  border: 1px solid gray;
  font-weight: 600;
  color: #11264b;
  text-align: center;
  letter-spacing: 1.5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0px;
  margin-right: 3px;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .price-select-information .price-selects .number-select {
    height: 28px;
  }
}

main .allchoice .choice .price-select-information .price-selects .number-select:hover {
  background-color: #11264b;
  color: white;
  border: 0px solid transparent;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .price-select-information .price-selects .number-select:hover .fa-sort-down {
  color: white;
  border: 0px solid transparent;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .price-select-information .price-selects .number-select.active {
  background-color: #11264b;
  color: white;
}

main .allchoice .choice .price-select-information .price-selects .number-select .fa-sort-down {
  font-size: 24px;
  color: #11264b;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

main .allchoice .choice .price-select-information .price-selects .number-select .fa-sort-down.active {
  color: white;
  z-index: 80;
}

@media screen and (max-width: 1400px) {
  main .allchoice .choice .price-select-information .price-selects .number-select .fa-sort-down {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .price-select-information .price-selects .number-select .fa-sort-down {
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {
  main .allchoice .choice .price-select-information .price-selects .number-select .fa-sort-down {
    font-size: 18px;
  }
}

main .allchoice .choice .price-select-information .price-selects .number-select label {
  top: 5px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

main .allchoice .choice .price-select-information .price-selects .number-select .select-options {
  width: 100%;
  display: none;
  background-color: #768da7;
  border-radius: 0px 0px 3px 3px;
  border-radius: 3px 3px 0px 0px;
  -webkit-box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.384);
          box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.384);
  position: absolute;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 0px;
  z-index: 50;
  margin: 0;
  padding: 0;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 260px;
  overflow-y: auto;
}

main .allchoice .choice .price-select-information .price-selects .number-select .select-options .select-option {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 2px;
  border: 0px solid transparent;
  color: white;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

main .allchoice .choice .price-select-information .price-selects .number-select .select-options .select-option:hover {
  background-color: antiquewhite;
  color: #11264b;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .price-select-information .price-selects .number-select .select-options .select-option.active {
  background-color: antiquewhite;
  color: #11264b;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main .allchoice .choice .price-select-information .price-selects .number-select .select-text {
  width: 100%;
  height: auto;
  font-size: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main .allchoice .choice .price-select-information .price-selects .number-select .select-text .select-name {
  text-align: center;
}

main .allchoice .choice .price-select-information .price-selects1 .number-text {
  margin-right: 8px;
}

main .allchoice .choice .price-select-information .price-selects1 .number-select {
  width: 80px;
}

main .allchoice .choice .price-select-information .price-selects1 .number-select .select-text {
  padding-right: 20px;
}

@media screen and (max-width: 1200px) {
  main .allchoice .choice .price-select-information .price-selects1 .number-select .fa-sort-down {
    right: 5px;
  }
}

main .price-select-informations {
  margin-top: 20px;
  display: none;
}

@media screen and (max-width: 860px) {
  main .price-select-informations {
    display: block;
  }
}

main .price-select-informations .print-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  margin-bottom: 16px;
}

@media screen and (max-width: 700px) {
  main .price-select-informations .print-name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0px;
  }
}

main .price-select-informations .print-name .print-name-title {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

@media screen and (max-width: 1200px) {
  main .price-select-informations .print-name .print-name-title {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  main .price-select-informations .print-name .print-name-title {
    margin-bottom: 8px;
  }
}

main .price-select-informations .print-name input {
  height: 32px;
  max-width: 400px;
  width: 100%;
  border: radius 3px;
  border: 1px solid gray;
  background-color: ghostwhite;
  color: #11264b;
  font-weight: 600;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  main .price-select-informations .print-name input {
    height: 28px;
  }
}

@media screen and (max-width: 700px) {
  main .price-select-informations .print-name input {
    width: 100%;
  }
}

main .price-select-informations .price-selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  main .price-select-informations .price-selects {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  main .price-select-informations .price-selects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}

main .price-select-informations .price-selects .price-select-name {
  font-size: 18px;
  font-weight: 600;
  margin-right: 8px;
}

@media screen and (max-width: 1200px) {
  main .price-select-informations .price-selects .price-select-name {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  main .price-select-informations .price-selects .price-select-name {
    margin-bottom: 8px;
  }
}

main .price-select-informations .price-selects .number-select {
  height: 32px;
  background-color: ghostwhite;
  border: 1px solid gray;
  font-weight: 600;
  color: #11264b;
  text-align: center;
  letter-spacing: 1.5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0px;
  margin-right: 3px;
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 1200px) {
  main .price-select-informations .price-selects .number-select {
    height: 28px;
  }
}

main .price-select-informations .price-selects .number-select:hover {
  background-color: #11264b;
  color: white;
  border: 0px solid transparent;
  -webkit-transition: .6s;
  transition: .6s;
}

main .price-select-informations .price-selects .number-select:hover .fa-sort-down {
  color: white;
  border: 0px solid transparent;
  -webkit-transition: .6s;
  transition: .6s;
}

main .price-select-informations .price-selects .number-select.active {
  background-color: #11264b;
  color: white;
}

main .price-select-informations .price-selects .number-select .fa-sort-down {
  font-size: 24px;
  color: #11264b;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
}

main .price-select-informations .price-selects .number-select .fa-sort-down.active {
  color: white;
  z-index: 80;
}

@media screen and (max-width: 1400px) {
  main .price-select-informations .price-selects .number-select .fa-sort-down {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  main .price-select-informations .price-selects .number-select .fa-sort-down {
    font-size: 20px;
  }
}

@media screen and (max-width: 1100px) {
  main .price-select-informations .price-selects .number-select .fa-sort-down {
    font-size: 18px;
  }
}

main .price-select-informations .price-selects .number-select label {
  top: 5px;
  left: 20px;
  font-size: 12px;
  font-weight: 700;
}

main .price-select-informations .price-selects .number-select .select-options {
  width: 100%;
  display: none;
  background-color: #768da7;
  border-radius: 0px 0px 3px 3px;
  border-radius: 3px 3px 0px 0px;
  -webkit-box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.384);
          box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.384);
  position: absolute;
  top: 0px;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 50;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 260px;
  overflow-y: auto;
}

main .price-select-informations .price-selects .number-select .select-options .select-option {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 2px;
  border: 0px solid transparent;
  color: white;
  -webkit-transition: all .25s;
  transition: all .25s;
  cursor: pointer;
}

main .price-select-informations .price-selects .number-select .select-options .select-option:hover {
  background-color: antiquewhite;
  color: #11264b;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main .price-select-informations .price-selects .number-select .select-options .select-option.active {
  background-color: antiquewhite;
  color: #11264b;
  cursor: pointer;
  -webkit-transition: .6s;
  transition: .6s;
}

main .price-select-informations .price-selects .number-select .select-text {
  height: auto;
  font-size: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

main .price-select-informations .price-selects .number-select .select-text .select-name {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 500px) {
  main .price-select-informations .price-selects1 {
    font-size: 14px;
  }
}

main .price-select-informations .price-selects1 .all-selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .price-select-informations .price-selects1 .all-selects .number-text {
  margin-right: 8px;
}

main .price-select-informations .price-selects1 .all-selects .number-select {
  width: 80px;
}

@media screen and (max-width: 740px) {
  main .price-select-informations .price-selects1 .all-selects .number-select {
    width: 60px;
  }
}

@media screen and (max-width: 600px) {
  main .price-select-informations .price-selects1 .all-selects .number-select {
    width: 55px;
  }
}

@media screen and (max-width: 450px) {
  main .price-select-informations .price-selects1 .all-selects .number-select {
    width: 50px;
  }
}

@media screen and (max-width: 400px) {
  main .price-select-informations .price-selects1 .all-selects .number-select {
    width: 38px;
  }
}

main .price-select-informations .price-selects1 .all-selects .number-select .select-text {
  padding-right: 20px;
  padding-left: 12px;
}

@media screen and (max-width: 500px) {
  main .price-select-informations .price-selects1 .all-selects .number-select .select-text {
    font-size: 14px;
    padding-left: 5px;
  }
}

@media screen and (max-width: 1200px) {
  main .price-select-informations .price-selects1 .all-selects .number-select .fa-sort-down {
    right: 5px;
  }
}

main .btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

main .btns:nth-last-child(1) .btn {
  background-color: darkorange;
  border: 2px solid darkorange;
}

main .btns:nth-last-child(1) .btn:hover {
  color: darkorange;
  background-color: white;
  border: 2px solid darkorange;
  -webkit-transition: .6s;
  transition: .6s;
}

main .btns .btn {
  width: 150px;
  padding: 5px 0px;
  margin-right: 20px;
  font-size: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: white;
  text-align: center;
  border-radius: 5px;
  background-color: #080842;
  border: 2px solid #080842;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  main .btns .btn {
    font-size: 16px;
    padding: 4px 2px;
  }
}

@media screen and (max-width: 700px) {
  main .btns .btn {
    width: 130px;
    padding: 3px 0px;
    margin-right: 15px;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  main .btns .btn {
    width: 120px;
    font-size: 14px;
  }
}

main .btns .btn:hover {
  color: #080842;
  background-color: white;
  -webkit-transition: .6s;
  transition: .6s;
}

main .btns .btn:nth-last-child(1) {
  margin-right: 0px;
}

main .results {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 700px) {
  main .results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .results .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

main .results .result:nth-last-child(1) .title {
  margin-bottom: 0px;
}

main .results .result .title {
  font-size: 24px;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  main .results .result .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  main .results .result .title {
    font-size: 16px;
  }
}

main .results .result a {
  display: block;
  margin-right: 20px;
}

main .results .result a:nth-last-child(1) {
  margin-right: 0px;
}

main .results .result a img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1200px) {
  main .results .result a img {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 1000px) {
  main .results .result a img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 500px) {
  main .results .result a img {
    width: 40px;
    height: 40px;
  }
}

main .results .result .price-text {
  font-size: 24px;
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  main .results .result .price-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  main .results .result .price-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  main .results .result .price-text {
    font-size: 18px;
  }
}
/*# sourceMappingURL=tools.css.map */