body {
  margin: 0px;
  padding: 0px;
  position: relative;
}

.view-size {
  width: 100%;
  max-width: 1920px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(245, 245, 245, 0.801);
  padding: 5px 0px;
  z-index: 50;
  color: #383838;
  letter-spacing: 1.5px;
  display: none;
}

.view-size.hide {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.container {
  width: 1200px;
  margin: auto;
}

a {
  color: initial;
  text-decoration: none;
}

main {
  max-width: 1920px;
  width: 100%;
}

main .header {
  font: normal normal normal 80px/94px Roboto;
  padding: 47px 0px 17px 0px;
  border-bottom: 2px solid #000000;
}

main .profile_information .pic img {
  width: 324px;
  height: 324px;
  margin: 48px 0px;
}

main .profile_information .all_information .title {
  border-bottom: 1px solid #000000;
  position: relative;
}

main .profile_information .all_information .title .text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font: normal normal normal 32px/43px Noto Sans;
  margin-right: 16px;
}

main .profile_information .all_information .title .small_title {
  font: normal normal medium 24px/28px Roboto;
  color: #A00404;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .profile_information .all_information .right {
  margin-top: 16px;
  padding-left: 24px;
  margin-left: 24px;
  border-left: 1px solid #96A9C4;
}

main .profile_information .all_information .content {
  margin-bottom: 72px;
}

main .profile_information .all_information .content .texts {
  font: normal normal normal 24px/36px Noto Sans;
  font-size: 20px;
}

main .profile_information .all_information .content .width {
  width: 642px;
}

main .profile_information .all_information .content .pics {
  margin: 8px 0px;
}

main .profile_information .all_information .content .pics img {
  width: 90px;
  height: 90px;
  display: block;
}

main .profile_information .all_information .content ul {
  margin: 0px;
  padding-top: 16px;
  margin-top: 8px;
  list-style: none;
}

main .profile_information .all_information .content ul li {
  font: normal normal normal 24px/36px Noto Sans;
  padding-bottom: 24px;
}

main .profile_information .all_information .content ul .no {
  padding-bottom: 0px;
}

main .informations {
  width: 100%;
  max-width: 1920px;
  background-color: #415165;
  color: #FFFFFF;
  margin-bottom: 72px;
}

main .informations:nth-last-child(1) {
  margin-bottom: 0px;
}

main .informations .smallcontainer {
  width: 996px;
  margin: 0px auto;
}

main .informations .container {
  padding-top: 24px;
  padding-bottom: 36px;
}

main .informations .container .title {
  text-align: center;
  font: normal normal medium 32px/45px PingFang TC;
  padding-bottom: 8px;
  border-bottom: 1px solid #FFFFFF;
}

main .informations .container .title span {
  font: normal normal medium 32px/45px PingFang TC;
  font-size: 28px;
}

main .informations .container .title .small {
  font-size: 24px;
}

main .informations .container .center {
  text-align: center;
  border-left: 0px;
  padding-left: 0px;
}

main .informations .container ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0px auto;
  margin-top: 40px;
  padding-left: 24px;
  border-left: 1px solid #96A9C4;
}

main .informations .container ul li {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
}

main .informations .container ul li:nth-last-child(1) {
  padding-bottom: 0px;
}

main .informations .container ul li a {
  color: #ffffff;
  cursor: pointer;
}

main .informations .container ul li a:hover {
  color: salmon;
  -webkit-transition: .4s;
  transition: .4s;
}

main .informations .container .icons {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-top: 16px;
}

main .informations .container .icons .icon {
  cursor: pointer;
}

main .informations .container .icons .icon:nth-child(2) {
  margin: 0px 24px;
}

main .informations .container .icons .icon img {
  width: 48px;
  height: 48px;
}
/*# sourceMappingURL=index.css.map */