body {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  padding: 30px  0px;
}

main .container {
  max-width: 1000px;
  width: 1000px;
  margin: 0px auto;
}

main .container .cart_steps {
  padding: 20px 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid gainsboro;
}

main .container .cart_steps .step {
  width: 15%;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #646464;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  padding: 15px 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

main .container .cart_steps .step.active {
  border: 2px solid #b3abab;
  color: #DF744A;
}

main .container .cart_steps .fa-angle-right {
  line-height: 90px;
  font-size: 22px;
  color: #8b8585;
  padding: 0px 20px;
}

main .container .back_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 30px;
}

main .container .back_home .back_home_text {
  font-size: 24px;
}

main .container .back_home .back_home_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px  20px;
  margin: 20px  auto;
  background-color: orange;
  border-radius: 5px;
  border: 2px solid orange;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

main .container .back_home .back_home_btn .fa-home {
  font-size: 20px;
  color: white;
  margin-left: 10px;
  z-index: 10;
  font-weight: 900;
}

main .container .back_home .back_home_btn:hover {
  background-color: white;
  color: orange;
  -webkit-transition: .6s;
  transition: .6s;
}

main .container .back_home .back_home_btn:hover .fa-home {
  color: orange;
  -webkit-transition: .6s;
  transition: .6s;
}

main .container .all_checkout_information .check_products {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .all_checkout_information .check_products .fa-check-square {
  color: #209420;
  font-size: 24px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

main .container .all_checkout_information .check_products .title {
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-left: 10px;
  font-weight: 600;
}

main .container .all_checkout_information .check_products_cntent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding-left: 0px;
  padding: 20px  8px;
  list-style: none;
  border-bottom: 1px solid gainsboro;
}

main .container .all_checkout_information .check_products_cntent ul:nth-child(1) {
  margin-top: 20px;
  padding: 6px 0px;
  border: 0px;
  background-color: #c1d2dd;
  border-radius: 3px;
}

main .container .all_checkout_information .check_products_cntent ul li {
  width: 40%;
  margin: 0px auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .container .all_checkout_information .check_products_cntent ul li:nth-last-child(1) {
  width: 15%;
}

main .container .all_checkout_information .check_products_cntent ul li:nth-last-child(2) {
  width: 15%;
}

main .container .all_checkout_information .check_products_cntent ul li .product_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .all_checkout_information .check_products_cntent ul li .product_name .pic {
  margin-right: 20px;
}

main .container .all_checkout_information .check_products_cntent ul li .product_name .pic img {
  width: 100px;
  height: 65px;
  border-radius: 3px;
  display: block;
}

main .container .all_checkout_information .check_products_cntent ul li .text {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

main .container .all_checkout_information .check_products_cntent ul li .fa-trash-alt {
  font-size: 18px;
  margin-left: 10px;
  color: gray;
  cursor: pointer;
}

main .container .all_checkout_information .check_products_cntent ul li .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .all_checkout_information .check_products_cntent ul li .texts .cost_text {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.5px;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  position: relative;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .mumber_text {
  margin-right: 15px;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber input {
  width: 120px;
  font-size: 18px;
  margin: 0px  20px;
  outline: none;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .numbers {
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  margin: 0px  15px;
  border: 1px solid gainsboro;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid gainsboro;
  cursor: pointer;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .a:hover {
  border: 1px solid gray;
  color: gray;
  -webkit-transition: .6s;
  transition: .6s;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .a:active {
  border: 1px solid gray;
  color: gray;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main .container .all_checkout_information .check_products_cntent ul li .show {
  display: none;
  font-size: 14px;
  color: #DF744A;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  font-weight: 600;
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .container .all_checkout_information .check_products_cntent ul li .show.active {
  display: block;
}

main .container .all_checkout_information .checkout {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: end;
}

main .container .all_checkout_information .checkout .top {
  margin-top: 20px;
}

main .container .all_checkout_information .checkout .low_shipping {
  font-size: 14px;
  color: orangered;
}

main .container .all_checkout_information .checkout .shipping_information {
  margin-left: auto;
}

main .container .all_checkout_information .checkout .shipping_information .transport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}

main .container .all_checkout_information .checkout .shipping_information .transport select {
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 5px;
  margin: 0px 10px;
  outline: none;
  border: 1px solid gainsboro;
}

main .container .all_checkout_information .checkout .checkout_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  padding: 4px 25px;
  margin-top: 30px;
  background-color: orange;
  border: 2px solid orange;
  border-radius: 3px;
  color: white;
  font-weight: 600;
}

main .container .all_checkout_information .checkout .checkout_btn:hover {
  background-color: white;
  color: orange;
  -webkit-transition: .6s;
  transition: .6s;
}
/*# sourceMappingURL=cc_cart_step1.css.map */