main{
    width: 1000px;
    margin: auto;
    padding: 30px  0px;
    // margin-bottom: 500px;
    .container{
        width: 1000px;
        margin: auto;
        // 購物流程步驟
        .cart_steps{
            padding: 20px 50px;
            padding-bottom: 50px;

            display: flex;
            justify-content: center;
            border-bottom: 1px solid gainsboro;
            // 單個流程
            .step{
                width: 15%;

                letter-spacing: 1.5px;
                font-weight: 600;
                color: rgb(100, 100, 100);
                text-align: center;
                font-size: 16px;
                line-height: 32px;

                padding: 15px 10px;

                border: 1px solid gainsboro;
                border-radius: 5px;
                &.active{
                    border: 2px solid rgb(179, 171, 171);
                    color: #DF744A;
                }
            }
            .fa-angle-right{
                line-height:90px ;
                font-size: 22px;
                color: rgb(139, 133, 133);

                padding: 0px 20px;
            }
        }
        
        .all_checkout_information{
            // 購物明細標題
            .check_products{
                padding-top: 30px;
                display: flex;
                .title{
                    font-size: 24px;
                    letter-spacing: 1.5px;
                    margin-left: 10px;
                    font-weight: 600;
                }
            }

            //  購物明細內容
             .check_products_cntent{
                ul{
                    display: flex;
                    align-items: center;

                    margin: 0px;
                    padding-left: 0px;
                    padding:20px  8px;

                    list-style: none;

                    border-bottom: 1px solid gainsboro;
                    &:nth-child(1){
                        margin-top: 20px;
                        padding: 6px 0px;

                        border: 0px;
                        background-color: #c1d2dd;
                        border-radius: 3px;
                    }
                    li{
                        width:40%;

                        margin:0px auto;

                        text-align: center;
                        font-size: 18px;
                        font-weight: 600 ;

                        display: flex;
                        justify-content: center;

                        position: relative;
                        &:nth-last-child(1){
                            width: 15%;
                        }
                        &:nth-last-child(2){
                            width: 15%;
                        }
                        // 品名
                        .product_name{
                            display: flex;
                            align-items: center;
                            // 產品圖
                            .pic{
                                margin-right: 20px;
                                img{
                                    width: 100px;
                                    height: 65px;

                                    border-radius: 3px;
        
                                    display: block;
                                }
                            }
                        }
                        .text{
                            font-size: 16px;
                            letter-spacing: 1.5px;
                            font-weight: 500;
                        }
                        .fa-trash-alt{
                            font-size: 18px;
                            margin-left: 10px;
                            color: gray;

                            cursor: pointer;
                        }
                        .texts{
                            display: flex;
                            align-items: center;
                            .cost_text{
                                font-weight:600;
                                font-size: 15px;
                                letter-spacing: 1.5px;
                            }
                        }
                     
                        .allnumber{
                            display: flex;
                            align-items: center;
                        
                            font-size: 16px;
                       
                            position: relative;
                            .mumber_text{
                                margin-right: 15px;
                            }
                            input{
                                width: 120px;

                                font-size: 18px;

                                margin: 0px  20px;
                                outline: none;
                            }
                            .numbers{
                                width: 80px;
                                height: 30px;

                                text-align: center;
                                font-size: 18px;
                               
                                margin: 0px  15px;
                            }
                            .a{
                                width: 30px;
                                height: 30px;

                                display: flex;
                                align-items: center;
                                justify-content: center;

                                font-size: 18px;
                                font-weight: 600;

                                border: 1px solid gainsboro;
                                cursor: pointer;
                                &:hover{
                                    border: 1px solid gray;

                                    color: gray;
                                    transition: .6s;
                                }
                                &:active{
                                    border: 1px solid gray;

                                    color: gray;
                                    transition: 0.1s;
                                }
                            }
                        }
                    }
                }
            }
            //  確認訂購商品下方文字
            .checkout{
                width: max-content;

                display: flex;
                flex-direction: column;

                margin-left: auto;
                padding: 16px 0px;

                font-size: 16px;
                font-weight: 600;
                letter-spacing: 1.5px;
                text-align: end;
            .top{
                margin-top: 16px;
                &:nth-child(1){
                    margin-top: 0px;
                }
            }
            .low_shipping{
                color: orangered;
            }
            .shipping_information{
                margin-left: auto;
                .transport{
                    display: flex;
                    line-height: 30px;
                    select{
                        width: 100px;
                        height: 30px;

                        text-align: center;
                        font-size: 16px;
                        font-weight: 600;

                        padding: 0px 5px;
                        margin: 0px 10px;

                        outline: none;
                        border: 1px solid gainsboro;
                    }
                }
            }
            }
        }
      
    }

    .order_information{
        width: 1000px;

        position: relative;

        margin:0px auto;
        padding: 30px  0px;
        padding-bottom: 45px;
        
        border-top: 1px solid gainsboro;
        border-bottom: 1px  solid gainsboro;
        // 提醒文字
        .remind_text{
            position: absolute;
            bottom:15px ;
            right: 10px;

            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.5px;
            color: orangered ;
        }
        .title{
            font-weight: 600;
            letter-spacing: 1.5px;

            margin-bottom: 20px;
            margin-top: 30px;

            display: flex;
            justify-content: center;
            align-content: flex-end;
            .text{
                font-size: 20px;
                font-size: 24px;
                margin-right: 5px;
            }
            .small_title{
                font-size: 14px;
                transform: translateY(10px);
            }
            // 同訂購人資料勾選框
            .form_check_input{
                border-radius: 3px;
            }
        }
        // 收件人資料內容
        .order_information_content{
            display: flex;
            flex-wrap: wrap;

            padding: 0px  8px;
            padding: 30px 140px;
            margin-bottom: 30px;

            border: 2px solid gainsboro;
            border-radius: 15px;
            // 單個欄位
            .contents{ 
                width: 100%;
        
                margin-bottom: 20px;
                &:nth-child(1){
                    margin-right: 0px;
                }
                &:nth-child(2){
                    margin-right: 0px;
                }
                &:nth-child(3){
                    width: 100%;
                    .informations{
                        input{
                            width: 650px;
                            border-radius: 5px;
                        }
                    }
                }
                &:nth-child(4){
                    width: 100%;
                    input{
                        width: 705px;
                        height: 32px;

                        outline: none;
                        border-radius:3px ;
                        border: 1px solid gainsboro;
                        border-radius: 5px;

                        margin-top: 10px;
                    }
                }
                &:nth-last-child(1){
                    margin-bottom: 0px;
                }
                // 收件人資料
                .informations{
                    display: flex;
                    .informations_title{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 32px;

                        margin-bottom: 0px;
                        margin-right: 10px;
                    }
                    input{
                        width: 220px;
                        height: 30px;

                        font-size: 16px;

                        padding: 0px 5px;

                        border: 1px  solid gainsboro;
                        border-radius: 5px;
                    }
                    select{
                        width: 200px;
                        height: 32px;

                        margin-right: 20px;

                        border: 1px solid gainsboro;
                    }
                    .input-style{
                        font-size: 16px;
                        outline: none;
                    }
                    .information_text{
                        font-size: 16px;
                        letter-spacing: 1px;
                        color: gray;

                        margin-top: 5px;
                    }
                }
                .information_small_text{
                    font-size: 14px;
                    letter-spacing: 1px;
                    color: gray;

                    margin-top: 5px;
                }
            }
        }
    }
    // 發票資訊
    .invoice_information{
        width: 1000px;

        position: relative;

        margin:0px auto;
        padding: 45px  8px;
        padding-bottom: 60px;

        border-bottom: 1px  solid gainsboro;
        .remind_text{
            position: absolute;
            bottom:15px  ;
            right: 10px;

            font-weight: 600;
            letter-spacing: 1.5px;
            font-size: 14px;
            color: #ff0000 ;
        }
        .title{
            // padding-left: 8px;
            letter-spacing: 1.5px;
            margin-bottom: 20px;
            .text{
                font-size: 24px;
                margin-right: 5px;
                font-weight: 600;
            }
            .small_title{
                color: gray;
                font-size: 14px;
                font-size: 500;
            }
        }
        .invoice_content{
            letter-spacing: 1.5px;
            margin: 30px 0px;
            // padding: 20px;
            // background-color: bisque;
            .small_title{
                font-size: 18px;
                font-weight: 600;
                margin-top: 30px;
                margin-bottom: 10px;
                padding-left: 12px;
            }
            .all_content{
                border: 1px solid rgb(184, 182, 182);
                .contents{
                    letter-spacing: 1.5px;
                    border-bottom: 1px solid rgb(184, 182, 182);
                    &:nth-last-child(1){
                        border-bottom: 0px;
                    }
                    .content{
                        display: flex;
                        border-bottom: 1px solid rgb(184, 182, 182);
                        &:nth-last-child(1){
                            border-bottom: 0px;
                        }
                        .name{
                            width: 30%;
                            background-color: #c1d2dd;
                            padding: 10px  8px;
                            .invoice{
                                font-size: 16px;
                                font-weight: 600;
                                .small_text{
                                    color: rgb(90, 90, 90);
                                    margin-top: 5px;
                                    padding-left: 24px;
                                }
                            }
                        }
                       
                    }
                    .invoice_information_text{
                        padding: 15px 8px;
                        font-size: 14px;
                        .color{
                           color: orange;
                           font-weight: 600;
                        }
                        .top{
                            margin-top: 15px;
                        }
                        .small_text{
                            margin-top: 5px;
                           

                            color: gray;
                        }
                        .bt{
                            margin-bottom: 15px;
                        }
                        .input{
                            display: flex;
                            .input_text{
                                font-size: 16px;
                                line-height: 36px;
                                font-weight: 600;
                            }
                            input{
                                width: 300px;
                                height: 30px;
                                outline: none;
                                border: 1px  solid gainsboro;
                                font-size: 16px;
                                border-radius: 3px;
                            }
                            select{
                                width: 150px;
                                outline: none;
                                border: 1px  solid gainsboro;
                                font-size: 16px;
                                font-weight: 600;
                                padding: 0px 8px;
                                padding-left: 8px;
                            }
                            .big{
                                width: 500px;
                            }
                        }
                    }
                }
            }
        }
    }
    .pay_information{
        padding: 30px  8px;
        .title{
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom:20px ;
        }
        .information_content{
            .pays{
                font-size: 16px;
                padding: 6px 5px;
                border: 1px  solid gainsboro;
                border-radius: 30px;
                margin-bottom: 10px;
                letter-spacing: 1.5px;
               .form_check_label{
                   font-weight: 600;
               }
               .text{
                    padding-left: 5px;
               }
               .red{
                    color: #ff0000;
                    font-size: 20px;
                }
                .gray{
                    color: gray;
                }
            }
            .btns{
                display: flex;
                padding: 15px 8px;
                margin-left: auto;
                margin-top: 30px;
                // width: max-content;
                justify-content: space-between;
                letter-spacing: 1.5px;
                .btn{
                    width: max-content;
                    padding: 6px 22px;
                    border-radius: 3px;
                    font-size: 18px;
                    // margin-left: 20px;
                    color: white;
                    font-weight: 600;
                    &.active{
                        background-color: orange;
                    }
                }
                .prev{
                    background-color: gray;
                    border: 2px solid gray;
                    &:hover{
                        transition: .4s;
                        background-color: white;
                        color: gray;
                    }
                }
                .next{
                    background-color: orange;
                    border: 2px solid orange;
                    &:hover{
                        transition: .4s;
                        background-color: white;
                        color: orange;
                    }
                }
                
            }
            .btn_text{
                text-align: center;
                
                .text{
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    color: #ff0000;
                }
            }
        }
    }
    .credit_card_back{
        background-color: #c1d2dd;
        padding: 20px 15px;
        border-radius: 10px;
        .small{
            font-size: 16px;
            color: orangered;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }
        .title{
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }
        .content{
            letter-spacing: 2px;
            .small_title{
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 16px;
            }
            .texts{
                font-size: 16px;
                font-weight: 600;
                padding-left: 5px;
                margin-left: 25px;
                border-left: 5px solid #DF744A;
                margin-bottom: 15px;
            }
            .text{
                font-size: 14px;
                margin-bottom: 15px;
                margin-left: 25px;
            }
            .btn{
                width: max-content;
                margin-top: 10px;
                margin: auto;
                padding: 6px 25px;
                font-size: 16px;
                font-weight: 600;
                color: white;
                background-color: orange;
            }
        }
    }
}