body {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 1000px;
  margin: 0px auto;
  padding: 30px  0px;
}

main .container {
  width: 1000px;
  margin: 0px auto;
}

main .container .cart_steps {
  padding: 20px 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid gainsboro;
}

main .container .cart_steps .step {
  width: 15%;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #646464;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  padding: 15px 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

main .container .cart_steps .step.active {
  border: 2px solid #b3abab;
  color: #DF744A;
}

main .container .cart_steps .fa-angle-right {
  line-height: 90px;
  font-size: 22px;
  color: #8b8585;
  padding: 0px 20px;
}

main .container .all_checkout_information .check_products {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .all_checkout_information .check_products .title {
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-left: 10px;
}

main .container .all_checkout_information .check_products_cntent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
  padding-left: 0px;
  padding: 20px  8px;
  list-style: none;
  border-bottom: 1px solid gainsboro;
}

main .container .all_checkout_information .check_products_cntent ul:nth-child(1) {
  margin-top: 20px;
  padding: 6px 0px;
  border: 0px;
  background-color: #c1d2dd;
  border-radius: 3px;
}

main .container .all_checkout_information .check_products_cntent ul li {
  width: 40%;
  margin: 0px auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .container .all_checkout_information .check_products_cntent ul li:nth-last-child(1) {
  width: 15%;
}

main .container .all_checkout_information .check_products_cntent ul li:nth-last-child(2) {
  width: 15%;
}

main .container .all_checkout_information .check_products_cntent ul li .product_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .all_checkout_information .check_products_cntent ul li .product_name .pic {
  margin-right: 20px;
}

main .container .all_checkout_information .check_products_cntent ul li .product_name .pic img {
  width: 100px;
  height: 65px;
  border-radius: 3px;
  display: block;
}

main .container .all_checkout_information .check_products_cntent ul li .text {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

main .container .all_checkout_information .check_products_cntent ul li .fa-trash-alt {
  font-size: 18px;
  margin-left: 10px;
  color: gray;
  cursor: pointer;
}

main .container .all_checkout_information .check_products_cntent ul li .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .all_checkout_information .check_products_cntent ul li .texts .cost_text {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.5px;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  position: relative;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .mumber_text {
  margin-right: 15px;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber input {
  width: 120px;
  font-size: 18px;
  margin: 0px  20px;
  outline: none;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .numbers {
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  margin: 0px  15px;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .a {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid gainsboro;
  cursor: pointer;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .a:hover {
  border: 1px solid gray;
  color: gray;
  -webkit-transition: .6s;
  transition: .6s;
}

main .container .all_checkout_information .check_products_cntent ul li .allnumber .a:active {
  border: 1px solid gray;
  color: gray;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

main .container .all_checkout_information .checkout {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  padding: 16px 0px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: end;
}

main .container .all_checkout_information .checkout .top {
  margin-top: 16px;
}

main .container .all_checkout_information .checkout .top:nth-child(1) {
  margin-top: 0px;
}

main .container .all_checkout_information .checkout .low_shipping {
  color: orangered;
}

main .container .all_checkout_information .checkout .shipping_information {
  margin-left: auto;
}

main .container .all_checkout_information .checkout .shipping_information .transport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 30px;
}

main .container .all_checkout_information .checkout .shipping_information .transport select {
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 5px;
  margin: 0px 10px;
  outline: none;
  border: 1px solid gainsboro;
}

main .order_information {
  width: 1000px;
  position: relative;
  margin: 0px auto;
  padding: 30px  0px;
  padding-bottom: 45px;
  border-top: 1px solid gainsboro;
  border-bottom: 1px  solid gainsboro;
}

main .order_information .remind_text {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: orangered;
}

main .order_information .title {
  font-weight: 600;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

main .order_information .title .text {
  font-size: 20px;
  font-size: 24px;
  margin-right: 5px;
}

main .order_information .title .small_title {
  font-size: 14px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

main .order_information .title .form_check_input {
  border-radius: 3px;
}

main .order_information .order_information_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px  8px;
  padding: 30px 140px;
  margin-bottom: 30px;
  border: 2px solid gainsboro;
  border-radius: 15px;
}

main .order_information .order_information_content .contents {
  width: 100%;
  margin-bottom: 20px;
}

main .order_information .order_information_content .contents:nth-child(1) {
  margin-right: 0px;
}

main .order_information .order_information_content .contents:nth-child(2) {
  margin-right: 0px;
}

main .order_information .order_information_content .contents:nth-child(3) {
  width: 100%;
}

main .order_information .order_information_content .contents:nth-child(3) .informations input {
  width: 650px;
  border-radius: 5px;
}

main .order_information .order_information_content .contents:nth-child(4) {
  width: 100%;
}

main .order_information .order_information_content .contents:nth-child(4) input {
  width: 705px;
  height: 32px;
  outline: none;
  border-radius: 3px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-top: 10px;
}

main .order_information .order_information_content .contents:nth-last-child(1) {
  margin-bottom: 0px;
}

main .order_information .order_information_content .contents .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .order_information .order_information_content .contents .informations .informations_title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0px;
  margin-right: 10px;
}

main .order_information .order_information_content .contents .informations input {
  width: 220px;
  height: 30px;
  font-size: 16px;
  padding: 0px 5px;
  border: 1px  solid gainsboro;
  border-radius: 5px;
}

main .order_information .order_information_content .contents .informations select {
  width: 200px;
  height: 32px;
  margin-right: 20px;
  border: 1px solid gainsboro;
}

main .order_information .order_information_content .contents .informations .input-style {
  font-size: 16px;
  outline: none;
}

main .order_information .order_information_content .contents .informations .information_text {
  font-size: 16px;
  letter-spacing: 1px;
  color: gray;
  margin-top: 5px;
}

main .order_information .order_information_content .contents .information_small_text {
  font-size: 14px;
  letter-spacing: 1px;
  color: gray;
  margin-top: 5px;
}

main .invoice_information {
  width: 1000px;
  position: relative;
  margin: 0px auto;
  padding: 45px  8px;
  padding-bottom: 60px;
  border-bottom: 1px  solid gainsboro;
}

main .invoice_information .remind_text {
  position: absolute;
  bottom: 15px;
  right: 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 14px;
  color: #ff0000;
}

main .invoice_information .title {
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}

main .invoice_information .title .text {
  font-size: 24px;
  font-weight: 600;
  margin-right: 5px;
}

main .invoice_information .title .small_title {
  color: gray;
  font-size: 14px;
  font-size: 500;
}

main .invoice_information .invoice_content {
  letter-spacing: 1.5px;
  margin: 30px 0px;
}

main .invoice_information .invoice_content .small_title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 12px;
}

main .invoice_information .invoice_content .all_content {
  border: 1px solid #b8b6b6;
}

main .invoice_information .invoice_content .all_content .contents {
  letter-spacing: 1.5px;
  border-bottom: 1px solid #b8b6b6;
}

main .invoice_information .invoice_content .all_content .contents:nth-last-child(1) {
  border-bottom: 0px;
}

main .invoice_information .invoice_content .all_content .contents .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #b8b6b6;
}

main .invoice_information .invoice_content .all_content .contents .content:nth-last-child(1) {
  border-bottom: 0px;
}

main .invoice_information .invoice_content .all_content .contents .content .name {
  width: 30%;
  background-color: #c1d2dd;
  padding: 10px  8px;
}

main .invoice_information .invoice_content .all_content .contents .content .name .invoice {
  font-size: 16px;
  font-weight: 600;
}

main .invoice_information .invoice_content .all_content .contents .content .name .invoice .small_text {
  color: #5a5a5a;
  margin-top: 5px;
  padding-left: 24px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text {
  padding: 15px 8px;
  font-size: 14px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .color {
  color: orange;
  font-weight: 600;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .top {
  margin-top: 15px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .small_text {
  margin-top: 5px;
  color: gray;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .bt {
  margin-bottom: 15px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input .input_text {
  font-size: 16px;
  line-height: 36px;
  font-weight: 600;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input input {
  width: 300px;
  height: 30px;
  font-size: 16px;
  outline: none;
  border: 1px  solid gainsboro;
  border-radius: 3px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input select {
  width: 150px;
  outline: none;
  border: 1px  solid gainsboro;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 8px;
  padding-left: 8px;
}

main .invoice_information .invoice_content .all_content .contents .invoice_information_text .input .big {
  width: 500px;
}

main .pay_information {
  padding: 30px  8px;
}

main .pay_information .title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

main .pay_information .information_content .pays {
  font-size: 16px;
  padding: 6px 5px;
  border: 1px  solid gainsboro;
  border-radius: 30px;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

main .pay_information .information_content .pays .form_check_label {
  font-weight: 600;
}

main .pay_information .information_content .pays .text {
  padding-left: 5px;
}

main .pay_information .information_content .pays .red {
  color: #ff0000;
  font-size: 20px;
}

main .pay_information .information_content .pays .gray {
  color: gray;
}

main .pay_information .information_content .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 8px;
  margin-left: auto;
  margin-top: 30px;
  letter-spacing: 1.5px;
}

main .pay_information .information_content .btns .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 6px 22px;
  border-radius: 3px;
  font-size: 18px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

main .pay_information .information_content .btns .prev {
  background-color: gray;
  border: 2px solid gray;
  -webkit-box-shadow: -3px -3px 5px inset #5c5c5c;
          box-shadow: -3px -3px 5px inset #5c5c5c;
}

main .pay_information .information_content .btns .prev:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-color: white;
  color: gray;
  -webkit-box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.6);
          box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.6);
}

main .pay_information .information_content .btns .next {
  background-color: orange;
  border: 2px solid orange;
  -webkit-box-shadow: -3px -3px 5px inset #d68c01;
          box-shadow: -3px -3px 5px inset #d68c01;
}

main .pay_information .information_content .btns .next:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-color: white;
  color: orange;
  -webkit-box-shadow: 3px 3px 5px rgba(214, 139, 1, 0.6);
          box-shadow: 3px 3px 5px rgba(214, 139, 1, 0.6);
}

main .pay_information .information_content .btn_text {
  text-align: center;
}

main .pay_information .information_content .btn_text .text {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: #ff0000;
}

main .credit_card_back {
  background-color: #c1d2dd;
  border-radius: 10px;
  -webkit-box-shadow: -10px -10px 10px inset #bdc9d1;
          box-shadow: -10px -10px 10px inset #bdc9d1;
  padding: 20px 15px;
  color: #383838;
  display: none;
  opacity: 0;
}

main .credit_card_back.show {
  display: block;
  opacity: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

main .credit_card_back .small {
  font-size: 16px;
  color: orangered;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

main .credit_card_back .title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

main .credit_card_back .content {
  letter-spacing: 2px;
}

main .credit_card_back .content .small_title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}

main .credit_card_back .content .texts {
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px;
  margin-left: 25px;
  margin-bottom: 15px;
  border-left: 5px solid #DF744A;
}

main .credit_card_back .content .text {
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 28px;
}

main .credit_card_back .content .text br {
  display: block;
  content: " ";
  margin-top: 5px;
}

main .credit_card_back .content .btn {
  width: 100%;
  max-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto;
  padding: 2px 25px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: orange;
  border: 2px solid orange;
  border-radius: 3px;
  -webkit-box-shadow: -1px -1px 5px inset #d68b01;
          box-shadow: -1px -1px 5px inset #d68b01;
  cursor: pointer;
}

main .credit_card_back .content .btn:hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px 5px rgba(214, 139, 1, 0.6);
          box-shadow: 1px 1px 5px rgba(214, 139, 1, 0.6);
  color: orange;
  -webkit-transition: .6s;
  transition: .6s;
}
/*# sourceMappingURL=cc_cart_step2.css.map */