body {
  margin: 0px;
  padding: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 1000px;
  margin: 0px auto;
  padding: 30px  0px;
}

main .cart_steps {
  padding: 20px 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid gainsboro;
}

main .cart_steps .step {
  width: 15%;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #646464;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  padding: 15px 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
}

main .cart_steps .step.active {
  border: 2px solid #b3abab;
  color: #DF744A;
}

main .cart_steps .fa-angle-right {
  line-height: 90px;
  font-size: 22px;
  color: #8b8585;
  padding: 0px 20px;
}

main .complete_information {
  margin-top: 30px;
  padding: 0px 50px;
}

main .complete_information .big_text {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  padding: 10px 30px;
  margin: 0px auto;
  background-color: orange;
  border-radius: 5px;
}

main .complete_information .big_text .text {
  font-size: 24px;
  font-weight: 600;
  color: white;
  line-height: 36px;
}

main .complete_information .texts {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 36px;
  border-radius: 5px;
  background-color: #f0efef;
  margin: 48px  0px;
  padding: 20px 30px;
}

main .complete_information .texts .text {
  line-height: 28px;
}

main .complete_information .texts .text .color {
  font-size: 24px;
  color: orangered;
}

main .complete_information .texts .small_text {
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 16px;
  color: orangered;
  margin-top: 10px;
}

main .pay_information {
  padding: 30px;
  border: 2px solid gainsboro;
  border-radius: 8px;
}

main .pay_information .title {
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: 600;
}

main .pay_information .content {
  margin-top: 20px;
}

main .pay_information .content ul {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

main .pay_information .content ul li {
  padding: 16px 0px;
  letter-spacing: 1.5px;
  border-bottom: 1px  solid gainsboro;
}

main .pay_information .content ul li:nth-last-child(1) {
  border-bottom: 0px;
}

main .pay_information .content ul li .text {
  font-size: 16px;
  padding-right: 5px;
}

main .pay_information .content ul li .title {
  padding-left: 8px;
  padding-right: 30px;
  font-weight: 500;
}

main .pay_information .content ul li .pay-btn {
  color: white;
  font-weight: 600;
  padding: 4px 10px;
  background-color: orange;
  border-radius: 3px;
  border: 1px solid orange;
  -webkit-box-shadow: -1px -1px 1px inset #d68c02;
          box-shadow: -1px -1px 1px inset #d68c02;
  cursor: pointer;
}

main .pay_information .content ul li .pay-btn:hover {
  background-color: white;
  -webkit-box-shadow: -1px -1px 1px inset rgba(255, 166, 0, 0.6);
          box-shadow: -1px -1px 1px inset rgba(255, 166, 0, 0.6);
  color: orange;
  -webkit-transition: .6s;
  transition: .6s;
}

main .pay_information .content ul li .color {
  color: orange;
  font-weight: 600;
}

main .order_information {
  margin-top: 40px;
}

main .order_information .check_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .order_information .check_products .fa-check-square {
  color: #209420;
  font-size: 24px;
}

main .order_information .check_products .title {
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-left: 10px;
}

main .order_information .check_products_cntent ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px  0px;
  margin: 0px;
  padding-left: 0px;
  list-style: none;
  border-bottom: 1px solid gainsboro;
}

main .order_information .check_products_cntent ul:nth-child(1) {
  margin-top: 20px;
  padding: 6px 0px;
  background-color: #c1d2dd;
  border-radius: 3px;
}

main .order_information .check_products_cntent ul:nth-child(1) li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .order_information .check_products_cntent ul li {
  width: 40%;
  margin: 0px auto;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

main .order_information .check_products_cntent ul li:nth-child(1) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 20px;
  text-align: initial;
}

main .order_information .check_products_cntent ul li:nth-last-child(1) {
  width: 15%;
}

main .order_information .check_products_cntent ul li:nth-last-child(2) {
  width: 15%;
}

main .order_information .check_products_cntent ul li .product_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .order_information .check_products_cntent ul li .product_name .small_text {
  margin-bottom: 5px;
}

main .order_information .check_products_cntent ul li .product_name .small_text .texts {
  font-size: 13px;
  color: gray;
  padding-top: 5px;
}

main .order_information .check_products_cntent ul li .product_name .small_text .texts br {
  display: block;
  content: " ";
  margin-top: 3px;
}

main .order_information .check_products_cntent ul li .text {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 500;
}

main .order_information .check_products_cntent ul li .cost_text {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.5px;
}

main .order_information .checkout {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: end;
  padding-bottom: 20px;
}

main .order_information .checkout .top {
  margin-top: 20px;
}

main .order_information .checkout .checkout_text .number {
  font-size: 24px;
  color: #ff0000;
}

main .user_information {
  padding: 0px  8px;
  padding: 30px;
  margin-top: 30px;
  border: 2px solid gainsboro;
  border-radius: 8px;
}

main .user_information .title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 10px;
}

main .user_information .content ul {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  letter-spacing: 1.5px;
}

main .user_information .content ul li {
  padding: 15px 0px;
  border-bottom: 1px solid gainsboro;
}

main .user_information .content ul li:nth-last-child(1) {
  border-radius: 0px;
}

main .user_information .content ul li .text {
  font-size: 16px;
  padding-right: 20px;
  font-weight: 600;
}

main .user_information .other_text {
  padding-top: 30px;
  letter-spacing: 1.5px;
  padding-bottom: 30px;
}

main .user_information .other_text .text {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}

main .user_information .other_text .text .color {
  color: orange;
  cursor: pointer;
}

main .back_home_btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px  20px;
  margin: 30px  auto;
  background-color: orange;
  border: 2px solid orange;
  -webkit-box-shadow: -4px -4px 5px inset #d38b02;
          box-shadow: -4px -4px 5px inset #d38b02;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

main .back_home_btn .fa-home {
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-left: 10px;
  z-index: 10;
}

main .back_home_btn:hover {
  background-color: white;
  -webkit-box-shadow: 4px 4px 5px rgba(255, 166, 0, 0.4);
          box-shadow: 4px 4px 5px rgba(255, 166, 0, 0.4);
  color: orange;
  -webkit-transition: .6s;
  transition: .6s;
}

main .back_home_btn:hover .fa-home {
  color: orange;
  -webkit-transition: .6s;
  transition: .6s;
}
/*# sourceMappingURL=cc_cart_step4.css.map */