.texts{
    margin-bottom: 16px;
    &:nth-child(1){
        margin-bottom: 0px;
    }
    @media all and (max-width: 1000px) {
        margin-top: 8px;
    }
    // 產品介紹小標
    .small-title{
        width: 100%;
       
        display: flex;
        align-items: center;

        padding-bottom: 8px;

        border-bottom: 1px solid gainsboro;
        .small-title-text{
            font-size: 20px;
            font-weight: 600;
            
            padding-left: 8px;
            border-left: 8px solid salmon;
            @media all and (max-width: 600px) {
                font-size: 18px;
            }
        }
    }
    .text{
        border-top: 1px solid gainsboro;
        padding: 8px 0px;

        display: flex;
        flex-wrap: wrap;
        &:nth-child(1){
            border-top: 0px;
        }
        // 產品名稱大標
        .font-600{
            font-weight: 600;
            color: rgb(46, 46, 46);
        }
        // 產品介紹紅色文字
        .color-red{
            color:orangered;
        }
        // 產品介紹右邊間距
        .margin-right{
            margin-right: 5px;
        }
    }
    
    .product-text{
        padding-top: 8px;
        font-size: 16px;
        line-height: 28px;
        color: rgb(73, 73, 73);
        ;
        display: flex;
        flex-wrap: wrap;
      
        @media all and (max-width: 1400px) {
            font-size: 16px;
            line-height: 24px;
        }
        @media all and (max-width: 700px) {
            font-size: 14px;
            line-height: 20px;
            
        } 
    }
}