// color

$white: white;
$light-blue-01:#c1d2dd;

// nav背景色
$light-blue-02:#e7f2fa;

// 首頁大標藍色文字 小標內文
$gray-blue:#7089a8;

// 首頁品牌形象小標文字
$dark-blue-01:#687A8F;

// 最新消息hover背景
$dark-blue-02:#c1d2dd;

// .swiper-pagination-bullet
$dark-blue-03: rgb(36, 49, 71);




// 品牌形象大標文字
$dark-brown-01:#7a4921;

// 最新消息文字
$dark-brown-02:#a76834;

$border-gray:gainsboro;

// --------------------------------------------------------------------------------------------------------

// background-image-color

// 最新消息背景
$light-blue-bg:linear-gradient(to top, #d9e3e9 0%, #eff4f7 100%);
// 品牌背景
$light-pink-bg:linear-gradient(to right, #ffecd2 0%, rgb(248, 221, 211) 100%);

// --------------------------------------------------------------------------------------------------------

// font

// famiy
$font-family:'Noto Sans TC', 'Noto Sans JP','Lato',sans-serif;

// size
$font-2px:2px;
$font-3px:3px;
$font-8px:8px;
$font-12px:12px;
$font-14px:14px;
$font-16px:16px;
$font-18px:18px;
$font-20px:20px;
$font-22px:22px;
$font-24px:24px;

// weight
$font-500:500;
$font-600:600;
$font-700:700;
$font-800:800;

// --------------------------------------------------------------------------------------------------------

// px
$px-02:2px;
$px-03:3px;
$px-05:5px;
$px-08:8px;
$px-10:10px;
$px-12:12px;

// --------------------------------------------------------------------------------------------------------

// transition
$transition-8s:.8s;
$transition-6s:.6s;
$transition-4s:.4s;

// --------------------------------------------------------------------------------------------------------

// opacity
$opacity-9:.9;
$opacity-8:.8;
$opacity-7:.7;
$opacity-6:.6;
$opacity-5:.5;
$opacity-4:.4;

// --------------------------------------------------------------------------------------------------------

// initial body
body{
    margin: 0px;
    padding: 0px;
    background-image: url(../image/background/背景.png);
}

*{
    box-sizing: border-box;
}

main{
    max-width: 1920px;
    width: 100%;
    margin: auto;
}

.mycontainer{
    width: 1000px;
    margin: auto;
}

// initial img
img{
    display: block;
}


// initial a
a{
    display: block;
    text-decoration: none;
    color: black;
}

.border-top{
    border-top: 1px solid $border-gray;
}

.border-bottom{
    border-bottom: 1px solid $border-gray;
}

// 首頁標題
.index-title{
    padding: $px-08*4 0px;
    .big-title{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .title-text{
            font-size: $font-18px*2;
            letter-spacing: $px-02*2;
            font-weight: $font-600;
            color:$gray-blue;
            background-image: url(../image/background/背景.png);
            padding: 0px $px-10*3;
            z-index: 3;
        }
        .title-border{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width:100%  ;
            height: $px-02;
            background-color:$gray-blue;         
        }
    }
    .brand-small-title{
        font-size: $font-20px;
        font-weight: $font-600;
        letter-spacing:  $px-02;
        margin-bottom: $px-05*3;
        color:$gray-blue;
        text-align: center;
    }
}










