@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px;
  background-image: url(../image/background/背景.png);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  width: 100%;
}

main {
  max-width: 1920px;
  padding: 32px 0px;
  margin: auto;
}

.mycontainer {
  width: 1000px;
  margin: auto;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

.border-top {
  border-top: 1px solid gainsboro;
}

.border-bottom {
  border-bottom: 1px solid gainsboro;
}

.index-title {
  padding: 32px 0px;
}

.index-title .big-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.index-title .big-title .title-text {
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: 600;
  color: #7089a8;
  background-image: url(../image/background/背景.png);
  padding: 0px 30px;
  z-index: 3;
}

.index-title .big-title .title-border {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #7089a8;
}

.index-title .brand-small-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #7089a8;
  text-align: center;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0px !important;
  width: 100%;
}

nav {
  background-color: #f5f1de;
  background-image: -webkit-gradient(linear, left top, right top, from(#f5f1de), to(#F2F0CE));
  background-image: linear-gradient(to right, #f5f1de 0%, #F2F0CE 100%);
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0px;
  z-index: 99;
  -webkit-box-shadow: 8px  0px 15px #cfccbf;
          box-shadow: 8px  0px 15px #cfccbf;
  margin: auto;
}

nav .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px 0px;
  position: relative;
}

nav .navbar-content a {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

nav .navbar-content a .logo {
  width: 240px;
}

nav .navbar-content .navbar-toggler {
  width: 50px;
  height: 50px;
}

nav .navbar-content .navbar-collapse {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: max-content;
  margin: auto;
  right: 0px;
  bottom: 10px;
  padding-top: 8px;
}

nav .navbar-content .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #7089a8;
  color: #868786;
  padding: 0px 16px;
  margin-left: 16px;
}

nav .navbar-content .navbar-collapse .navbar-nav .nav-item .dropdown-menu.show {
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-image: url(../image/background/nav1.png);
  top: 36px;
  z-index: 99 !important;
}

nav .navbar-content .navbar-collapse .navbar-nav .nav-item .dropdown-menu a {
  display: block;
}

nav .navbar-content .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 0px;
  margin: 0px auto;
}

footer {
  max-width: 1920px;
  padding-top: 15px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.445);
  background-color: rgba(128, 128, 128, 0.301);
  background-color: #e7f2fa;
  background-image: url(../image/background/nav1.png);
}

footer .content {
  margin: auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .content ul {
  font-size: 15px;
  width: 20%;
  list-style: none;
  text-align: center;
  font-weight: 600;
  padding: 1px 0px;
  color: rgba(0, 0, 0, 0.753);
  margin-bottom: 5px;
  letter-spacing: 3px;
}

footer .content ul:nth-last-child(1) {
  border-right: 0px;
}

footer .content ul li {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.853);
  padding: 2px  12px;
  letter-spacing: 2px;
}

footer .content ul li:nth-child(1) {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid gainsboro;
}

footer .icons {
  margin: auto;
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px  0px;
}

footer .icons .icon {
  font-size: 34px;
  padding: 0px  25px;
  color: #415a7a;
}

footer .icons .icon .fa-phone-volume {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

footer .elses {
  width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px  0px;
}

footer .elses .else {
  font-size: 12px;
  padding: 3px 10px;
  letter-spacing: 1.5px;
}

footer .copyright {
  margin: auto;
  width: 100%;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  padding: 5px  0px;
}
/*# sourceMappingURL=01-template.css.map */