@import"./00-style-guide.scss";

main{
    // 首頁輪播banner長寬比例993/436 =>1000/439
    .banner{
        .swiper-container {
            height: 439px;
            .swiper-wrapper{
                // 每張輪播圖
                .swiper-slide{
                    img{
                        width: 100%;
                        height: 100%;

                        border-radius: $px-05*2;
                        &:hover{
                            opacity: $opacity-9;
                        }
                    }
                }
            }
            // 三角形按鈕
            .color::after{
                font-size: $font-12px*2;
                font-weight: $font-600;
            }
            .swiper-pagination{
                font-size: $font-14px;
                font-weight: $font-600;
            }
            .swiper-pagination-bullet{
                background-color: $dark-blue-03;
            }
            .swiper-pagination-bullet-active{
                background-color: $white;
            }
            .color{
                padding: 0px $px-03;

                color: $white;
                background-color: $white;
            }
            .next{
                clip-path: polygon(80% 50%, 0 15%, 0 85%);
            }
            .prev{
                clip-path: polygon(20% 50%, 100% 15%, 100% 85%);
            }
        }
    }

    // 關於我們
    .brand{
        margin: auto;
        text-align: center;
        // 上方大標文字內容
        .brand-concept-text{
            color:$dark-brown-01;
            font-weight: $font-600;
            .text{
                font-size: $font-22px;
                padding-bottom: $px-08;
                letter-spacing: $px-05;
            }
        }
        // 創新、品質、技術、回饋
        .brand-concept-informations{
            padding: 0px $px-08*2;
            padding-top: $px-05*9;
            // 單個描述
            .brand-concept{
                width: 70%;
                height: $px-10*18;

                background-image: $light-pink-bg;

                border-radius: 120px;
                margin-bottom:$px-12*6;

                display: flex;
                position: relative;
               
                &:nth-child(2n){
                    margin-left:auto ;
                }
                // 左方圖片
                .brand-pic{
                    width: 300px;
                    height: 180px;

                    position: absolute;
                    left: 0px;
                    transform: scale(1.1);
                    img{
                        width: 100%;
                        height: 100%;
                        
                        border-radius: 120px;
                        z-index: 2;
                        box-shadow:8px 8px 15px rgba(185, 185, 185, 0.6);
                    }
                }
                // 右方文字
                .brand-concept-content{
                    padding:$px-08*3  $px-10*3 $px-08 $px-10*34;
                    // 小標
                    .brand-small-title{
                        width: max-content;
                        padding-left: $px-08;
                        color: $dark-blue-01;

                        border-left: $px-08 solid $light-blue-01;
                        font-size: $font-16px*2;
                        font-weight: $font-600;
                    }
                    // 文字內容
                    .brand-small-text{
                        font-size: $font-20px;
                        font-weight: $font-600;
                        letter-spacing: 1.5px;

                        text-align: left;
                        line-height: 32px;
                        color:  $dark-blue-01;

                        padding-top:$px-08 ;
                    }
                }
               
            }
        }
    }

    // 最新消息
    .news-information{
        .news-content{
            width: 100%;
            padding:0px $px-12*3;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            // 最新消息內容
            .new{
                width: calc(50% - 15px);

                position: relative;

                font-size:$font-18px;
                font-weight: $font-600;
                letter-spacing: 2.5px;

                padding: $px-12*2 $px-12*2;
                padding-bottom: $px-10*8;
                margin-bottom: $px-10*3;
                border-radius:$px-08;
 
                background-image: linear-gradient(to top, #d9e3e9 0%, #eff4f7 100%);
                color: $dark-blue-03;

                clip-path: polygon(0 0, 100% 0%, 100% 84%, 16% 84%, 6% 100%, 8% 84%, 0 84%);
                .date{
                    height: max-content;
                    width: max-content;

                    font-size: $font-14px;
                    font-size:$font-16px;
                    letter-spacing: 1.5px;

                    background-color: rgba(255, 255, 255, 0.884);
                    color: $dark-blue-01;

                    position: absolute;
                    bottom: 35px;
                    right: 10px;
                    
                    padding: 5px 20px;
                    border-radius: 15px;
                }
            }
        }
    }

    // 店鋪資訊
    .address-information{
      
        .address-information-content{
            display: flex;
            padding: 0px $px-08;
            .address-pic{
                margin-right:$px-10*3;
                img{
                    width:550px;
                    border-radius: 16px;
                    box-shadow: 8px 8px 15px rgba(36, 36, 36, 0.3);
                }
            }
            .address-contents{
                width: calc(100% - 550px);

                .address-content{
                    color: $dark-blue-03;
                    border-radius: 5px;
                    height: max-content;
                    padding-bottom: $px-12;
                    

                   .address-small-title{
                        font-size:$font-24px;
                        font-weight: $font-600;
                        letter-spacing: 1px;
                    }
                    .address-texts{
                        
                        .address-text{
                            font-weight: $font-600;
                            font-size: $font-14px;
                            font-size: $font-16px;
                            letter-spacing: 1px;
                            padding-top: $px-08;
                            line-height: 24px;
                        }                
                    }
                }
                .map{
                    width: 100%;
                    height: 320px;
                    border-radius: 5px;
                    box-shadow: 5px 5px 10px rgba(32, 32, 32, 0.3);
                }
            }
          



            
           
         
            
        }
       
     
       
    }
}


