*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

.mycontainer{
    max-width: 1600px;
    margin: auto;
    @media screen and(max-width: 1650px) {
        max-width: calc(100% - 160px);
    }
    @media screen and(max-width: 1280px) {
        max-width: calc(100% - 120px);
    }
    @media screen and(max-width:859px) {
        max-width: calc(100% - 80px);
    }
}


// nav

// 限制內容寬度
#navbarSupportedContent{
    width: 1600px;

    margin: auto;
}

// 下拉式選單不被覆蓋
.navbar.active{
    position: fixed;
    z-index: 99;
}

nav{
    max-width: 1920px;
    width: 100%;

    background-color: #D9CEC5;

    display: flex;
    // 下拉式選單直向排列
    @media screen and(max-width: 1000px) { 
        flex-direction: column;
    }
    .navbar-toggler{
        align-self: flex-start;
    }
    .mycontainer{   
        .mr-auto{
            width: auto;

            display: flex;
            
            position: relative;
            z-index: 10;
            
            // 漢堡標
            @media screen and(max-width: 1000px) { 
                flex-direction: column;
            }
            .nav-item{
                margin-right: 30px;
            }
            .nav-item.active{
               .nav-link{
                    font-size: 24px;
                    font-weight: bold;

                    position: relative;
                    z-index: 30;               
                    &:hover{
                        color: #605D4F;
                    }
                } 
            }
            .dropdown-menu{
                border: 0px;

                background-color: #D9CEC5;   
                .dropdown-item{
                    background-color: transparent;
                }
            }  
        }  
    } 
}

main{
    background-color:#F2ECE4;

    padding-top: 68px;
    // 個人簡介
    .introduction{ 
        .mycontainer{
            .content{
                .top{
                    box-sizing: border-box;

                    display: flex;

                    padding: 45px  0px 0px 0px;  
                    @media screen and(max-width: 1250px) { 
                        flex-direction: column;
                    }
                    // 大頭
                    .pic{
                        width: 560px;
                        height: auto;
                        
                        background-color: transparent;

                        margin-right: 60px;
                        @media screen and(max-width: 1900px) { 
                            width: calc(30vw + 30px);
                            height: auto;
                        }
                        @media screen and(max-width: 1650px) { 
                            width: calc(32vw + 30px);
                        }
                        @media screen and(max-width: 1500px) { 
                            width: calc(34vw + 45px);
                        }
                        @media screen and(max-width: 1400px) { 
                            width: calc(36vw + 45px);
                        }
                        @media screen and(max-width: 1300px) { 
                            width: calc(40vw + 45px);
                        }
                        @media screen and(max-width: 1250px) { 
                            width: calc(25vw + 45px);

                            align-self: center;

                            padding-bottom: 30px;
                            margin-right: 0px;
                        }
                        img{
                            width: 100%;
                            height: auto;

                            border-radius: 50%;

                            border:8px solid rgba(139, 0, 0, 0.438) ;
                        }
                    }
                    // 簡介
                    .short_text{
                        font-size: 28px;
                        font-weight: 600;                       
                        letter-spacing: 3.5px;

                        padding: 20px 50px 0px 50px;
                        @media screen and(max-width: 1650px) { 
                            font-size: 24px;
                        }
                        @media screen and(max-width: 1500px) { 
                            font-size: 22px;
                        }
                        @media screen and(max-width: 1250px) { 
                            font-size: 20px;

                            border-top:3px solid  #BFB8A1 ;

                            align-self: center;

                            margin: auto;  
                            padding-top: 30px;   
                        }
                        @media screen and(max-width: 1000px) { 
                            font-size: 20px;
                        }
                        p{
                            color: #403E3C;

                            margin-bottom: 20px;
                            @media screen and(max-width: 1650px) { 
                                margin-bottom: 15px;
                            }
                            @media screen and(max-width: 1000px) { 
                                margin-bottom: 10px;
                            }
                            &:last-child{
                                color:#606D73;

                                margin-bottom: 0px;     
                            }
                        }
                    }
                }

                // 自我簡介標題
                .big_title{
                    font-size: 42px;
                    font-weight: 600;
                    text-align: center;

                    color: #403E3C;

                    border-bottom: 3px solid  #BFB8A1;

                    padding: 45px 0px;
                    padding-top: 80px;   
                }
                // 技能介紹
                .skills{
                    box-sizing: border-box;
                    // 技能介紹標題
                    .title{
                        font-size: 32px; 
                        font-weight: 600; 
                        letter-spacing: 4px;
                        text-align: center;

                        border-bottom: 3px solid  #BFB8A1;

                        color: #403E3C;

                        padding: 30px 0px;
                        @media screen and(max-width: 1500px) { 
                            font-size: 28px;
                        }
                    }
                    .skill{
                        letter-spacing: 2px;

                        padding: 20px 50px 0px 50px;
                        .fa-check{
                            font-size:36px;

                            color: #403E3C;

                            padding-bottom: 15px;
                            @media screen and(max-width: 1500px) { 
                                font-size: 32px;
                            }
                            .skill_title{
                                font-size: 28px;
                                @media screen and(max-width: 1500px) { 
                                    font-size: 26px;
                                }    
                            }
                        }
                        .text{
                            font-size: 24px;
                            font-weight: 600;

                            color: #606D73;   
                            @media screen and(max-width: 1500px) { 
                                font-size: 22px;
                            }
                        }
                    }    
                }
                // 較長的自我介紹
                .bottom{
                    box-sizing: border-box;

                    padding-top:45px ;
                    .title{
                        font-size: 32px; 
                        font-weight: 600;  
                        letter-spacing: 4px;
                        text-align: center;

                        border-bottom: 3px solid  #BFB8A1;
                        
                        color: #403E3C;

                        padding: 30px 0px;
                        @media screen and(max-width: 1500px) { 
                            font-size: 28px;
                        }
                    }
                    .longtext{     
                        font-size: 26px;
                        font-weight: 600;
                        letter-spacing: 2px;
                        line-height: 56px;

                        color:#595754;

                        padding: 20px 50px 0px 50px;
                        @media screen and(max-width: 1650px) { 
                            font-size: 24px;
                        }
                        @media screen and(max-width: 1500px) { 
                            font-size: 22px;
                        }    
                    }
                }
            }   
        }
    }

    // 認證證照
    .certification{
        padding-top: 80px;
        .mycontainer{
            height: auto;

            box-sizing: border-box;
            .title{
                font-size: 42px;
                font-weight: bold;
                letter-spacing: 4px;
                text-align: center;

                color: #403E3C;
                
                border-bottom:3px solid  #BFB8A1 ;
                
                padding: 30px 0px;
                @media screen and(max-width: 1500px) { 
                    font-size: 38px;
                }
            }
            .content{
                color:#595754;

                letter-spacing: 2px;

                padding: 20px 50px 0px 50px;
                p{
                    font-size: 26px;  
                    font-weight: 600;

                    margin-bottom: 30px;
                    @media screen and(max-width: 1650px) { 
                    font-size: 24px;
                    }
                    @media screen and(max-width: 1500px) { 
                        font-size: 22px;
                    }
                    &:last-child{
                    margin-bottom: 0px;
                    }
                }
            }
        }
    }

    // 作品集
    .portfolio{
        margin-top: 10px;
        .mycontainer{
            // 大標
            .title{ 
                font-size: 42px ;
                font-weight: bold;
                letter-spacing: 4px;
                text-align: center;

                color: #403E3C;
                
                border-bottom:3px solid  #BFB8A1 ;

                padding: 45px 0px;
                @media screen and(max-width: 1500px) { 
                    font-size: 38px;
                }
            }
            .web{
                letter-spacing: 1.5px;
                // 小標
                .web_title{
                    font-size: 32px;  
                    font-weight: 600; 
                    letter-spacing: 4px;
                    text-align: center;

                    color: #403E3C;

                    padding: 30px 0px;                
                    @media screen and(max-width: 1500px) { 
                        font-size: 28px;
                    }    
                }
                .content{
                    // 作品集卡片
                    .mycard{
                        width:100% ;
                        height: auto;

                        border-top:2px solid #BFB8A1 ;

                        padding-top:45px ;
                        padding-bottom: 45px;
                        &:nth-child(1){
                            border-top:3px solid #BFB8A1 ;
                        }
                        &:last-child{
                            padding-bottom: 60px;    
                        }
                        .card_container{
                            width: 97%;
                            height: auto;

                            display: flex;

                            margin:auto;
                            @media screen and(max-width: 1200px) { 
                                flex-direction: column;
                            }
                            // 圖片
                            .pic{
                                width: 40%;

                                margin-right: 60px;
                                @media screen and(max-width: 1280px) { 
                                    margin-right: 45px;  
                                }
                                @media screen and(max-width: 1200px) {
                                    width: 86%; 

                                    margin: auto;
                                    margin-bottom:20px ;
                                }
                                @media screen and(max-width:859px) {
                                    width: 94%; 
                                }
                                img{
                                    width: 100%;
                                    min-height: 23vw;
                                    height: auto;

                                    background-color: darkgray;
                                    @media screen and(max-width: 1500px) { 
                                        min-height:calc(24vw + 30px) ;
                                    }
                                    @media screen and(max-width: 1400px) { 
                                        min-height:calc(26vw + 30px) ;
                                    }
                                    @media screen and(max-width: 1280px) { 
                                        min-height:calc(27vw + 30px) ;
                                    }
                                    @media screen and(max-width: 1200px) { 
                                        min-height:calc(31vw + 30px) ;
                                    }   
                                }
                            }
                            .card_content{
                                width: calc(60% - 60px);
                                height: auto;

                                position: relative;

                                display: flex;
                                flex-direction: column;
                                @media screen and(max-width: 1280px) {
                                    width: calc(60% - 45px);
                                }
                                @media screen and(max-width: 1200px) {
                                    width: 86%; 

                                    margin: auto;
                                }
                                @media screen and(max-width:859px) {
                                    width: 94%; 
                                }
                                // 卡片內容標題
                                .titles{
                                    font-weight: 600;
                                    letter-spacing: 3px;

                                    color:#595754;

                                    margin-bottom: 20px; 
                                    @media screen and(max-width: 1500px) {
                                        margin-bottom: 15px;
                                    }  
                                    &:last-child{
                                        margin-bottom: 0px;
                                    }
                                    .card_title{
                                        font-size: 22px;
                                        @media screen and(max-width: 1650px) {
                                            font-size: 20px;
                                        }    
                                        @media screen and(max-width: 1500px) {
                                            font-size: 18px;
                                        }   
                                        @media screen and(max-width: 1370px) {
                                            font-size: 16px;
                                        }                        
                                    }
                                    .text{
                                        font-size: 22px;
                                        @media screen and(max-width: 1650px) {
                                            font-size: 20px;
                                        }    
                                        @media screen and(max-width: 1500px) {
                                            font-size: 18px;
                                        }   
                                    }
                                    &:nth-child(1){
                                        font-weight:bold;

                                        color: #403E3C;
                                        .card_title{
                                            font-size: 28px;
                                            @media screen and(max-width: 1650px) {
                                                font-size: 26px;
                                            } 
                                            @media screen and(max-width: 1500px) {
                                                font-size: 24px;
                                            } 
                                            @media screen and(max-width: 1370px) {
                                                font-size: 22px;
                                            }      
                                        }
                                        .text{
                                            font-size: 28px;
                                            @media screen and(max-width: 1650px) {
                                                font-size: 26px;
                                            }  
                                            @media screen and(max-width: 1500px) {
                                                font-size: 24px;
                                            } 
                                            @media screen and(max-width: 1370px) {
                                                font-size: 22px;
                                            }  
                                        }
                                    }
                                    &:nth-child(3){
                                        padding-bottom: 25px;
                                        @media screen and(max-width: 1500px) {
                                            padding-bottom: 15px;
                                        }                                   
                                    }
                                    &:nth-child(4){
                                        color:#606D73;
                                        .card_title{
                                            font-size: 26px;
                                            @media screen and(max-width: 1650px) {
                                                font-size: 24px;
                                            }
                                            @media screen and(max-width: 1500px) {
                                                font-size: 22px;
                                            }
                                            @media screen and(max-width: 1370px) {
                                                font-size: 20px;
                                            }   
                                                
                                        }
                                        .text{
                                            font-size: 26px;
                                            @media screen and(max-width: 1650px) {
                                                font-size: 24px;
                                            }
                                            @media screen and(max-width: 1500px) {
                                                font-size: 22px;
    
                                            } 
                                            @media screen and(max-width: 1370px) {
                                                font-size: 20px;
                                            }  
                                        }
                                    }   
                                }
                                
                                // 作品連結
                                a{
                                    width: max-content;

                                    font-size: 18px;
                                    font-weight: 500;
                                    letter-spacing: 3px;

                                    background-color: darkred;

                                    border: 1.5px solid darkred ;
                                       
                                    position: absolute;
                                    bottom :0px; 
                                    right: 0px;

                                    padding: 10px 25px;

                                    text-decoration: none;
                                    button{
                                        width: auto;
                                        height: auto;

                                        color: white;
                                        background-color: transparent;

                                        border: 0px;

                                        text-decoration: none;                           
                                        outline:none;
                                    }
                                    &:hover{
                                        background-color: white;
                                        button{
                                            color: darkred;
                                        }
                                    }
                                    @media screen and(max-width: 1500px) {
                                        font-size: 16px;
                                    } 
                                    @media screen and(max-width: 1370px) {
                                        padding: 10px 25px;
                                    }  
                                    @media screen and(max-width: 1200px) {
                                        font-size: 18px;

                                        top: -80px;
                                        right: 15px;
                                        bottom: initial;

                                        padding: 10px 15px;                         
                                    }                            
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}