body{
    padding: 0px;
    margin: 0px;
}

*{
    box-sizing: border-box;
}

// .log{
//     width: 1600px;
//     display: flex;
//     .pic{
//         img{
//             width: 150px;
//             height: 60px;
//         }
//     }
// }