body{
    margin: 0px;
    padding: 0px;
    
}

.container{
    width: 400px;
    height: 260px;
    position: relative;
    background-color: gold;

    padding: 0px 50px;
  
    margin: 0px auto;
    margin-top: 60px;
    // display: flex;
    .btn{
        position: absolute;
        font-size: 30px;
        font-weight: 600;
        top: 50%;
        transform: translateY(-50%);
    }
    .prev{
        left: 0px;
    }
    .next{
        right: 0px;
    }
    .cards{
        width: 100%;
        height: 100%;
        display: flex;
        overflow-x: hidden;
        &.prev-card{
            
        }

        .two-card{
            min-width: 100px;
            width: 100px;
            height: 100%;
            
            .card{
                width: 100%;
                height: 50%;
                .pic{
                    width: 100%;
                    // height: 100%;
                    img{
                        width: 100%;
                        height: 100px;
                        display: block;
                    }
                }
                .text{
                    width: 100%;
                    text-align: center;
                    height: 30px;
                    max-height: 30px;
                    background-color: saddlebrown;
                }
               
            }
        }
    }
}