html, body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  position: relative;
  margin: 0px auto;
  padding: 0px 60px;
  background-color: sandybrown;
}

.container .swiper-container {
  margin-top: 50px !important;
  width: 100%;
  border-bottom: 1px  solid gainsboro;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .swiper-container .swiper-wrapper {
  width: 100%;
}

.container .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .swiper-container .swiper-wrapper .swiper-slide .item {
  width: 100%;
  height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .swiper-container .swiper-wrapper .swiper-slide .item a {
  width: 100%;
  display: block;
  height: 50%;
  color: saddlebrown;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f5ebc9;
}

.container .swiper-container .swiper-wrapper .swiper-slide .item a .pic {
  width: 80px;
  height: 80px;
  margin: 0px auto;
}

.container .swiper-container .swiper-wrapper .swiper-slide .item a .pic img {
  width: 100%;
  height: 100%;
  display: block;
}

.container .swiper-container .swiper-wrapper .swiper-slide .item .text {
  text-align: center;
  background-color: salmon;
}

.container .swiper-container .button::after {
  font-size: 14px;
  font-weight: 600;
  background-color: gray;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.container .swiper-container .swiper-button-prev {
  left: -10px;
  z-index: 99;
  z-index: 99;
  position: absolute;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 5px !important;
  background: #fd3838 !important;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

.swiper-button-next {
  z-index: 99;
}

.bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(60deg, #f0d784 50%, #f5ebc9 50%, #FFFFFF 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
  display: none;
}

.bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}
/*# sourceMappingURL=shope_test.css.map */