@import"./00-styleguide.scss";

body{
    background-color: white;
}

.hamburger{
    // margin-top: 125vh;
    // /* margin-top: calc(100vh + 350px); */

    // position: sticky;
    // /* top:calc(500vh - 350px); */
    // top: 30vh;
    // transform: translateY(calc(100vh- 100%));
    // float: right;

    // transition-duration: 4s;
    // transition-delay: 2s;

    // background-color: white;


    // z-index: 99;
    .fa-bars{
        // font-size: 28px;

        // /* margin-top: -100vh; */
      

        // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 24%);
        // clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 24%);
        // clip-path: polygon(53% 21%, 100% 0, 100% 71%, 51% 100%, 0 64%, 0 0);

        // transition-duration: 4s;
        // transition-delay: 2s;

        position: fixed;
        font-size: 48px;
        z-index: 99;
        right: 30px;
    }
}

main{
    width: 100%;
    max-width: 1920px;
    position: relative;
    .banner{
        width: 1920px;
        position: relative;
        max-width: 100%;
        height: calc(100vh - 88px);
        overflow: hidden;
        box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.185);
        // transform: blur(.5);
        background-color: white;
        background-image: initial;
        .banner-pic{
            max-width: 1920px;
            width: 100%;
            height: 100%;


            // max-height: 100%;
            // height: max-content;
           

        }
    }
    .about{
        width: 100%;
        height: auto;
        position: relative;
        overflow-x: hidden;
        padding-bottom:$px-08*8 ;

        .about-bg-top{
            width: 1920px;
            height: 430px;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 18.6%);
            background-color: white;
            position: absolute;
            top: 0px;
        }
        .about-bg-bottoms{
            width: 1920px;
            max-width: 1920px;
            width: 100%;
            height: 158px;
            display: flex;
            position: absolute;
            bottom: 0px;
            overflow-x: hidden;
            
            .about-bg-bottom{
                width: 50%;
                height: 100%;
                background-color: white;
            }
            .about-bg-bottom-left{
                clip-path: polygon(0 0, 0% 100%, 100% 100%);
            }
            .about-bg-bottom-right{
                clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            }

        }
        .about-contents{
            position: relative;
            z-index: 2;
            .about-title{
                color: black;
                margin-top:$font-8px*4 ;
                margin-bottom: 104px;
            }
            .about-content{
                display: flex;
                justify-content: space-between;
                .about-card{
                    width:320px;
                    height: auto;
                    @media screen and(max-width:1450px){
                        width: calc(25% - 15px);
                    }
                    .about-card-pic{
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    .about-card-content{
                        width: 100%;
                        padding:0px $px-08 ;
                        letter-spacing: 1px;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .about-card-title{
                            font-size: $font-28px;
                            margin-top:$px-08*2 ;
                        }
                        .about-card-text{
                            font-size: $font-20px;
                            margin-top:$px-08*2 ;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
        .about-machine{
            margin-top: $px-08*6;
            .about-machine-card{
                display: flex;
                justify-content: space-between;
                .about-machine-content{
                    width: 470px;
                    padding: 0px $px-08*8;
                    // justify-content: center;
                    // background-color: wheat;
                    .about-machine-title{
                        width: 100%;
                        padding: 5px;
                        font-size:$font-8px*4 ;
                        display: flex;
                        justify-content: center;

                        background-color: orange;
                        border-radius: 30px;
                        color: white;
                        letter-spacing: 2px;
                    }
                    .about-machine-text{
                        width: 100%;
                        padding: 0px $px-08*2;
                        .texts{
                            font-size: $font-18px;
                            margin-top: $px-08*2;
                            line-height: 28px;
                            letter-spacing: 1px;

                        }
                       
                    }
                }
                .aboutSwiper{
                    width: calc(100% - 470px);
                    height: max-content;
                    border-radius: 15px;
                    box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.342);
                   
                    .swiper-pagination-bullet{
                        width: 20px;
                        height: 20px;
                        background-color: white;
                        border: 1px solid gray;
                    }
                    .swiper-wrapper{
                        width: 100%;
                        .swiper-slide{
                            width: 100%;
                            img{
                                width: 100%;
                                height: auto;
                                border-radius: 15px;
                            
                            }
                        }
                    }
                }
                &:nth-child(2n){
                    flex-direction: row-reverse;
                    margin-top: $px-08*6;
                }
            }
            
        }
    }
    .products{
        position: relative;
        .products-bg{
            width: 1920px;
            max-width: 1920px;
            width: 100%;
            height: 284px;
            // height: 136px;
            background-color: white;
            clip-path: polygon(100% 0, 100% 43.6%, 50% 100%, 0 57.4%, 0 0);
            clip-path: polygon(100% 0, 100% 25%, 50% 100%, 0 25%, 0 0);
            transform: translateY(-1px);
            position: absolute;
            top: 0px;
            z-index: 1;
        }
        .products-content{
            position: relative;
            z-index: 2;
            padding-bottom: 60px;
            .products-title{
                width: 100%;
                display: flex;
                justify-content: center;
                padding-top: 60px;
                padding-bottom: 48px;
            }
            .productsSwiper{
                padding-bottom: 60px;
                .swiper-wrapper{
                    height: max-content;
                    // box-shadow: 0px 0px 5px 3px rgba(128, 128, 128, 0.473);
                    .swiper-slide{
                       
                        
                        img{
                            border-radius: 8px;
                            opacity: .7;
                            box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.473);
                        }
                    }
                    .swiper-slide-active{
 
                        img{
                            border-radius: 8px;
                            box-shadow: 8px 8px 15px rgba(128, 128, 128, 0.473);
                            opacity: 1;
                        }
                    }
                }
                
                .swiper-pagination{
                    bottom: 0px;
                    .swiper-pagination-bullet{
                        width: 20px;
                        height: 20px;
                        background-color: white;
                        border: 2px solid gray;
                    }
                }
            }
        }
      
    }
    .exhibition{
        width: 100%;
        max-width: 1920px;
        position: relative;
        // overflow-x: hidden;
        .exhibition-bg{
            width: 1920px;
            max-width: 1920px;
            width: 100%;
            height: 787px;
            clip-path: polygon(0 35.9%, 50% 0, 100% 35.9%, 100% 64.1%, 50% 100%, 0 64.1%);
            background-color: white;
            position: absolute;
            top: 0px;
        }
        .exhibition-content{
            width: 100%;
            position: relative;
            z-index: 2;
            .exhibition-title{
                display: flex;
                justify-content: center;
                align-items: center;
              
                width: 500px;
                height: 84px;
                margin: 0px auto;
                background-color: white;
                border-radius: 50px;
                border: 3px solid burlywood;
            }
            .exhibition-pics{
                display: flex;
                margin-top:$px-08*4 ;
                width: 50%;
                img{
                    width: 100%;
                }
            }
        }
    }
    .contact{
        padding-top:$px-08*9;
        padding-bottom: 30px;
       
        .contact-content{

            position: relative;
            overflow-x: hidden;
            z-index: 2;
            .contact-title{
                display: flex;
                justify-content: center;
                align-items: center;
              
                width: 500px;
                height: 84px;
                margin: 0px auto;
                background-color: white;
                border-radius: 50px;
                border: 3px solid burlywood;
                margin-bottom: $px-08*6;
            }
            .shop-informations{
                display: flex;
                justify-content: space-between;
                .shop-information{
                    display: flex;
                    justify-content: space-between;
                    width: calc(50% - 17.5px);
                    padding: $px-08*3;
                    background-color: white;
                    border-radius: 24px;
                    .informations{
                        width: calc(100% - 324px);
                        .infoemation-title{
                            border-left: 12px solid orange;
                            padding: 2px 0px;
                            padding-left: 16px;
                            font-size: $font-28px;
                            margin-bottom:$px-08*3 ;
                        }
                        .infoemation-item{
                            display: flex;
                            padding-left: 24px;
                            align-items: baseline;
                            margin-bottom: $px-08*2;
                            .icon{
                                width: 32px;
                                font-size: 32px;
                                color: rgb(15, 49, 80);
                                margin-right: 8px;
                            }
                            .text{
                                font-size:$font-20px ;
                            }

                        }
                    }
                    iframe{
                        width: 300px;
                        height: 300px;

                        border-radius: $px-08;
                    }
                }
            }
        }
    }
}