@import"./00-styleguide.scss";
.hamburger-btn{
    max-width: 1920px;
    width: 100%;

    margin: 0px auto;

    position: fixed;
    display: flex;
    justify-content: flex-end;
    

    z-index: 98;
    top: 10px;
   
    .hamburger{
        width: max-content;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: white;
        background-color: rgba(25, 25, 66, 1);
        border: 3px solid rgb(25, 25, 66);
        box-shadow: -5px -5px 3px inset rgb(0, 0, 7);
        border-radius: 5px; 
   
        display: none;
        &.show{
            display: block;
            display: flex;
        }
        .fa-bars{
          
            font-size: 36px;
            z-index: 99;
            color: white;
    
            
        }
        &:hover{
            background-color: white;
            box-shadow: 2px 2px 8px  rgba(13, 13, 66, 0.548);    

    
            transition: .6s;
            cursor: pointer;
            .fa-bars{
                color: rgb(25, 25, 66);  
    
                transition: .6s;
            }
        }
    }
}

.hamburger-content{
    max-width: 1920px;
    width: 100%;
    max-height: max-content;
    min-height: 100vh;
    height:100vh ;
    overflow-y: auto;
    background-color: rgb(25, 25, 66);
    position: fixed;
    overflow-y: auto;


    align-items: center;
    justify-content: center;
    top: 0px;
    z-index: 99;
    opacity: 0;
    transform: translateX(-100%);
    &.show{
        display: flex;
        opacity: 1;
        transform: translateX(0%);

        transition: all .8s ease-out ;
    }

    .close-btn{
        width:70px;
        height: 70px;
        position: absolute;
        top: 2px;
        right:0px;
        cursor: pointer;
        .fa-times{
            font-size:68px;
            color: white;
            &:hover{
                transform: rotate(180deg);

                transition: .6s;
            }
        }
    }

    .hamburger-links{
        width: max-content;
        height: max-content;
        display: flex;
        align-items: center;
        flex-direction: column;
        a{
            border-bottom: 2px solid transparent;
            padding: 2px 5px;

            cursor: pointer;
           

        }
        .hamburger-link{
            width: max-content;
            display: flex;
            font-size: 32px;
            color: white;
            margin-bottom: 20px;
            padding-bottom: 16px;
            position: relative;
            &:nth-last-child(1){
                margin-bottom: 0px;
            }
            .hamburger-link-hover{
                position: absolute;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 0px;
                height: 4px;
                background-color: white;
            }
            &:hover{
                .hamburger-link-hover{
                    width: 100%;

                    transition: .6s;
                }
                
            }
            .small-hamburger-link{
                position: relative;
                padding-bottom: 16px;
                .small-hamburger-link-hover{
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0px;
                    height: 4px;
                    background-color: white;
                }
                &:hover{
                    .small-hamburger-link-hover{
                        width: 100%;
    
                        transition: .6s;
                    }
                    
                }
            }
        }
    }
}